Repository dust-tt/dust, pull requests merged in 2024-09, with the labels that each got.

#7057 Introduce `dustAPIDataSourceId` on `front` DataSources
  front/lib/models/data_source.ts
  front/lib/resources/data_source_resource.ts
  front/migrations/20230522_slack_doc_rename_incident.ts
  front/migrations/db/migration_67.sql
  front/pages/api/w/[wId]/data_sources/index.ts
  front/pages/api/w/[wId]/data_sources/managed.ts
  front/pages/api/w/[wId]/vaults/[vId]/data_sources/index.ts
  types/src/front/data_source.ts
Labels: migration-ack

#7058 Set vaultId not null on front data_sources
  front/lib/models/data_source.ts
  front/migrations/db/migration_69.sql
Labels: migration-ack

#7066 `dustAPIDataSourceId` not null + batch one of using it
  front/admin/cli.ts
  front/lib/api/data_source_view.ts
  front/lib/api/data_sources.ts
  front/lib/documents_post_process_hooks/hooks/data_source_helpers.ts
  front/lib/documents_post_process_hooks/hooks/document_tracker/suggest_changes/lib.ts
  front/lib/models/data_source.ts
  front/migrations/20230522_slack_doc_rename_incident.ts
  front/migrations/20230803_wipe_gdrive_connectors.ts
  front/migrations/20231107_empty_data_sources.ts
  front/migrations/20240524_clean_up_orphaned_core_data_sources.ts
  front/migrations/db/migration_70.sql
  front/pages/api/poke/workspaces/[wId]/data_sources/[name]/documents/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/documents/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/search.ts
  front/pages/api/w/[wId]/data_sources/[name]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/documents/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/search.ts
  front/pages/api/w/[wId]/data_sources/managed.ts
  front/pages/api/w/[wId]/vaults/[vId]/data_source_views/[dsvId]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/vaults/[vId]/data_sources/index.ts
  front/pages/poke/[wId]/data_sources/[name]/view.tsx
  front/temporal/documents_post_process_hooks/activities.ts
  types/src/front/data_source.ts
  types/src/front/lib/core_api.ts
Labels: migration-ack, documentation-ack

#7082 Continued move to dustAPIDataSourceId
  front/admin/cli.ts
  front/components/assistant_builder/server_side_props_helpers.ts
  front/lib/api/data_source_view.ts
  front/lib/api/tables.ts
  front/lib/document_tracker.ts
  front/lib/documents_post_process_hooks/hooks/data_source_helpers.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/documents/[documentId]/parents.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/[tId]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/[tId]/parents.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/[tId]/rows/[rId].ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/[tId]/rows/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tokenize.ts
  front/pages/api/w/[wId]/data_sources/[name]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/tables/[tId]/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/tables/csv.ts
  front/pages/api/w/[wId]/data_sources/[name]/tables/index.ts
  front/temporal/upsert_queue/activities.ts
  types/src/front/lib/core_api.ts
Labels: documentation-ack

#7070 Specify group id for Slack whitelisted domains.
  connectors/src/connectors/slack/lib/cli.ts
  connectors/src/connectors/slack/lib/workspace_limits.ts
  connectors/src/lib/models/slack.ts
  front/migrations/20240903_backfill_slack_whitelisted_domains_groups.ts
Labels: migration-ack

#7108 Return DataSourceResource instead of DataSourceType in getDataSource
  front/lib/api/data_sources.ts
  front/lib/api/tables.ts
  front/lib/resources/data_source_resource.ts
  front/lib/upsert_queue.ts
  front/pages/api/poke/workspaces/[wId]/data_sources/[name]/managed/permissions.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/managed/permissions/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/tables/[tId]/index.ts
  front/pages/api/w/[wId]/data_sources/index.ts
  front/pages/api/w/[wId]/data_sources/managed.ts
  front/pages/poke/[wId]/data_sources/[name]/index.tsx
  front/pages/poke/[wId]/data_sources/[name]/search.tsx
  front/pages/w/[wId]/builder/data-sources/[name]/edit-public-url.tsx
  front/pages/w/[wId]/builder/data-sources/[name]/index.tsx
  front/pages/w/[wId]/builder/data-sources/[name]/search.tsx
  front/pages/w/[wId]/builder/data-sources/[name]/settings.tsx
  front/pages/w/[wId]/builder/data-sources/[name]/tables/upsert.tsx
  front/pages/w/[wId]/builder/data-sources/[name]/upsert.tsx
  types/src/front/data_source.ts
Labels: documentation-ack

#7111 deleteDataSource take resource and fix previous PR
  front/lib/api/data_sources.ts
  front/lib/resources/data_source_resource.ts
  front/pages/api/poke/workspaces/[wId]/data_sources/[name]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/index.ts
  front/pages/api/w/[wId]/data_sources/index.ts
  front/pages/api/w/[wId]/vaults/[vId]/data_sources/[dsId]/documents/index.ts
  front/pages/api/w/[wId]/vaults/[vId]/data_sources/[dsId]/index.ts
  front/pages/api/w/[wId]/vaults/[vId]/data_sources/[dsId]/tables/[tableId]/index.ts
  front/pages/api/w/[wId]/vaults/[vId]/data_sources/[dsId]/tables/index.ts
  front/pages/poke/[wId]/index.tsx
  front/pages/w/[wId]/builder/data-sources/[name]/edit-public-url.tsx
  front/pages/w/[wId]/builder/data-sources/managed.tsx
  front/pages/w/[wId]/builder/data-sources/new-public-url.tsx
  front/pages/w/[wId]/builder/data-sources/new.tsx
  front/pages/w/[wId]/builder/data-sources/public-urls.tsx
  front/pages/w/[wId]/builder/data-sources/static.tsx
  front/temporal/scrub_workspace/activities.ts
Labels: documentation-ack

#7118 upsert_queue and post_upsert_hook move to dataSourceId
  front/lib/api/data_sources.ts
  front/lib/documents_post_process_hooks/hooks/data_source_helpers.ts
  front/lib/documents_post_process_hooks/hooks/document_tracker/suggest_changes/lib.ts
  front/lib/documents_post_process_hooks/hooks/document_tracker/update_tracked_documents/lib.ts
  front/lib/documents_post_process_hooks/hooks/index.ts
  front/lib/upsert_queue.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/tables/csv.ts
  front/scripts/replay-upsert-document-queue-tasks.ts
  front/temporal/documents_post_process_hooks/activities.ts
  front/temporal/documents_post_process_hooks/client.ts
  front/temporal/documents_post_process_hooks/workflows.ts
  front/temporal/upsert_queue/activities.ts
  front/temporal/upsert_queue/client.ts
Labels: documentation-ack

#7078 [Vaults] Add groupIds column to agent_configurations
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/models/assistant/agent.ts
  front/lib/resources/data_source_view_resource.ts
  front/migrations/db/migration_71.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  types/src/front/api_handlers/internal/agent_configuration.ts
  types/src/front/assistant/agent.ts
Labels: migration-ack

#7104 Attach system group when creating system key.
  front/lib/auth.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/key_resource.ts
  front/lib/resources/storage/models/keys.ts
  front/migrations/db/migration_72.sql
  front/pages/api/w/[wId]/keys/index.ts
Labels: migration-ack

#7124 Enforce `dataSourceViewId` existence on `agent_tables_query_configuration_tables`
  front/lib/api/assistant/configuration/table_query.ts
  front/lib/client/tables_query.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/migrations/20240902_backfill_views_in_agent_table_query_configurations.ts
  front/migrations/db/migration_72.sql
  front/migrations/db/migration_73.sql
  front/pages/w/[wId]/builder/data-sources/[name]/index.tsx
  types/src/front/api_handlers/internal/agent_configuration.ts
  types/src/front/assistant/actions/tables_query.ts
Labels: migration-ack

#7128 connector: remove all occurrences of dataSourceName in favor of dataSourceId
  connectors/src/api/create_connector.ts
  connectors/src/api/webhooks/webhook_intercom.ts
  connectors/src/connectors/confluence/index.ts
  connectors/src/connectors/confluence/temporal/activities.ts
  connectors/src/connectors/github/index.ts
  connectors/src/connectors/github/lib/cli.ts
  connectors/src/connectors/github/temporal/activities.ts
  connectors/src/connectors/github/temporal/client.ts
  connectors/src/connectors/github/temporal/utils.ts
  connectors/src/connectors/github/temporal/workflows.ts
  connectors/src/connectors/google_drive/index.ts
  connectors/src/connectors/google_drive/lib/cli.ts
  connectors/src/connectors/google_drive/temporal/activities.ts
  connectors/src/connectors/google_drive/temporal/file.ts
  connectors/src/connectors/intercom/index.ts
  connectors/src/connectors/intercom/temporal/activities.ts
  connectors/src/connectors/microsoft/index.ts
  connectors/src/connectors/microsoft/temporal/activities.ts
  connectors/src/connectors/microsoft/temporal/file.ts
  connectors/src/connectors/notion/index.ts
  connectors/src/connectors/notion/lib/cli.ts
  connectors/src/connectors/notion/temporal/activities.ts
  connectors/src/connectors/notion/temporal/client.ts
  connectors/src/connectors/shared/file.ts
  connectors/src/connectors/slack/index.ts
  connectors/src/connectors/webcrawler/index.ts
  connectors/src/lib/api/data_source_config.ts
  connectors/src/lib/cli.ts
  connectors/src/lib/data_sources.ts
  connectors/src/lib/databases.ts
  connectors/src/resources/connector_resource.ts
  connectors/src/resources/storage/models/connector_model.ts
  connectors/src/types/data_source_config.ts
  front/components/data_source/DataSourceSyncChip.tsx
  front/components/vaults/VaultResourcesList.tsx
  front/lib/production_checks/checks/check_notion_active_workflows.ts
  front/lib/swr/connectors.ts
  front/pages/api/w/[wId]/data_sources/managed.ts
  front/pages/api/w/[wId]/vaults/[vId]/data_sources/index.ts
  front/pages/poke/connectors/[connectorId]/index.tsx
  front/pages/w/[wId]/builder/data-sources/[name]/index.tsx
  front/pages/w/[wId]/builder/data-sources/managed.tsx
  types/src/connectors/api_handlers/create_connector.ts
  types/src/connectors/notion.ts
  types/src/front/data_source.ts
  types/src/front/lib/connectors_api.ts
  types/src/front/lib/dust_api.ts
Labels: migration-ack

#7138 Finalize connectors move to dataSourceId (sId)
  connectors/migrations/db/migration_14.sql
  connectors/src/api/delete_connector.ts
  connectors/src/connectors/github/lib/cli.ts
  connectors/src/connectors/google_drive/lib/cli.ts
  connectors/src/connectors/microsoft/lib/cli.ts
  connectors/src/connectors/notion/lib/cli.ts
  connectors/src/lib/cli.ts
  connectors/src/resources/storage/models/connector_model.ts
Labels: migration-ack

#7174 vaultId on App
  front/admin/db.ts
  front/components/app/blocks/DataSource.tsx
  front/lib/api/app.ts
  front/lib/api/assistant/configuration/dust_app_run.ts
  front/lib/api/datasets.ts
  front/lib/resources/app_resource.ts
  front/lib/resources/dataset_resource.ts
  front/lib/resources/run_resource.ts
  front/lib/resources/storage/models/apps.ts
  front/lib/resources/storage/models/runs.ts
  front/migrations/20230413_objects_workspaces.ts
  front/migrations/20230413_runs.ts
  front/migrations/20240906_backfill_apps_vault_ids.ts
  front/migrations/db/migration_75.sql
  front/pages/api/v1/w/[wId]/apps/[aId]/runs/index.ts
  front/pages/api/w/[wId]/apps/[aId]/clone.ts
  front/pages/api/w/[wId]/apps/[aId]/datasets/[name]/index.ts
  front/pages/api/w/[wId]/apps/[aId]/datasets/index.ts
  front/pages/api/w/[wId]/apps/[aId]/index.ts
  front/pages/api/w/[wId]/apps/[aId]/runs/index.ts
  front/pages/api/w/[wId]/apps/[aId]/state.ts
  front/pages/api/w/[wId]/apps/index.ts
  front/pages/api/w/[wId]/providers/[pId]/index.ts
  front/pages/api/w/[wId]/providers/[pId]/models.ts
  front/pages/api/w/[wId]/providers/index.ts
  front/pages/w/[wId]/a/[aId]/index.tsx
  front/pages/w/[wId]/a/index.tsx
  front/poke/temporal/activities.ts
Labels: migration-ack, documentation-ack

#7180 Enforce vaultId not NULL on Apps
  front/lib/resources/storage/models/apps.ts
  front/migrations/db/migration_76.sql
Labels: migration-ack

#7206 [front/api] - feat(workspace): add pagination to `getMembers` function
  front/admin/cli.ts
  front/lib/api/data_sources.ts
  front/lib/api/invitation.ts
  front/lib/api/user.ts
  front/lib/api/workspace.ts
  front/lib/auth.ts
  front/lib/document_tracker.ts
  front/lib/iam/session.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/membership_resource.ts
  front/lib/swr/memberships.ts
  front/lib/tracking/customerio/server.ts
  front/migrations/20240513_backfill_customerio_delete_free_test.ts
  front/migrations/20240513_backfill_customerio_membership_timestamps.ts
  front/pages/api/login.ts
  front/pages/api/poke/workspaces/index.ts
  front/pages/api/stripe/webhook.ts
  front/pages/api/v1/w/[wId]/members/emails.ts
  front/pages/api/w/[wId]/members/index.ts
  front/pages/poke/[wId]/memberships.tsx
  front/poke/temporal/activities.ts
  front/temporal/scrub_workspace/activities.ts
Labels: documentation-ack

#7190 App is no more outside migrations and resources
  front/components/assistant_builder/server_side_props_helpers.ts
  front/lib/api/app.ts
  front/lib/api/assistant/actions/dust_app_run.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/configuration/dust_app_run.ts
  front/lib/api/datasets.ts
  front/lib/resources/app_resource.ts
  front/lib/resources/dataset_resource.ts
  front/lib/resources/storage/models/apps.ts
  front/pages/api/v1/w/[wId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/apps/[aId]/runs/index.ts
  front/pages/api/v1/w/[wId]/apps/index.ts
  front/pages/api/w/[wId]/apps/[aId]/clone.ts
  front/pages/api/w/[wId]/apps/[aId]/datasets/[name]/index.ts
  front/pages/api/w/[wId]/apps/[aId]/datasets/index.ts
  front/pages/api/w/[wId]/apps/[aId]/runs/[runId]/blocks/[type]/[name]/index.ts
  front/pages/api/w/[wId]/apps/[aId]/runs/[runId]/status.ts
  front/pages/api/w/[wId]/apps/[aId]/runs/index.ts
  front/pages/api/w/[wId]/apps/[aId]/state.ts
  front/pages/api/w/[wId]/apps/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/vaults/[vId]/apps/[aId]/index.ts
  front/pages/w/[wId]/a/[aId]/clone.tsx
  front/pages/w/[wId]/a/[aId]/datasets/[name]/index.tsx
  front/pages/w/[wId]/a/[aId]/datasets/index.tsx
  front/pages/w/[wId]/a/[aId]/datasets/new.tsx
  front/pages/w/[wId]/a/[aId]/index.tsx
  front/pages/w/[wId]/a/[aId]/runs/[runId]/index.tsx
  front/pages/w/[wId]/a/[aId]/runs/index.tsx
  front/pages/w/[wId]/a/[aId]/settings.tsx
  front/pages/w/[wId]/a/[aId]/specification.tsx
  front/pages/w/[wId]/a/index.tsx
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/poke/temporal/activities.ts
Labels: migration-ack, documentation-ack

#7249 Remove concept of public dust apps (other than dust-apps public vaults)
  front/components/vaults/VaultAppsList.tsx
  front/components/vaults/VaultCreateAppModal.tsx
  front/lib/resources/app_resource.ts
  front/lib/resources/storage/models/apps.ts
  front/migrations/20240910_migrate_public_apps_as_private.sql
  front/pages/api/w/[wId]/apps/[aId]/clone.ts
  front/pages/api/w/[wId]/apps/[aId]/datasets/[name]/index.ts
  front/pages/api/w/[wId]/apps/[aId]/index.ts
  front/pages/api/w/[wId]/apps/[aId]/runs/[runId]/status.ts
  front/pages/api/w/[wId]/apps/index.ts
  front/pages/w/[wId]/vaults/[vaultId]/apps/[aId]/clone.tsx
  front/pages/w/[wId]/vaults/[vaultId]/apps/[aId]/datasets/[name]/index.tsx
  front/pages/w/[wId]/vaults/[vaultId]/apps/[aId]/datasets/index.tsx
  front/pages/w/[wId]/vaults/[vaultId]/apps/[aId]/index.tsx
  front/pages/w/[wId]/vaults/[vaultId]/apps/[aId]/settings.tsx
  front/pages/w/[wId]/vaults/[vaultId]/apps/index.tsx
  front/pages/w/[wId]/vaults/[vaultId]/apps/new.tsx
  types/src/front/app.ts
Labels: migration-ack

#7266 Add public API wrapper
  front/lib/api/wrappers.ts
  front/lib/http_api/group_header.ts
  front/pages/api/v1/w/[wId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/apps/[aId]/runs/index.ts
  front/pages/api/v1/w/[wId]/apps/index.ts
  front/pages/api/v1/w/[wId]/assistant/agent_configurations.ts
  front/pages/api/v1/w/[wId]/assistant/agent_configurations/search.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/content_fragments.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/documents/[documentId]/parents.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/documents/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/search.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/[tId]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/[tId]/parents.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/[tId]/rows/[rId].ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/[tId]/rows/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/csv.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tokenize.ts
  front/pages/api/v1/w/[wId]/data_sources/index.ts
  front/pages/api/v1/w/[wId]/feature_flags.ts
  front/pages/api/v1/w/[wId]/members/emails.ts
  front/pages/api/v1/w/[wId]/usage.ts
  front/pages/api/v1/w/[wId]/verified_domains.ts
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
Labels: documentation-ack

#7280 Flav/dsv retrieval document
  front/lib/api/assistant/actions/retrieval.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/retrieval.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/resources/retrieval_document_resource.ts
  front/migrations/20240911_backfill_views_in_retrieval_documents.ts
  front/migrations/db/migration_77.sql
Labels: migration-ack

#7277 feat: migrate dust apps v1 endpoints to vaults
  front/lib/api/assistant/actions/dust_app_run.ts
  front/lib/resources/group_resource.ts
  front/pages/api/v1/w/[wId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/apps/[aId]/runs/index.ts
  front/pages/api/v1/w/[wId]/apps/index.ts
  front/pages/api/v1/w/[wId]/vaults/[vId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/vaults/[vId]/apps/[aId]/runs/index.ts
  front/pages/api/v1/w/[wId]/vaults/[vId]/apps/index.ts
  types/src/front/lib/dust_api.ts
Labels: documentation-ack

#7292 Bump content fragment size limit to 128kb in the API
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/content_fragments.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
Labels: documentation-ack

#7309 Add log to understand why some AgentTablesQueryConfigurationTable disappear
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/resources/data_source_resource.ts
Labels: migration-ack

#7327 enh: prevent deleting ds / dsview if there are still agent dsconfigs
  front/components/poke/data_sources/columns.tsx
  front/lib/models/assistant/actions/data_sources.ts
  front/migrations/db/migration_79.sql
Labels: migration-ack

#7437 nit origin naming
  front/lib/resources/data_source_resource.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/documents/[documentId]/index.ts
Labels: documentation-ack

#7398 Flav/agent tables query data source id wave 1
  front/lib/api/assistant/configuration/table_query.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/migrations/20240916_backfill_ds_in_agent_table_query_configurations.ts
  front/migrations/db/migration_80.sql
Labels: migration-ack

#7399 Remove legacy `dataSourceId` string column
  front/lib/api/assistant/configuration/table_query.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/resources/data_source_resource.ts
  front/migrations/20240902_backfill_views_in_agent_table_query_configurations.ts
  front/migrations/20240916_backfill_ds_in_agent_table_query_configurations.ts
  front/migrations/db/migration_80.sql
  front/migrations/db/migration_81.sql
Labels: migration-ack

#7438 Flav/agent tables query data source id wave 3
  front/lib/api/assistant/configuration/table_query.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/resources/data_source_resource.ts
  front/migrations/20240902_backfill_views_in_agent_table_query_configurations.ts
  front/migrations/20240916_backfill_ds_in_agent_table_query_configurations.ts
  front/migrations/db/migration_82.sql
Labels: migration-ack

#7461 Delete configurations pointing to ds views on delete
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/resources/data_source_view_resource.ts
Labels: migration-ack

#7504 `dataSource.name` -> `dataSource.sId` batch I
  front/components/ManagedDataSourceDocumentModal.tsx
  front/components/data_source/WebsiteConfiguration.tsx
  front/components/poke/data_sources/columns.tsx
  front/lib/swr/connectors.ts
  front/lib/swr/data_sources.ts
  front/migrations/20240830_check_no_undeleted_documents.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/rows/[rId].ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/rows/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/index.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/tables/[tId]/index.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/tables/index.ts
  front/pages/poke/[wId]/data_sources/[dsId]/index.tsx
  front/pages/poke/[wId]/data_sources/[dsId]/search.tsx
  front/pages/w/[wId]/builder/data-sources/[dsId]/index.tsx
  front/pages/w/[wId]/builder/data-sources/[dsId]/search.tsx
  front/pages/w/[wId]/builder/data-sources/[dsId]/tables/upsert.tsx
  front/pages/w/[wId]/builder/data-sources/[dsId]/upsert.tsx
  front/pages/w/[wId]/builder/data-sources/public-urls.tsx
  front/poke/swr.ts
Labels: documentation-ack

#7563 Remove comment for RetrievalDocument (verify backfill)
  front/lib/models/assistant/actions/retrieval.ts
Labels: migration-ack

#7571 Finalize AgentDataSourceConfigurations
  front/lib/models/assistant/actions/data_sources.ts
  front/migrations/20240820_backfill_views_in_agent_data_source_configurations.ts
  front/migrations/db/migration_84.sql
Labels: migration-ack

#7555 Remove dataSourceId from assistant builder & use dustAPIDataSourceId in actions
  connectors/src/connectors/slack/chat/citations.ts
  front/components/assistant/AssistantDetails.tsx
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/poke/data_sources/columns.tsx
  front/components/poke/data_sources/table.tsx
  front/lib/api/assistant/actions/process.ts
  front/lib/api/assistant/actions/retrieval.ts
  front/lib/api/assistant/actions/tables_query.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/configuration/process.ts
  front/lib/api/assistant/configuration/retrieval.ts
  front/lib/api/assistant/configuration/table_query.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/resources/retrieval_document_resource.ts
  front/pages/api/registry/[type]/lookup.ts
  front/pages/poke/[wId]/index.tsx
  types/src/front/api_handlers/internal/agent_configuration.ts
  types/src/front/assistant/actions/retrieval.ts
  types/src/front/assistant/actions/tables_query.ts
Labels: migration-ack

#7597 name -> dsId in docs
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/documents/[documentId]/parents.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/documents/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/search.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/rows/[rId].ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/rows/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/index.ts
  front/public/swagger.json
Labels: documentation-ack

#7602 Flav/edited by not nullable
  front/admin/db.ts
  front/components/vaults/CreateOrEditVaultModal.tsx
  front/lib/api/agent_data_sources.ts
  front/lib/api/assistant/configuration/process.ts
  front/lib/api/assistant/configuration/retrieval.ts
  front/lib/api/assistant/configuration/table_query.ts
  front/lib/models/assistant/actions/data_sources.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/models/doc_tracker.ts
  front/lib/resources/data_source_resource.ts
  front/lib/resources/storage/models/data_source.ts
  front/lib/resources/storage/models/data_source_view.ts
  front/lib/resources/storage/models/labs_transcripts.ts
  front/migrations/20230413_objects_workspaces.ts
  front/migrations/20230522_slack_doc_rename_incident.ts
  front/migrations/20230803_wipe_gdrive_connectors.ts
  front/migrations/20230821_assistantDefaultSelected.ts
  front/migrations/20231107_empty_data_sources.ts
  front/migrations/20240227_cleanup_dangling_webcrawler_connectors.ts
  front/migrations/20240411_compute_qdrant_collections_to_migrate.ts
  front/migrations/20240912_backfill_editedbyuser_id.ts
  front/migrations/db/migration_85.sql
Labels: migration-ack

#7629 clean up RetreievalDocument table
  front/lib/api/assistant/actions/retrieval.ts
  front/lib/models/assistant/actions/retrieval.ts
  front/lib/resources/retrieval_document_resource.ts
  front/migrations/20240911_backfill_views_in_retrieval_documents.ts
  front/migrations/db/migration_87.sql
Labels: migration-ack

#7647 clean-up AgentTableQueryConfigurationTable
  front/lib/api/agent_data_sources.ts
  front/lib/api/assistant/configuration/process.ts
  front/lib/api/assistant/configuration/retrieval.ts
  front/lib/api/assistant/configuration/table_query.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/resources/data_source_resource.ts
  front/migrations/20240902_backfill_views_in_agent_table_query_configurations.ts
  front/migrations/db/migration_88.sql
Labels: migration-ack

#7639 Update API routes for remote_db id and secret id
  core/bin/dust_api.rs
  core/src/databases/database.rs
  core/src/stores/postgres.rs
  core/src/stores/store.rs
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/index.ts
  front/public/swagger.json
  types/src/front/lib/core_api.ts
Labels: documentation-ack

#7655 Actually do not put remote_database ids on api docs because can't be …
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tables/index.ts
  front/public/swagger.json
Labels: migration-ack

#7665 Fix index table query after removal of dataSourceWorkspaceId
  front/lib/models/assistant/actions/tables_query.ts
  front/migrations/db/migration_89.sql
Labels: migration-ack

#7672 Add: missing indexes on agent_data_source_configurations
  front/lib/models/assistant/actions/data_sources.ts
  front/migrations/db/migration_90.sql
Labels: migration-ack

#7674 Table Query config: fix unique indexes
  front/lib/models/assistant/actions/tables_query.ts
  front/migrations/db/migration_91.sql
Labels: migration-ack

#7643 Add enum for context origin in docs
  front/pages/api/v1/w/[wId]/swagger_schemas.ts
  front/public/swagger.json
Labels: documentation-ack

#7700 Stop relying on name as core.data_source_id
  core/bin/dust_api.rs
  core/src/data_sources/data_source.rs
  front/lib/documents_post_process_hooks/hooks/document_tracker/suggest_changes/lib.ts
  front/lib/resources/data_source_resource.ts
  front/lib/resources/resource_with_vault.ts
  front/lib/resources/storage/models/data_source.ts
  front/migrations/20230522_slack_doc_rename_incident.ts
  front/migrations/20230803_wipe_gdrive_connectors.ts
  front/migrations/db/migration_92.sql
  front/pages/api/w/[wId]/data_sources/index.ts
  front/pages/api/w/[wId]/data_sources/managed.ts
  front/pages/api/w/[wId]/vaults/[vId]/data_sources/index.ts
  types/src/front/lib/core_api.ts
Labels: migration-ack

#7692 [Slack] Whitelist to allow indexing a bot's messages
  connectors/migrations/db/migration_16.sql
  connectors/src/connectors/slack/lib/cli.ts
  connectors/src/connectors/slack/lib/workspace_limits.ts
  connectors/src/connectors/slack/temporal/activities.ts
  connectors/src/lib/models/slack.ts
  connectors/src/resources/slack_configuration_resource.ts
  front/pages/poke/[wId]/data_sources/[dsId]/index.tsx
  types/src/connectors/slack.ts
Labels: migration-ack

#7705 [front] - fix(transcripts): unicity constraint
  front/lib/resources/storage/models/labs_transcripts.ts
  front/migrations/db/migration_93.sql
Labels: migration-ack

#7753 Remote tables: add flags to specify permission
  connectors/migrations/db/migration_18.sql
  connectors/src/lib/models/remote_databases.ts
Labels: migration-ack

#7744 [front] Add vaults count limit in plans
  front/components/poke/plans/createPlan.tsx
  front/components/poke/plans/form.tsx
  front/components/poke/subscriptions/table.tsx
  front/components/vaults/VaultLayout.tsx
  front/components/vaults/VaultSideBarMenu.tsx
  front/lib/models/plan.ts
  front/lib/plans/enterprise_plans.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/migrations/db/migration_94.sql
  front/pages/api/poke/plans.ts
  front/pages/api/w/[wId]/vaults/index.ts
  front/pages/w/[wId]/vaults/[vaultId]/categories/[category]/data_source_views/[dataSourceViewId].tsx
  front/pages/w/[wId]/vaults/[vaultId]/categories/[category]/index.tsx
  front/pages/w/[wId]/vaults/[vaultId]/index.tsx
  types/src/front/plan.ts
Labels: migration-ack

#7763 Fix & improvements to existing vaults endpoints for apps
  front/pages/api/v1/w/[wId]/vaults/[vId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/vaults/[vId]/apps/[aId]/runs/index.ts
  front/pages/api/v1/w/[wId]/vaults/[vId]/apps/index.ts
Labels: documentation-ack
