Repository dust-tt/dust, pull requests merged in 2024-11, with the labels that each got.

#8459 fix: tables rows upsert request parsing is broken
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/rows/index.ts
Labels: documentation-ack

#8460 fix: tables update parents request parsing is broken
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/parents.ts
Labels: documentation-ack

#8450 [connectors] Implement upsertion for the articles (Help Center)
  connectors/migrations/db/migration_30.sql
  connectors/src/connectors/zendesk/index.ts
  connectors/src/connectors/zendesk/lib/help_center_permissions.ts
  connectors/src/connectors/zendesk/lib/permissions.ts
  connectors/src/connectors/zendesk/temporal/activities.ts
  connectors/src/connectors/zendesk/temporal/sync_article.ts
  connectors/src/connectors/zendesk/temporal/workflows.ts
  connectors/src/lib/models/zendesk.ts
  connectors/src/resources/zendesk_resources.ts
Labels: migration-ack

#8509 Upsert ZD ticket to DS
  connectors/migrations/db/migration_31.sql
  connectors/src/connectors/zendesk/lib/node-zendesk-types.d.ts
  connectors/src/connectors/zendesk/temporal/activities.ts
  connectors/src/connectors/zendesk/temporal/sync_ticket.ts
  connectors/src/lib/models/zendesk.ts
  connectors/src/resources/zendesk_resources.ts
Labels: migration-ack

#8550 Api client - Add me() method (& types), simplify streamAgentAnswer()
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  front/package-lock.json
  front/pages/api/v1/me.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/index.ts
  sdks/js/src/types.ts
  x/spolu/cli/index.ts
  x/spolu/cli/package-lock.json
  x/spolu/cli/package.json
  x/spolu/cli/src/state.ts
Labels: documentation-ack

#8578 Add: github copilot chat origin in messages
  front/pages/api/v1/w/[wId]/swagger_schemas.ts
  front/public/swagger.json
  sdks/js/src/types.ts
  types/src/front/assistant/conversation.ts
Labels: documentation-ack

#8595 Add: public endpoint to cancel message generation and use it in the extension
  extension/app/src/components/conversation/AgentMessage.tsx
  extension/app/src/components/conversation/ConversationContainer.tsx
  extension/app/src/components/conversation/GenerationContextProvider.tsx
  extension/app/src/components/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/lib/swr/conversations.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/cancel.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/public/swagger.json
  sdks/js/package.json
  sdks/js/src/index.ts
  sdks/js/src/types.ts
Labels: documentation-ack

#8644 chore: rename `generateLegacyModelSId` into `generateRandomModelSId`
  front/admin/cli.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/data_sources.ts
  front/lib/api/invitation.ts
  front/lib/iam/users.ts
  front/lib/iam/workspaces.ts
  front/lib/plans/subscription.ts
  front/lib/resources/string_ids.ts
  front/migrations/20231023_create_plan_subscriptions.ts
  front/migrations/20240404_backfill_users_and_invitations_sid.ts
  front/pages/api/poke/templates/index.ts
  front/pages/api/stripe/webhook.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/scripts/dev/create_test_workspaces.ts
Labels: documentation-ack

#8647 enh: add sId column on content fragments
  front/lib/resources/content_fragment_resource.ts
  front/lib/resources/storage/models/content_fragment.ts
  front/migrations/20241114_backfill_cf_sid.ts
  front/migrations/db/migration_111.sql
  front/migrations/db/migration_112.sql
Labels: migration-ack

#8655 Add optional fk to a conversion on datasource model
  front/lib/resources/storage/models/data_source.ts
  front/migrations/db/migration_113.sql
Labels: migration-ack

#8662 [JIT Datasources] Create conversations space
  front/components/assistant_builder/spaces/SpaceSelector.tsx
  front/components/spaces/SpaceSideBarMenu.tsx
  front/lib/resources/space_resource.ts
  front/lib/resources/storage/models/spaces.ts
  front/lib/spaces.ts
  front/migrations/20241114_conversations_spaces_backfill.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/search.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/parents.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/search.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/parents.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/rows/[rId].ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/rows/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tokenize.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/v1/w/[wId]/spaces/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/datasets/[name]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/datasets/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/blocks/[type]/[name]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/status.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/state.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/content-nodes.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/tables/[tableId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/tables/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/configuration.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tableId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/members.ts
  front/pages/api/w/[wId]/spaces/index.ts
  front/temporal/scrub_workspace/activities.ts
  sdks/js/src/types.ts
  types/src/front/space.ts
Labels: migration-ack

#8617 [connectors] Implement incremental sync for Zendesk tickets
  connectors/migrations/db/migration_34.sql
  connectors/src/@types/node-zendesk.d.ts
  connectors/src/admin/db.ts
  connectors/src/connectors/zendesk/lib/brand_permissions.ts
  connectors/src/connectors/zendesk/lib/help_center_permissions.ts
  connectors/src/connectors/zendesk/lib/sync_article.ts
  connectors/src/connectors/zendesk/lib/sync_ticket.ts
  connectors/src/connectors/zendesk/lib/ticket_permissions.ts
  connectors/src/connectors/zendesk/lib/utils.ts
  connectors/src/connectors/zendesk/lib/zendesk_api.ts
  connectors/src/connectors/zendesk/temporal/activities.ts
  connectors/src/connectors/zendesk/temporal/workflows.ts
  connectors/src/lib/models/zendesk.ts
  connectors/src/resources/connector/zendesk.ts
  connectors/src/resources/zendesk_resources.ts
Labels: migration-ack

#8687 Upg: move file upload code to a single lib file
  front/lib/api/files/upload.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/w/[wId]/files/[fileId].ts
Labels: documentation-ack

#8719 [extension] Use dedicated audience for dust api. Add scopes verification
  extension/app/background.ts
  extension/app/src/lib/config.ts
  front/lib/api/auth0.ts
  front/lib/api/config.ts
  front/lib/api/wrappers.ts
  front/lib/auth.ts
  front/pages/api/v1/me.ts
  front/pages/api/v1/w/[wId]/assistant/agent_configurations.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/cancel.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/content_fragments.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/v1/w/[wId]/files/index.ts
Labels: documentation-ack

#8691 feat: allow superseding content fragments from public API
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/resources/content_fragment_resource.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/content_fragments.ts
  sdks/js/src/types.ts
  types/src/front/api_handlers/internal/assistant.ts
Labels: documentation-ack

#8736 Use FF to capture all Gong transcripts
  front/lib/resources/labs_transcripts_resource.ts
  front/lib/resources/storage/models/labs_transcripts.ts
  front/migrations/db/migration_115.sql
  front/pages/api/w/[wId]/labs/transcripts/[tId].ts
  front/pages/w/[wId]/assistant/labs/transcripts/index.tsx
  front/temporal/labs/activities.ts
  front/temporal/labs/utils/gong.ts
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: migration-ack

#8769 [Spaces] Use `withResourceFetchingFromRoute` in spaces public enpoints
  front/lib/api/resource_wrappers.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/search.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/index.ts
Labels: documentation-ack

#8698 Upsert documents & tables on upload for JIT.
  extension/app/src/components/input_bar/InputBar.tsx
  extension/app/src/hooks/useFileUploaderService.ts
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/hooks/useFileUploaderService.ts
  front/lib/api/data_sources.ts
  front/lib/api/files/text_extraction.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.ts
  front/lib/api/files/utils.ts
  front/lib/resources/data_source_resource.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/space_resource.ts
  front/lib/resources/storage/models/files.ts
  front/migrations/db/migration_116.sql
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/v1/w/[wId]/files/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/files/[fileId].ts
  front/pages/api/w/[wId]/files/index.ts
  front/public/swagger.json
  sdks/js/src/types.ts
  types/src/front/files.ts
Labels: migration-ack, documentation-ack

#8771 [connectors] Recast data stored for Zendesk as BIGINT into JS numbers
  connectors/src/lib/models/zendesk.ts
  connectors/src/resources/zendesk_resources.ts
Labels: migration-ack

#8779 Public API get agent configurations view filter
  front/lib/api/assistant/configuration.ts
  front/pages/api/v1/w/[wId]/assistant/agent_configurations.ts
  types/src/front/assistant/agent.ts
Labels: documentation-ack

#8795 Conversation IncludeFileAction: move tokens counting to action run
  front/lib/api/assistant/actions/conversation/include_file.ts
  front/lib/models/assistant/actions/conversation/include_file.ts
  front/migrations/db/migration_119.sql
  sdks/js/src/types.ts
Labels: migration-ack

#8805 Basic Action detail rendering for include_file
  front/components/actions/conversation/include_file/IncludeFileActionDetails.tsx
  front/components/actions/types.ts
  front/lib/api/assistant/actions/conversation/include_file.ts
  front/lib/api/assistant/actions/conversation/list_files.ts
  front/lib/models/assistant/actions/conversation/include_file.ts
  front/migrations/db/migration_120.sql
  sdks/js/src/types.ts
  types/src/front/assistant/actions/conversation/include_file.ts
Labels: migration-ack

#8850 [connectors] Update Zendesk data model
  connectors/migrations/db/migration_37.sql
  connectors/src/lib/models/zendesk.ts
Labels: migration-ack

#8854 [connectors] Remove unnecessary columns in zendesk_tickets
  connectors/migrations/db/migration_38.sql
  connectors/src/connectors/zendesk/lib/sync_article.ts
  connectors/src/connectors/zendesk/lib/sync_category.ts
  connectors/src/connectors/zendesk/lib/sync_ticket.ts
  connectors/src/lib/models/zendesk.ts
Labels: migration-ack

#8849 [JIT Datasources] Restrict data source block access to conversations space II
  core/bin/dust_api.rs
  core/src/blocks/data_source.rs
  core/src/blocks/database_schema.rs
  core/src/blocks/helpers.rs
  front/pages/api/registry/[type]/lookup.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  types/src/front/lib/core_api.ts
Labels: documentation-ack

#8829 AgentMessageFeedback Resource
  front/admin/db.ts
  front/lib/api/assistant/conversation/feedbacks.ts
  front/lib/models/assistant/conversation.ts
  front/lib/resources/agent_message_feedback_resource.ts
  front/migrations/db/migration_121.sql
Labels: migration-ack

#8861 Add: upsert table query output to use in JIT actions
  front/components/assistant/conversation/ConversationTitle.tsx
  front/lib/api/assistant/actions/conversation/include_file.ts
  front/lib/api/assistant/actions/tables_query.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/csv.ts
  front/lib/api/data_sources.ts
  front/lib/api/files/tool_output.ts
  front/lib/api/files/upsert.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/resources/content_fragment_resource.ts
  types/src/front/assistant/actions/conversation/list_files.ts
  types/src/front/assistant/actions/index.ts
Labels: migration-ack

#8955 feat(kw-search): pass title & mimetype on front tables endpoints
  front/lib/api/data_sources.ts
  front/lib/api/files/upsert.ts
  front/lib/api/tables.ts
  front/lib/upsert_queue.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/temporal/upsert_tables/activities.ts
  sdks/js/src/types.ts
  types/src/front/api_handlers/public/data_sources.ts
  types/src/front/lib/core_api.ts
Labels: documentation-ack

#8879 AgentMessageFeedbacks API
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/MessageGroup.tsx
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/UserMessage.tsx
  front/components/assistant_builder/AssistantBuilderPreviewDrawer.tsx
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/feedback.ts
  front/lib/models/assistant/conversation.ts
  front/lib/resources/agent_message_feedback_resource.ts
  front/lib/swr/conversations.ts
  front/migrations/db/migration_122.sql
  front/package-lock.json
  front/package.json
  front/pages/api/w/[wId]/assistant/conversations/[cId]/feedbacks.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/feedbacks/index.ts
  front/poke/temporal/activities.ts
Labels: migration-ack

#8938 Add feedbacks to workspace usage API
  front/lib/resources/agent_message_feedback_resource.ts
  front/lib/workspace_usage.ts
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/public/swagger.json
  sdks/js/src/types.ts
Labels: documentation-ack

#8968 enh(kw-search): title & mime in v1 tables upsert
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
Labels: documentation-ack

#9004 Add tags on new endpoints + add required fields on context
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/cancel.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/v1/w/[wId]/files/index.ts
  front/pages/api/v1/w/[wId]/swagger_schemas.ts
  front/public/swagger.json
Labels: documentation-ack

#9011 Log empty or invalid parents array for documents
  core/src/data_sources/data_source.rs
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Labels: documentation-ack

#9013 [front] Fix dd metric names
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Labels: documentation-ack
