Repository dust-tt/dust, pull requests merged in 2024-07, with the labels that each got.

#5970 Code Interpreter > Visualization models
  front/admin/db.ts
  front/lib/models/assistant/actions/visualization.ts
  front/migrations/db/migration_28.sql
  front/migrations/db/migration_29.sql
  types/src/front/assistant/actions/code_interpreter.ts
  types/src/front/assistant/actions/visualization.ts
  types/src/front/feature_flags.ts
  types/src/front/lib/api/assistant/actions/code_interpreter.ts
  types/src/front/lib/api/assistant/actions/index.ts
  types/src/front/lib/api/assistant/actions/visualization.ts
  types/src/index.ts
Labels: migration-ack

#5926 Visualization Action run
  front/components/actions/types.ts
  front/components/actions/visualization/VisualizationActionDetails.tsx
  front/components/assistant/AssistantDetails.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/lib/api/assistant/actions/names.ts
  front/lib/api/assistant/actions/runners.ts
  front/lib/api/assistant/actions/visualization.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/pubsub.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  types/src/front/api_handlers/internal/agent_configuration.ts
  types/src/front/assistant/actions/guards.ts
  types/src/front/assistant/actions/visualization.ts
  types/src/front/assistant/agent.ts
  types/src/front/assistant/conversation.ts
  types/src/front/lib/actions/registry.ts
  types/src/front/lib/api/assistant/agent.ts
Labels: migration-ack

#6023 fix: use DataTypes.INTEGER instead of DataTypes.NUMBER
  front/lib/resources/storage/models/files.ts
Labels: migration-ack

#6034 Redirect newly created user to pending invitation if any.
  front/lib/api/invitation.ts
  front/lib/iam/invitations.ts
  front/lib/models/workspace.ts
  front/migrations/db/migration_31.sql
  front/pages/api/login.ts
Labels: migration-ack

#6025 Support file id in content fragment
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/content_fragment.ts
  front/lib/models/workspace.ts
  front/lib/resources/storage/models/content_fragment.ts
  front/migrations/db/migration_31.sql
  front/migrations/db/migration_32.sql
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/content_fragments.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/content_fragment/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/raw_content_fragment/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  types/src/front/api_handlers/internal/assistant.ts
Labels: migration-ack

#6011 feat: store raw agent message contents
  front/admin/db.ts
  front/lib/api/assistant/agent.ts
  front/lib/models/assistant/agent_message_content.ts
  front/lib/models/assistant/conversation.ts
  front/migrations/db/migration_31.sql
  front/migrations/db/migration_33.sql
  types/src/front/lib/api/assistant/agent.ts
Labels: migration-ack

#6001 [chore] - chore(UX): impacted assistant datasource
  front/lib/api/agent_data_sources.ts
  front/lib/models/data_source.ts
  front/migrations/db/migration_34.sql
  front/pages/w/[wId]/builder/data-sources/public-urls.tsx
  front/pages/w/[wId]/builder/data-sources/static.tsx
Labels: migration-ack

#6048 Flav/resource string ids
  front/admin/cli.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/files/preprocessing.ts
  front/lib/api/invitation.ts
  front/lib/iam/users.ts
  front/lib/iam/workspaces.ts
  front/lib/plans/subscription.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/storage/models/files.ts
  front/lib/resources/string_ids.ts
  front/lib/utils.ts
  front/migrations/20231023_create_plan_subscriptions.ts
  front/migrations/20240404_backfill_users_and_invitations_sid.ts
  front/migrations/db/migration_35.sql
  front/package-lock.json
  front/package.json
  front/pages/api/poke/templates/index.ts
  front/pages/api/stripe/webhook.ts
  front/pages/api/v1/w/[wId]/data_sources/[name]/tables/index.ts
  front/pages/api/w/[wId]/apps/[aId]/clone.ts
  front/pages/api/w/[wId]/apps/index.ts
  front/pages/api/w/[wId]/data_sources/[name]/tables/csv.ts
Labels: migration-ack

#6077 Cleanup Visu model
  front/components/actions/visualization/VisualizationActionDetails.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/api/assistant/actions/visualization.ts
  front/lib/api/assistant/generation.ts
  front/lib/models/assistant/actions/visualization.ts
  front/migrations/db/migration_36.sql
  front/migrations/db/migration_37.sql
  types/src/front/assistant/actions/visualization.ts
Labels: migration-ack

#6062 [front] - fix: data source agent usage query
  front/lib/api/agent_data_sources.ts
  front/lib/models/assistant/agent.ts
  front/migrations/db/migration_38.sql
Labels: migration-ack

#6169 chore: cleanup agent message model and events
  connectors/src/connectors/slack/bot.ts
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/models/assistant/agent_message_content.ts
  front/lib/models/assistant/conversation.ts
  front/migrations/db/migration_39.sql
  front/migrations/db/migration_40.sql
  types/src/front/assistant/conversation.ts
  types/src/front/lib/api/assistant/agent.ts
Labels: migration-ack

#6186 Add documentation-ack to danger check for public api changes
  front/dangerfile.ts
Labels: documentation-ack

#6211 Fix column type on AgentVisualizationAction
  front/lib/models/assistant/actions/visualization.ts
Labels: migration-ack

#6213 chore: rename maxToolsUsePerRun to maxStepsPerRun
  front/components/assistant/AssistantActions.tsx
  front/components/assistant/TryAssistant.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/models/assistant/agent.ts
  front/migrations/20240715_backfill_max_steps_per_run.sql
  front/migrations/db/migration_41.sql
  front/migrations/db/migration_42.sql
  front/pages/api/v1/w/[wId]/swagger_schemas.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/scope.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/public/swagger.json
  types/src/front/api_handlers/internal/agent_configuration.ts
  types/src/front/assistant/agent.ts
Labels: migration-ack, documentation-ack

#6226 chore: delete maxToolsUsePerRun
  front/components/assistant/AssistantActions.tsx
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/agent.ts
  front/migrations/db/migration_43.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/scope.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  types/src/front/api_handlers/internal/agent_configuration.ts
Labels: migration-ack

#6309 github: preparation work for dual mode connectionId
  connectors/migrations/20240717_migrate_github_installation_id.sql
  connectors/migrations/db/migration_05.sql
  connectors/src/api/webhooks/webhook_github.ts
  connectors/src/connectors/github/index.ts
  connectors/src/connectors/github/lib/github_api.ts
  connectors/src/connectors/github/temporal/activities.ts
  connectors/src/connectors/github/temporal/client.ts
  connectors/src/connectors/github/temporal/workflows.ts
  connectors/src/lib/cli.ts
  connectors/src/lib/models/github.ts
  connectors/src/resources/connector/github.ts
Labels: migration-ack

#6314 `oauth`: Gated Github support & dual mode
  connectors/migrations/db/migration_06.sql
  connectors/src/api/webhooks/webhook_github.ts
  connectors/src/connectors/github/index.ts
  connectors/src/connectors/github/lib/github_api.ts
  connectors/src/lib/models/github.ts
  connectors/src/lib/oauth.ts
  connectors/src/resources/connector_resource.ts
  core/src/oauth/connection.rs
  core/src/utils.rs
  front/components/poke/data_sources/view.tsx
  front/pages/poke/[wId]/data_sources/[name]/index.tsx
  front/pages/w/[wId]/builder/data-sources/[name]/index.tsx
  front/pages/w/[wId]/builder/data-sources/managed.tsx
  k8s/deployments/oauth-deployment.yaml
  types/src/front/lib/connectors_api.ts
  types/src/index.ts
  types/src/oauth/client/access_token.ts
  types/src/oauth/client/setup.ts
  types/src/oauth/lib.ts
  types/src/shared/feature_flags.ts
Labels: migration-ack

#6408 [MS Connector] Fix error when selecting root that's not drive or folder
  connectors/migrations/db/migration_08.sql
  connectors/src/connectors/microsoft/index.ts
  connectors/src/connectors/microsoft/temporal/activities.ts
  connectors/src/connectors/microsoft/temporal/client.ts
  connectors/src/connectors/microsoft/temporal/workflows.ts
  connectors/src/lib/models/microsoft.ts
Labels: migration-ack

#6434 [connectors] - chore(microsoft): content node
  connectors/src/connectors/microsoft/index.ts
  front/components/assistant_builder/AssistantBuilderTablesModal.tsx
  front/lib/models/assistant/actions/tables_query.ts
  front/migrations/db/migration_44.sql
  front/pages/api/w/[wId]/data_sources/[name]/managed/content-nodes/index.ts
  types/src/connectors/content_nodes.ts
  types/src/connectors/microsoft.ts
Labels: migration-ack

#6483 Create group when we create a workspace + backfill the past
  front/admin/cli.ts
  front/lib/iam/workspaces.ts
  front/lib/resources/storage/models/groups.ts
  front/migrations/20240724_workspaces_groups_backfill.ts
Labels: migration-ack

#6505 Enforce one workspace group per workspace
  front/lib/resources/storage/models/groups.ts
  front/migrations/20240724_workspaces_groups_backfill.ts
  types/src/front/groups.ts
Labels: migration-ack

#6513 Rename workspace group to global group
  front/admin/cli.ts
  front/lib/iam/workspaces.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/storage/models/groups.ts
  front/migrations/20240724_workspaces_groups_backfill.ts
  front/migrations/db/migration_46.sql
  types/src/front/groups.ts
Labels: migration-ack

#6516 Add Group Membership model
  front/admin/db.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/storage/models/group_memberships.ts
  front/migrations/db/migration_47.sql
Labels: migration-ack

#6594 Adding index on NotionDatabase.{connectorId, lastSeenTs}
  connectors/migrations/db/migration_10.sql
  connectors/src/lib/models/notion.ts
Labels: migration-ack

#6596 Add dataSourceViewId in agent_data_source_configurations
  front/lib/api/agent_data_sources.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/data_sources.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/resources/storage/models/data_source_view.ts
  front/migrations/db/migration_51.sql
Labels: migration-ack
