Repository dust-tt/dust, pull requests merged in 2025-08, with the labels that each got.

#14709 [front] Outlook GA + zod simplification
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/outlook/outlook_api_helper.ts
  front/lib/actions/mcp_internal_actions/servers/outlook/server.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14712 Allow user to disable a subset of tools for an MCP server
  front/components/actions/mcp/ToolsList.tsx
  front/lib/actions/mcp_actions.ts
  front/lib/models/assistant/actions/remote_mcp_server_tool_metadata.ts
  front/lib/resources/remote_mcp_server_tool_metadata_resource.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_324.sql
  front/pages/api/w/[wId]/mcp/[serverId]/tools/[toolName]/index.ts
  front/pages/api/w/[wId]/mcp/[serverId]/tools/index.ts
  front/pages/api/w/[wId]/mcp/index.ts
Labels: migration-ack, sdk-ack

#14747 [front] refactor: remove `getFull/LightAgentConfiguration` functions
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/conversation.ts
  front/pages/api/v1/w/[wId]/assistant/agent_configurations/[sId]/index.ts
Labels: documentation-ack

#14708 [front] - chore(AB v2): change knowledge configuration flow
  front/components/agent_builder/capabilities/AgentBuilderCapabilitiesBlock.tsx
  front/components/agent_builder/capabilities/MCPServerViewsKnowledgeDropdown.tsx
  front/components/agent_builder/capabilities/knowledge/KnowledgeConfigurationSheet.tsx
  front/components/agent_builder/capabilities/knowledge/shared/DescriptionSection.tsx
  front/components/agent_builder/capabilities/knowledge/shared/JsonSchemaSection.tsx
  front/components/agent_builder/capabilities/knowledge/shared/TimeFrameSection.tsx
  front/components/agent_builder/capabilities/knowledge/transformations.ts
  front/components/agent_builder/types.ts
Labels: claude-review-requested

#14745 Allow multiple remote mcp server with same url
  front/components/actions/mcp/RemoteMCPForm.tsx
  front/lib/api/mcp.ts
  front/lib/models/assistant/actions/mcp_server_view.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_325.sql
  front/pages/api/w/[wId]/mcp/index.test.ts
  front/pages/api/w/[wId]/mcp/index.ts
  front/tests/utils/RemoteMCPServerFactory.ts
Labels: migration-ack

#14752 Put outlook back under FF
  front/lib/actions/mcp_internal_actions/constants.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14721 Add ability to zendesk syncs by ticket tags
  connectors/migrations/db/migration_88.sql
  connectors/src/connectors/zendesk/index.ts
  connectors/src/connectors/zendesk/lib/cli.ts
  connectors/src/connectors/zendesk/lib/sync_ticket.ts
  connectors/src/connectors/zendesk/temporal/activities.ts
  connectors/src/connectors/zendesk/temporal/incremental_activities.ts
  connectors/src/lib/models/zendesk.ts
  connectors/src/resources/zendesk_resources.ts
  connectors/src/types/admin/cli.ts
  front/components/data_source/ZendeskConfigView.tsx
  front/components/data_source/ZendeskOrganizationTagFilters.tsx
  front/components/data_source/ZendeskTagFilters.tsx
  front/components/data_source/ZendeskTicketTagFilters.tsx
  front/hooks/useZendeskOrganizationTagFilters.ts
  front/hooks/useZendeskTicketTagFilters.ts
  front/lib/constants/zendesk.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
  front/types/connectors/admin/cli.ts
Labels: migration-ack

#14727 feat: add agent management mcp tool
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/actions/mcp/details/MCPAgentManagementActionDetails.tsx
  front/components/assistant/conversation/actions/AgentMessageActionsDrawer.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/agent_management.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/errors.ts
  front/pages/api/v1/w/[wId]/assistant/generic_agents.ts
  front/temporal/agent_loop/activities/run_model.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/index.ts
  sdks/js/src/internal_mime_types.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#14803 Make outlook generally available
  front/lib/actions/mcp_internal_actions/constants.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14818 Fix: datadog MCP support, bump MCP SDK version
  front/components/actions/mcp/AddActionMenu.tsx
  front/components/actions/mcp/ToolsList.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/lib/actions/action_output_limits.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_call_tool_result_schema.ts
  front/lib/actions/mcp_execution.ts
  front/lib/actions/mcp_internal_actions/remote_servers.ts
  front/package-lock.json
  front/package.json
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/raw_mcp_types.ts
Labels: sdk-ack

#14813 FreshService MCP
  core/src/lib.rs
  core/src/oauth/connection.rs
  core/src/oauth/credential.rs
  core/src/oauth/providers/freshservice.rs
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/freshservice/freshservice_api_helper.ts
  front/lib/actions/mcp_internal_actions/servers/freshservice/server.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/api/config.ts
  front/lib/api/oauth.ts
  front/lib/api/oauth/providers/freshservice.ts
  front/package-lock.json
  front/types/oauth/lib.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14773 Allow dynamic tools in a conversation.
  front/admin/db.ts
  front/components/assistant/ToolsPicker.tsx
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarAttachmentsPicker.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/lib.ts
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/models/assistant/actions/conversation_mcp_server_view.ts
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/space_resource.ts
  front/lib/resources/string_ids.ts
  front/lib/swr/conversations.ts
  front/lib/swr/mcp_servers.ts
  front/lib/utils/sql_utils.ts
  front/migrations/db/migration_328.sql
  front/migrations/db/migration_329.sql
  front/pages/api/w/[wId]/assistant/conversations/[cId]/tools.test.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/tools.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/tests/utils/ConversationFactory.ts
  front/tests/utils/SpaceFactory.ts
  front/tests/utils/generic_resource_tests.ts
  front/types/api/internal/assistant.ts
  front/types/assistant/conversation.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14805 [feat] - front(AB v2): new tools configuration flow
  front/components/agent_builder/capabilities/AddToolsDropdown.tsx
  front/components/agent_builder/capabilities/AgentBuilderCapabilitiesBlock.tsx
  front/components/agent_builder/capabilities/mcp/MCPConfigurationSheet.tsx
  front/components/agent_builder/capabilities/mcp/MCPServerSelectionPage.tsx
  front/components/agent_builder/capabilities/mcp/MCPServerViewsDialog.tsx
  front/components/agent_builder/capabilities/mcp/formValidation.ts
  front/components/agent_builder/capabilities/mcp/utils/formDefaults.ts
  front/components/agent_builder/capabilities/mcp/utils/formStateUtils.ts
  front/components/agent_builder/capabilities/mcp/utils/formValidation.ts
  front/components/agent_builder/capabilities/mcp/utils/validationMessages.ts
  front/components/agent_builder/capabilities/mcp/validation/schemaBuilders.ts
  front/components/agent_builder/capabilities/shared/sheetUtils.ts
  front/components/agent_builder/types.ts
  front/lib/api/mcp.ts
Labels: claude-review-requested

#14876 Introduce FF stage to give clarity on which can be used or not
  front/components/poke/features/columns.tsx
  front/components/poke/features/table.tsx
  front/lib/api/poke/plugins/workspaces/toggle_feature_flag.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14762 Notion as personal tool
  core/src/oauth/providers/notion.rs
  front/lib/actions/mcp_internal_actions/servers/notion.ts
  front/lib/api/oauth.ts
  front/lib/api/oauth/providers/base_oauth_stragegy_provider.ts
  front/lib/api/oauth/providers/notion.ts
Labels: documentation-ack, sdk-ack

#14821 [front] use type MCP for tools with data source selection
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderFormContext.tsx
  front/components/agent_builder/capabilities/AgentBuilderCapabilitiesBlock.tsx
  front/components/agent_builder/capabilities/MCPServerViewsKnowledgeDropdown.tsx
  front/components/agent_builder/capabilities/knowledge/KnowledgeConfigurationSheet.tsx
  front/components/agent_builder/capabilities/knowledge/shared/DescriptionSection.tsx
  front/components/agent_builder/capabilities/knowledge/shared/JsonSchemaSection.tsx
  front/components/agent_builder/capabilities/knowledge/shared/SelectionDisplay.tsx
  front/components/agent_builder/capabilities/knowledge/shared/TimeFrameSection.tsx
  front/components/agent_builder/capabilities/knowledge/shared/sheetUtils.ts
  front/components/agent_builder/capabilities/knowledge/utils.ts
  front/components/agent_builder/capabilities/mcp/MCPServerViewsDialog.tsx
  front/components/agent_builder/capabilities/mcp/utils/formDefaults.ts
  front/components/agent_builder/capabilities/shared/JsonSchemaSection.tsx
  front/components/agent_builder/capabilities/shared/TimeFrameSection.tsx
  front/components/agent_builder/capabilities/shared/sheetUtils.ts
  front/components/agent_builder/hooks/useAgentPreview.ts
  front/components/agent_builder/submitAgentBuilderForm.ts
  front/components/agent_builder/transformAgentConfiguration.ts
  front/components/agent_builder/types.ts
  front/lib/agent_yaml_converter/converter.ts
  front/lib/agent_yaml_converter/schemas.ts
Labels: claude-review-requested

#14894 feat: add support for gpt5
  core/src/providers/openai.rs
  core/src/providers/openai_responses_api_helpers.rs
  front/components/providers/types.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/global_agents/configurations/openai.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14885 [front] - fix(AB v2): rerendering glitch
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderContext.tsx
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
Labels: claude-review-requested

#14911 [connectors,extension] Add missing event type
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  extension/ui/components/assistants/state/messageReducer.ts
  front/lib/actions/mcp.ts
  sdks/js/src/index.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14919 [connectors] Improve handling of personal authentication errors in Slack bot
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14892 [front] feat(ab): Add data selection to footer + block space & category selection
  front/components/agent_builder/capabilities/knowledge/KnowledgeConfigurationSheet.tsx
  front/components/agent_builder/capabilities/knowledge/KnowledgeFooter.tsx
  front/components/agent_builder/capabilities/knowledge/transformations.ts
  front/components/agent_builder/utils.ts
  front/components/data_source_view/DataSourceBuilderSelector.tsx
  front/components/data_source_view/DataSourceCategoryBrowser.tsx
  front/components/data_source_view/DataSourceNodeTable.tsx
  front/components/data_source_view/DataSourceSpaceSelector.tsx
  front/components/data_source_view/DataSourceViewTable.tsx
  front/components/data_source_view/context/DataSourceBuilderContext.tsx
  front/components/data_source_view/context/types.ts
  front/components/data_source_view/context/utils.test.ts
  front/components/data_source_view/context/utils.ts
  front/components/data_source_view/hooks/useDataSourceColumns.tsx
  front/hooks/useDebounce.ts
  front/lib/swr/data_source_views.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/content-nodes.ts
Labels: claude-review-requested

#15011 Enable Agent Loop Pause and Resume for Tool Validation
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_execution.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/validate_actions.ts
  front/lib/api/redis.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  front/temporal/agent_loop/activities/create_tool_actions.ts
  front/temporal/agent_loop/activities/run_model.ts
  front/temporal/agent_loop/activities/run_model_and_create_actions_wrapper.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/lib/activity_interface.ts
  front/temporal/agent_loop/lib/agent_loop_executor.ts
  front/temporal/agent_loop/worker.ts
  front/temporal/agent_loop/workflows.ts
  front/types/assistant/agent_run.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#15042 Add Slack semantic search, under a flag
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/slack.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15078 Control execution mode for agent loop API
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/lib.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/validate_actions.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/types/assistant/agent_run.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15080 Clean up tool validation request payload
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_execution.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  front/temporal/agent_loop/lib/create_tool_actions.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#15073 [front] Add endpoint to fetch actions waiting for approval
  front/components/assistant/conversation/ActionValidationProvider.tsx
  front/lib/models/assistant/actions/mcp.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/swr/pending_validations.ts
  front/migrations/db/migration_335.sql
  front/pages/api/w/[wId]/assistant/conversations/[cId]/pending-validations.ts
  front/types/assistant/conversation.ts
Labels: migration-ack

#15127 Add: List choice support for MCP tools
  front/components/agent_builder/AgentBuilderFormContext.tsx
  front/components/agent_builder/capabilities/mcp/MCPServerViewsDialog.tsx
  front/components/agent_builder/capabilities/mcp/utils/formDefaults.ts
  front/components/agent_builder/capabilities/mcp/utils/validationMessages.ts
  front/components/agent_builder/capabilities/mcp/validation/schemaBuilders.ts
  front/components/agent_builder/capabilities/shared/AdditionalConfigurationSection.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/configuration/AdditionalConfigurationSection.tsx
  front/components/assistant_builder/types.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/input_configuration.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/primitive_types_debugger.ts
  front/lib/models/assistant/actions/mcp.ts
  front/types/api/internal/agent_configuration.ts
  sdks/js/src/internal_mime_types.ts
Labels: migration-ack, sdk-ack

#15052 [front] Allow validating tools from DB state
  front/components/agent_builder/AgentBuilderPreview.tsx
  front/components/assistant/conversation/ActionValidationProvider.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/ConversationLayout.tsx
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant_builder/AssistantBuilderPreviewDrawer.tsx
  front/lib/actions/pubsub.ts
  front/types/shared/utils/string_utils.ts
Labels: claude-review-requested

#15013 [front] chore: eslint lodash
  eslint-plugin-dust/index.js
  eslint-plugin-dust/rules/no-bulk-lodash.js
  front/.eslintrc.js
  front/.prettierignore
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/MCPServerViewsContext.tsx
  front/components/agent_builder/capabilities/AgentBuilderCapabilitiesBlock.tsx
  front/components/agent_builder/capabilities/knowledge/KnowledgeConfigurationSheet.tsx
  front/components/agent_builder/capabilities/mcp/utils/formDefaults.ts
  front/components/agent_builder/capabilities/shared/ReasoningModelSection.tsx
  front/components/agent_builder/hooks/useAgentPreview.ts
  front/components/agent_builder/instructions/extensions/AgentBuilderInstructionsAutoCompleteExtension.ts
  front/components/agent_builder/types.ts
  front/components/assistant/conversation/input_bar/editor/extensions/AgentBuilderInstructionsAutoCompleteExtension.ts
  front/components/assistant/conversation/input_bar/editor/extensions/MentionWithPasteExtension.tsx
  front/components/assistant_builder/AddToolsDropdown.tsx
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/TryAssistant.tsx
  front/components/assistant_builder/actions/configuration/DustAppConfigurationSection.tsx
  front/components/assistant_builder/actions/configuration/ReasoningModelConfigurationSection.tsx
  front/components/assistant_builder/contexts/AssistantBuilderContexts.tsx
  front/components/assistant_builder/tags/DataSourceViewTagsFilterDropdown.tsx
  front/components/assistant_builder/types.ts
  front/components/assistant_builder/useTools.ts
  front/components/me/UserToolsTable.tsx
  front/components/spaces/ContentActions.tsx
  front/components/spaces/SpaceAppsList.tsx
  front/components/spaces/SpaceSideBarMenu.tsx
  front/components/trackers/TrackerBuilder.tsx
  front/components/workspace/ProviderManagementModal.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/input_configuration.ts
  front/lib/actions/mcp_internal_actions/servers/common/find_tags_tool.ts
  front/lib/actions/mcp_internal_actions/servers/slack.ts
  front/lib/api/agent_data_sources.ts
  front/lib/api/assistant/agent_message_content_parser.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/spaces.ts
  front/lib/api/workos/organization.ts
  front/lib/client/conversation/event_handlers.ts
  front/lib/resources/app_resource.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/spaces.ts
  front/lib/swr/actions.ts
  front/lib/utils.ts
  front/lib/utils/json_schemas.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/members/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/poke/[wId]/index.tsx
  front/pages/w/[wId]/labs/trackers/index.tsx
Labels: documentation-ack

#15196 Add Execution Mode On Public API
  front/lib/actions/mcp_internal_actions/servers/run_agent.ts
  front/lib/api/assistant/streaming/blocking.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  sdks/js/src/index.ts
Labels: documentation-ack, sdk-ack

#15207 Add: ability for "run agent" to use jit tools
  front/components/actions/mcp/MCPServerDetailsInfo.tsx
  front/components/actions/mcp/details/MCPRunAgentActionDetails.tsx
  front/components/spaces/SpaceActionsList.tsx
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/servers/run_agent.ts
  front/lib/resources/string_ids.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#15195 [front] Add `status` on `agent_mcp_actions`
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_execution.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/conversation/validate_actions.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/resources/agent_step_content_resource.ts
  front/migrations/20250821_backfill_agent_mcp_action_status.ts
  front/migrations/db/migration_340.sql
  front/temporal/agent_loop/activities/run_model_and_create_actions_wrapper.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/lib/action_utils.ts
  front/temporal/agent_loop/lib/create_tool_actions.ts
Labels: migration-ack, claude-review-requested

#15212 [front] - AB v2: clear conversation button in builder preview
  front/components/agent_builder/AgentBuilderPreview.tsx
Labels: claude-review-requested

#15154 Call Slack API to determine which tool to use
  front/lib/actions/mcp_internal_actions/servers/slack.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15239 Add `blocked_required_authentication` Status And Implement Retry Blocked Tools
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/MCPServerPersonalAuthenticationRequired.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/events.ts
  front/lib/actions/mcp_internal_actions/wrappers.ts
  front/lib/actions/statuses.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation/retry_blocked_actions.ts
  front/lib/assistant/state/messageReducer.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/run/steps/[stepIndex]/retry.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/temporal/agent_loop/activities/publish_deferred_events.ts
  front/temporal/agent_loop/activities/run_model_and_create_actions_wrapper.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/lib/action_utils.ts
  front/temporal/agent_loop/lib/activity_interface.ts
  front/temporal/agent_loop/lib/agent_loop_executor.ts
  front/temporal/agent_loop/lib/deferred_events.ts
  front/temporal/agent_loop/worker.ts
  front/temporal/agent_loop/workflows.ts
Labels: migration-ack, documentation-ack

#15252 Add: toolsets server to explore toolsets
  front/lib/actions/mcp_internal_actions/constants.test.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/toolsets.ts
  front/lib/api/mcp.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/mcp_server_views/index.test.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/mcp_server_views/index.ts
  front/pages/api/w/[wId]/mcp/views/index.ts
  front/types/assistant/conversation.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/index.ts
  sdks/js/src/internal_mime_types.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#15299 [front] render differently triggered convos in side-bar
  front/components/assistant/conversation/SidebarMenu.tsx
  front/lib/resources/conversation_resource.ts
  front/temporal/agent_schedule/activities.ts
  front/types/api/internal/assistant.ts
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15289 [front] Cleanup columns related to state from `AgentMCPAction`
  front/lib/actions/mcp.ts
  front/lib/actions/statuses.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/resources/agent_step_content_resource.ts
  front/migrations/20250821_backfill_agent_mcp_action_status.ts
  front/migrations/db/migration_343.sql
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/lib/action_utils.ts
  front/temporal/agent_loop/lib/create_tool_actions.ts
Labels: migration-ack

#15319 Clean up agent mcp resource
  front/admin/db.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/models/assistant/agent_step_content.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/resources/agent_step_content_resource.ts
  front/migrations/20250626_move_process_actions_to_mcp.ts
  front/migrations/20250709_agent_mcp_action_fk_step_content.ts
  front/temporal/agent_loop/activities/run_model_and_create_actions_wrapper.ts
  front/types/actions.ts
Labels: migration-ack

#15312 [front] - ABv2 - New editor
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/agent_builder/instructions/BlockInsertDropdown.tsx
  front/components/agent_builder/instructions/extensions/BlockInsertExtension.tsx
  front/components/agent_builder/instructions/extensions/InstructionBlockExtension.tsx
  front/components/agent_builder/instructions/useBlockInsertDropdown.tsx
  front/lib/client/agent_builder/instructionBlockUtils.ts
  front/lib/client/agent_builder/instructions.ts
Labels: claude-review-requested

#15422 [SDK] Add `retryMessage` method in SDK
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/index.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15435 [front] Replace `MCPActionType` with the resource in action creation
  front/lib/actions/mcp.ts
  front/lib/assistant/state/messageReducer.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/temporal/agent_loop/lib/create_tool_actions.ts
  front/types/actions.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15423 New triggerId column in conversation
  front/components/assistant/conversation/SidebarMenu.tsx
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/lib/models/assistant/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/migrations/db/migration_349.sql
  front/temporal/agent_schedule/activities.ts
  front/types/api/internal/assistant.ts
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#15491 [front] Refactor tool registering utils
  front/lib/actions/mcp_internal_actions/servers/canvas/index.ts
  front/lib/actions/mcp_internal_actions/servers/common/find_tags_tool.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_file_system/cat_tool.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_file_system/index.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_file_system/list_tool.ts
  front/lib/actions/mcp_internal_actions/servers/include.ts
  front/lib/actions/mcp_internal_actions/servers/process/index.ts
  front/lib/actions/mcp_internal_actions/servers/search.ts
Labels: claude-review-requested

#15495 Drop trigger sId column and use makeSId instead
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/lib/models/assistant/triggers.ts
  front/lib/resources/conversation_resource.ts
  front/lib/resources/string_ids.ts
  front/lib/resources/trigger_resource.test.ts
  front/lib/resources/trigger_resource.ts
  front/migrations/db/migration_350.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/triggers/index.ts
  front/temporal/agent_schedule/client.ts
  front/types/assistant/conversation.ts
Labels: migration-ack

#15441 Google Drive MCP tool
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/google_drive.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15508 Add asana to default mcp servers
  extension/package-lock.json
  extension/package.json
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/remote_servers.ts
  front/package-lock.json
  front/package.json
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
Labels: sdk-ack
