Repository dust-tt/dust, pull requests merged in 2025-01, with the labels that each got.

#9701 Slack Auto-Read Channel Pattern with Multiple Spaces
  connectors/migrations/db/migration_42.sql
  connectors/src/connectors/index.ts
  connectors/src/connectors/slack/auto_read_channel.ts
  connectors/src/connectors/slack/index.ts
  connectors/src/lib/models/slack.ts
  connectors/src/resources/slack_configuration_resource.ts
  front/components/poke/PokeSlackChannelPatternInput.tsx
  front/components/poke/data_sources/slack/table.tsx
  front/pages/api/w/[wId]/data_sources/managed.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/poke/[wId]/data_sources/[dsId]/index.tsx
  types/src/connectors/slack.ts
Labels: migration-ack

#9710 dataSourceView references indexes
  front/lib/models/assistant/actions/data_sources.ts
  front/lib/models/assistant/actions/retrieval.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/models/doc_tracker.ts
  front/lib/resources/storage/models/labs_transcripts.ts
  front/migrations/db/migration_138.sql
Labels: migration-ack

#9717 Fix wrong typing to search data source view
  front/lib/resources/data_source_view_resource.ts
  front/pages/api/v1/w/[wId]/data_source_views/search.ts
Labels: documentation-ack

#9719 Grant admin role to system key + fix patch data source view endpoint
  front/lib/auth.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/index.ts
Labels: documentation-ack

#9682 [front] Allow multiple wrappers to run and fetch resources
  front/lib/api/resource_wrappers.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/search.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/[fId].ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/datasets/[name]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/datasets/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/blocks/[type]/[name]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/status.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/state.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/content-nodes.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/tables/[tableId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/tables/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/configuration.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tableId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/members.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/trackers/[tId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/trackers/index.ts
Labels: documentation-ack

#9733 Flav/fix patch dsv typings
  connectors/src/connectors/slack/auto_read_channel.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/index.ts
  sdks/js/src/types.ts
Labels: documentation-ack

#9740 [front] Allow multiple wrappers to run and fetch resources
  front/lib/api/resource_wrappers.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/search.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/[fId].ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/datasets/[name]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/datasets/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/blocks/[type]/[name]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/status.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/[aId]/state.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/content-nodes.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/tables/[tableId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/tables/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/configuration.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tableId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/members.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/trackers/[tId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/trackers/index.ts
Labels: documentation-ack

#9761 Remove legacy "autoReadPattern" slack.
  connectors/migrations/db/migration_43.sql
  connectors/src/connectors/slack/index.ts
  connectors/src/lib/models/slack.ts
  connectors/src/resources/slack_configuration_resource.ts
  types/src/connectors/slack.ts
Labels: migration-ack

#9764 fix(Zendesk) - fix db queries
  connectors/migrations/db/migration_44.sql
  connectors/src/connectors/zendesk/index.ts
  connectors/src/connectors/zendesk/lib/cli.ts
  connectors/src/connectors/zendesk/lib/help_center_permissions.ts
  connectors/src/connectors/zendesk/lib/permissions.ts
  connectors/src/connectors/zendesk/lib/sync_article.ts
  connectors/src/connectors/zendesk/lib/sync_category.ts
  connectors/src/connectors/zendesk/lib/sync_ticket.ts
  connectors/src/connectors/zendesk/temporal/activities.ts
  connectors/src/connectors/zendesk/temporal/gc_activities.ts
  connectors/src/connectors/zendesk/temporal/incremental_activities.ts
  connectors/src/connectors/zendesk/temporal/workflows.ts
  connectors/src/lib/models/zendesk.ts
  connectors/src/resources/zendesk_resources.ts
Labels: migration-ack

#9783 Use safeSubstring for title and tags
  connectors/src/lib/data_sources.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/temporal/upsert_queue/activities.ts
  types/src/shared/utils/string_utils.ts
Labels: documentation-ack

#9647 Allow server-side file upsert to datasource
  front/components/data_source/TableUploadOrEditModal.tsx
  front/lib/api/data_sources.ts
  front/lib/api/files/tool_output.ts
  front/lib/api/files/upsert.ts
  front/lib/api/files/utils.ts
  front/lib/swr/file.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/w/[wId]/data_sources/[dsId]/files.ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
Labels: documentation-ack

#9822 rename canList to canReadOrAdministrate
  front/lib/api/resource_wrappers.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/resources/resource_with_space.ts
  front/lib/resources/space_resource.ts
  front/pages/api/poke/workspaces/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/content-nodes.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/[fId].ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/apps/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/content-nodes.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/tables/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/members.ts
  front/pages/w/[wId]/spaces/[spaceId]/apps/[aId]/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/[category]/data_source_views/[dataSourceViewId].tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/[category]/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/index.tsx
  front/pages/w/[wId]/spaces/index.tsx
Labels: documentation-ack

#9825 Restrict v1 list spaces
  front/lib/resources/space_resource.ts
  front/pages/api/v1/w/[wId]/spaces/index.ts
Labels: documentation-ack

#9747 Cleanup doc tracker models
  front/admin/db.ts
  front/lib/document_tracker.ts
  front/lib/models/doc_tracker.ts
  front/migrations/db/migration_139.sql
Labels: migration-ack

#9877 [Document / Table API] Enforce required title and mimetype on upsert
  core/bin/core_api.rs
  core/src/data_sources/data_source.rs
  core/src/stores/postgres.rs
  core/src/stores/store.rs
  front/components/data_source/DocumentUploadOrEditModal.tsx
  front/components/data_source/TableUploadOrEditModal.tsx
  front/lib/api/data_sources.ts
  front/lib/api/tables.ts
  front/lib/upsert_queue.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.ts
  sdks/js/src/types.ts
  types/src/front/api_handlers/public/data_sources.ts
  types/src/front/lib/core_api.ts
Labels: documentation-ack

#9868 fix(zendesk) - check the `help_center_state` to prevent syncs on restricted help centers
  connectors/migrations/db/migration_45.sql
  connectors/migrations/db/migration_46.sql
  connectors/src/connectors/zendesk/lib/brand_permissions.ts
  connectors/src/connectors/zendesk/lib/help_center_permissions.ts
  connectors/src/connectors/zendesk/lib/permissions.ts
  connectors/src/connectors/zendesk/lib/ticket_permissions.ts
  connectors/src/connectors/zendesk/lib/zendesk_api.ts
  connectors/src/lib/models/zendesk.ts
  connectors/src/resources/zendesk_resources.ts
Labels: migration-ack

#9888 feat(tracker): handle multiple docs in maintained scope
  front/lib/document_upsert_hooks/hooks/tracker/actions/doc_tracker_retrieval.ts
  front/lib/document_upsert_hooks/hooks/tracker/actions/doc_tracker_score_docs.ts
  front/lib/models/doc_tracker.ts
  front/lib/registry.ts
  front/lib/resources/tracker_resource.ts
  front/migrations/db/migration_140.sql
  front/temporal/tracker/activities.ts
Labels: migration-ack

#9944 feat: add link to maintained document in tracker email
  front/lib/api/tracker.ts
  front/lib/models/doc_tracker.ts
  front/lib/resources/tracker_resource.ts
  front/scripts/send_tracker_generations.ts
  types/src/front/tracker.ts
Labels: migration-ack

#9796 [front] Enforce parents validation in document and tables upsertion
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/public/swagger.json
Labels: documentation-ack

#9969 [content-nodes] Add a log and update the doc for `lastUpdatedAt`
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/pages/api/v1/w/[wId]/spaces/index.ts
  front/public/swagger.json
Labels: documentation-ack

#9980 Fix BigInt usage with Sequelize
  connectors/src/lib/models/slack.ts
  front/lib/models/assistant/agent.ts
  front/lib/models/assistant/agent_message_content.ts
  front/lib/models/assistant/conversation.ts
  front/lib/models/workspace.ts
  front/lib/resources/storage/models/apps.ts
  front/lib/resources/storage/models/data_source.ts
  front/lib/resources/storage/models/data_source_view.ts
  front/lib/resources/storage/models/kill_switches.ts
  front/lib/resources/storage/models/spaces.ts
  types/src/shared/text_extraction/index.ts
  types/src/shared/text_extraction/transform.ts
  types/src/shared/utils/streams.ts
Labels: migration-ack

#9998 Flav/remove legacy group ids
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/auth.ts
  front/lib/api/assistant/conversation/without_content.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/api/assistant/permissions.ts
  front/lib/models/assistant/agent.ts
  front/lib/models/assistant/conversation.ts
  front/lib/resources/resource_with_space.ts
  front/lib/resources/space_resource.ts
  front/lib/utils.ts
  front/migrations/20240906_2_backfill_agents_groupIds.ts
  front/migrations/20240912_backfill_agent_group_ids_dust_apps.ts
  front/migrations/20240927_backfill_conversations_groupIds.ts
  front/migrations/20241104_backfill_requested_group_ids.ts
  front/migrations/db/migration_141.sql
  front/migrations/db/migration_142.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/temporal/permissions_queue/activities.ts
  sdks/js/src/types.ts
  types/src/front/assistant/agent.ts
  types/src/front/assistant/conversation.ts
Labels: migration-ack

#10005 Flav/fix agent configurations return type
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/without_content.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/models/assistant/agent.ts
  front/lib/models/assistant/conversation.ts
  front/migrations/20240906_2_backfill_agents_groupIds.ts
  front/migrations/20240912_backfill_agent_group_ids_dust_apps.ts
  front/migrations/20240927_backfill_conversations_groupIds.ts
  front/migrations/db/migration_143.sql
  sdks/js/src/types.ts
  types/src/front/assistant/agent.ts
  types/src/front/assistant/conversation.ts
Labels: migration-ack

#10008 Fill and backfill `sourceUrl` for Zendesk resources
  connectors/src/connectors/zendesk/lib/sync_category.ts
  connectors/src/connectors/zendesk/temporal/activities.ts
  connectors/src/connectors/zendesk/temporal/incremental_activities.ts
  connectors/src/lib/data_sources.ts
  front/components/data_source/TableUploadOrEditModal.tsx
  front/lib/api/data_sources.ts
  front/lib/api/files/upsert.ts
  front/lib/api/tables.ts
  front/lib/upsert_queue.ts
  front/migrations/20250115_backfill_zendesk_source_url.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/[fId].ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/temporal/upsert_tables/activities.ts
  sdks/js/src/index.ts
  sdks/js/src/types.ts
  types/src/front/api_handlers/public/data_sources.ts
  types/src/front/lib/core_api.ts
Labels: documentation-ack

#10010 Add: sdk danger check
  .github/workflows/run-dangerjs.yml
  front/dangerfile.ts
Labels: sdk-ack

#10019 fix(`api/v1`) - fix the parents validation in `tables/index`
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
Labels: documentation-ack

#9971 Now using source urls for github folders and repo
  connectors/src/connectors/github/index.ts
  connectors/src/connectors/github/lib/github_api.ts
  connectors/src/connectors/github/lib/utils.ts
  connectors/src/connectors/github/temporal/activities.ts
  connectors/src/connectors/github/temporal/workflows.ts
Labels: documentation-ack

#9988 [content-nodes] Fill `provider_visibility` in `data_source_nodes` from `connectors` -> `api/v1`
  connectors/src/connectors/slack/lib/channels.ts
  connectors/src/connectors/slack/temporal/activities.ts
  connectors/src/lib/data_sources.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/[fId].ts
  sdks/js/src/index.ts
  sdks/js/src/types.ts
  types/src/front/lib/connectors_api.ts
  types/src/front/lib/core_api.ts
Labels: documentation-ack, sdk-ack

#10026 Workspaces: Add column conversationsRetentionDays
  front/lib/models/workspace.ts
  front/migrations/db/migration_144.sql
Labels: migration-ack

#9974 [front] Use env vars for dust-apps workspace/space
  front/admin/cli.ts
  front/admin/copy_apps.sh
  front/admin/init_dust_apps.ts
  front/components/UserMenu.tsx
  front/components/spaces/SpaceAppsList.tsx
  front/lib/actions/server.ts
  front/lib/api/assistant/actions/browse.ts
  front/lib/api/assistant/actions/process.ts
  front/lib/api/assistant/actions/retrieval.ts
  front/lib/api/assistant/actions/tables_query.ts
  front/lib/api/assistant/actions/websearch.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/api/config.ts
  front/lib/api/files/upsert.ts
  front/lib/api/tables.ts
  front/lib/auth.ts
  front/lib/development.ts
  front/lib/document_upsert_hooks/hooks/tracker/actions/doc_tracker_retrieval.ts
  front/lib/document_upsert_hooks/hooks/tracker/actions/doc_tracker_score_docs.ts
  front/lib/document_upsert_hooks/hooks/tracker/actions/doc_tracker_suggest_changes.ts
  front/lib/poke/conversations.ts
  front/lib/registry.ts
  front/lib/resources/membership_resource.ts
  front/lib/resources/space_resource.ts
  front/migrations/20240906_registry_apps_to_public_vault.ts
  front/pages/api/w/[wId]/assistant/builder/process/generate_schema.ts
  front/pages/api/w/[wId]/assistant/builder/suggestions.ts
  front/pages/api/w/[wId]/members/[uId]/index.ts
  front/pages/poke/[wId]/conversations/[cId]/index.tsx
  front/pages/poke/[wId]/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/[category]/index.tsx
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10062 enh: tracker generation email tweaks
  front/lib/api/tracker.ts
  front/lib/models/doc_tracker.ts
  front/lib/resources/tracker_resource.ts
  front/scripts/send_tracker_generations.ts
  types/src/front/tracker.ts
Labels: migration-ack

#9996 [connectors] - fix: remove connectorId field from SlackChatBotMe…
  connectors/src/lib/models/slack.ts
Labels: migration-ack

#10101 enh: add deepseek reasoner
  front/components/providers/types.ts
  front/pages/api/w/[wId]/providers/[pId]/models.ts
  sdks/js/src/types.ts
  types/src/front/lib/assistant.ts
Labels: sdk-ack

#10114 Use listByEmail instead of fetchByEmail for user validation
  front/pages/api/v1/w/[wId]/members/validate.ts
Labels: documentation-ack

#10115 Allow standard api key
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/check.ts
Labels: documentation-ack

#10123 Add support for Powerpoint, Python, YAML, C/C++, C#, Java, PHP, Ruby, SQL, Swift, Rust, Go, Kotlin, Scala, Groovy and Perl file extensions
  front/lib/api/files/upload.ts
  sdks/js/src/types.ts
  types/src/front/files.ts
  types/src/shared/text_extraction/index.ts
Labels: sdk-ack

#10125 feat: add magic key output in dust apps for struc output
  front/components/actions/dust_app_run/DustAppRunActionDetails.tsx
  front/components/actions/tables_query/TablesQueryActionDetails.tsx
  front/lib/api/assistant/actions/dust_app_run.ts
  front/lib/api/assistant/actions/result_file_helpers.ts
  front/lib/api/assistant/actions/tables_query.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/dust_app_run.ts
  front/migrations/db/migration_145.sql
  types/src/front/assistant/actions/dust_app_run.ts
Labels: migration-ack

#10129 [sdk] Add feedback API
  front/lib/api/assistant/feedback.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/feedbacks.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/feedbacks.ts
  front/public/swagger.json
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/index.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#10107 fix(Snowflake) - Fix `data_sources_folders` sync
  connectors/migrations/db/migration_47.sql
  connectors/src/connectors/snowflake/index.ts
  connectors/src/connectors/snowflake/lib/permissions.ts
  connectors/src/connectors/snowflake/temporal/activities.ts
  connectors/src/lib/models/remote_databases.ts
  front/lib/api/content_nodes.ts
Labels: migration-ack

#10063 [front] Add registry check
  .github/workflows/check-registry-apps.yml
  front/admin/check_registry_apps.ts
  front/admin/cli.ts
  front/lib/registry.ts
  front/migrations/20240730_backfill_data_source_views.ts
  front/migrations/20240730_delete_unmanaged_data_source_views.ts
  front/migrations/20240731_backfill_keys.ts
  front/migrations/20240731_backfill_views_in_agent_data_source_configurations.ts
  front/migrations/20240820_backfill_data_source_views.ts
  front/migrations/20240820_backfill_views_in_agent_data_source_configurations.ts
  front/migrations/20240821_backfill_all_data_source_views.ts
  front/migrations/20240902_backfill_views_in_agent_table_query_configurations.ts
  front/migrations/20240910_app_data_sources.ts
  front/migrations/20240911_backfill_views_in_retrieval_documents.ts
  front/migrations/20240916_backfill_ds_in_agent_table_query_configurations.ts
  front/migrations/20241205_update_space_group_names.ts
  front/migrations/20241218_delete_dangling_groups.ts
  front/scripts/helpers.ts
  front/scripts/remove_draft_agent_configurations.ts
  front/scripts/workspace_helpers.ts
Labels: documentation-ack

#10180 [front] - refacto: backfill `clones` table
  front/lib/resources/storage/models/apps.ts
  front/migrations/db/migration_149.sql
Labels: migration-ack

#10086 Github actions: take I
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  core/src/oauth/providers/github.rs
  front/admin/db.ts
  front/components/UserMenu.tsx
  front/components/actions/github/GithubGetPullRequestActionDetails.tsx
  front/components/actions/types.ts
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/details/AssistantActionsSection.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/AssistantBuilderContext.tsx
  front/components/assistant_builder/actions/GithubAction.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/api/assistant/actions/constants.ts
  front/lib/api/assistant/actions/github.ts
  front/lib/api/assistant/actions/runners.ts
  front/lib/api/assistant/actions/utils.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/configuration/github.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/api/config.ts
  front/lib/api/oauth.ts
  front/lib/models/assistant/actions/github.ts
  front/lib/poke/conversations.ts
  front/lib/resources/platform_actions_configuration_resource.ts
  front/lib/resources/storage/models/platform_actions.ts
  front/lib/swr/platform_actions.ts
  front/migrations/20240701_fix_broken_action_names.ts
  front/migrations/db/migration_150.sql
  front/package-lock.json
  front/package.json
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/platform_actions/configurations/index.ts
  front/pages/w/[wId]/assistant/labs/platform_actions/index.tsx
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/poke/temporal/activities.ts
  sdks/js/src/types.ts
  types/src/front/api_handlers/internal/agent_configuration.ts
  types/src/front/assistant/actions/github.ts
  types/src/front/assistant/actions/guards.ts
  types/src/front/assistant/actions/index.ts
  types/src/front/assistant/agent.ts
  types/src/front/assistant/conversation.ts
  types/src/index.ts
  types/src/oauth/lib.ts
  types/src/shared/feature_flags.ts
Labels: migration-ack, sdk-ack

#10185 enh: upg to latest gemini thinking
  sdks/js/src/types.ts
  types/src/front/lib/assistant.ts
Labels: sdk-ack

#10184 Use `WorkspaceAwareModel` on conversation related models
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/reaction.ts
  front/lib/models/assistant/conversation.ts
  front/lib/resources/content_fragment_resource.ts
  front/lib/resources/storage/models/content_fragment.ts
  front/migrations/20250123_backfill_workspace_id_conversation_related_models.ts
  front/migrations/db/migration_151.sql
  front/migrations/db/migration_152.sql
Labels: migration-ack

#10165 Fix Intercom node parents
  connectors/migrations/20241219_backfill_intercom_data_source_folders.ts
  connectors/migrations/20250123_backfill_intercom_folders.ts
  connectors/migrations/20250123_remove_intercom_hc_nodes.ts
  connectors/src/connectors/intercom/lib/help_center_permissions.ts
  connectors/src/connectors/intercom/lib/utils.ts
  connectors/src/connectors/intercom/temporal/activities.ts
  connectors/src/connectors/intercom/temporal/sync_conversation.ts
  connectors/src/connectors/intercom/temporal/sync_help_center.ts
  connectors/src/connectors/intercom/temporal/workflows.ts
  front/lib/api/content_nodes.ts
  front/lib/api/data_source_view.ts
  types/src/shared/internal_mime_types.ts
Labels: migration-ack

#10188 [front] - chore: backfill retrieval tables
  front/lib/models/assistant/actions/retrieval.ts
  front/lib/resources/retrieval_document_resource.ts
  front/migrations/20250123_backfill_retrieval.ts
  front/migrations/db/migration_153.sql
  front/migrations/db/migration_154.sql
Labels: migration-ack

#10192 Move more models to `WorkspaceAwareModel`
  front/lib/api/assistant/actions/github.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/github.ts
  front/lib/resources/storage/models/labs_transcripts.ts
  front/lib/resources/storage/models/platform_actions.ts
  front/migrations/20250123_backfill_workspace_id_conversation_related_models.ts
  front/migrations/db/migration_155.sql
  front/temporal/labs/activities.ts
Labels: migration-ack

#10197 Flav/more workspace id wave 2
  front/lib/resources/space_resource.ts
  front/lib/resources/storage/models/group_spaces.ts
  front/migrations/db/migration_156.sql
  front/tests/utils/GroupSpaceFactory.ts
Labels: migration-ack

#10200 Move templates endpoints to non authenticated / workspace api, add tests
  front/components/assistant_builder/AssistantBuilderPreviewDrawer.tsx
  front/components/assistant_builder/AssistantTemplateModal.tsx
  front/components/assistant_builder/TemplateGrid.tsx
  front/components/assistant_builder/types.ts
  front/components/assistant_builder/useTemplate.tsx
  front/lib/resources/storage/index.ts
  front/lib/swr/assistants.ts
  front/package-lock.json
  front/package.json
  front/pages/api/poke/templates/index.ts
  front/pages/api/templates/[tId]/index.test.ts
  front/pages/api/templates/[tId]/index.ts
  front/pages/api/templates/index.test.ts
  front/pages/api/templates/index.ts
  front/pages/api/user/index.test.ts
  front/pages/api/v1/w/[wId]/data_sources/index.test.ts
  front/pages/api/v1/w/[wId]/feature_flags.test.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/index.test.ts
  front/pages/api/v1/w/[wId]/spaces/index.test.ts
  front/pages/api/w/[wId]/index.test.ts
  front/pages/w/[wId]/builder/assistants/create.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/poke/swr/index.ts
  front/tests/utils/TemplateFactory.ts
  front/tests/utils/UserFactory.ts
  front/tests/utils/generic_private_api_tests.ts
  front/tests/utils/generic_public_api_tests.ts
  front/tests/utils/utils.ts
Labels: documentation-ack

#10204 Flav/more workspace id wave 3
  front/lib/resources/run_resource.ts
  front/lib/resources/storage/models/runs.ts
  front/migrations/20250124_backfill_run_usages.ts
  front/migrations/db/migration_157.sql
  front/migrations/db/migration_158.sql
Labels: migration-ack

#10203 enh: deeepseek via together
  front/components/providers/types.ts
  front/pages/api/w/[wId]/providers/[pId]/models.ts
  sdks/js/src/types.ts
  types/src/front/lib/assistant.ts
Labels: sdk-ack

#10159 [migrations] - chore: backfill `workspaceId` in `agent-*` tables
  front/lib/api/assistant/actions/browse.ts
  front/lib/api/assistant/actions/conversation/include_file.ts
  front/lib/api/assistant/actions/dust_app_run.ts
  front/lib/api/assistant/actions/tables_query.ts
  front/lib/api/assistant/actions/websearch.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/configuration/table_query.ts
  front/lib/models/assistant/actions/browse.ts
  front/lib/models/assistant/actions/conversation/include_file.ts
  front/lib/models/assistant/actions/data_sources.ts
  front/lib/models/assistant/actions/dust_app_run.ts
  front/lib/models/assistant/actions/retrieval.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/models/assistant/actions/websearch.ts
  front/lib/models/assistant/agent_message_content.ts
  front/migrations/20250124_backfill_agent_message_contents.ts
  front/migrations/db/migration_147.sql
  front/migrations/db/migration_159.sql
  front/migrations/db/migration_160.sql
Labels: migration-ack

#10216 Release modjo transcripts processing
  front/pages/api/v1/w/[wId]/feature_flags.test.ts
  front/pages/w/[wId]/assistant/labs/transcripts/index.tsx
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10255 [front] - chore: add workspaceId to AgentRetrievalAction
  front/lib/api/assistant/actions/retrieval.ts
  front/lib/models/assistant/actions/retrieval.ts
Labels: migration-ack

#10253 Iterate on GithubRetrievePullRequest action
  front/lib/api/assistant/actions/github.ts
  front/lib/models/assistant/actions/github.ts
  front/migrations/db/migration_161.sql
Labels: migration-ack

#10256 feat: reasoning action part 1 (scaffolding)
  .github/workflows/build-and-lint-extension.yml
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  extension/app/src/components/conversation/AgentMessage.tsx
  front/admin/db.ts
  front/components/actions/reasoning/ReasoningActionDetails.tsx
  front/components/actions/types.ts
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/details/AssistantActionsSection.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/actions/ReasoningAction.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/api/assistant/actions/constants.ts
  front/lib/api/assistant/actions/reasoning.ts
  front/lib/api/assistant/actions/runners.ts
  front/lib/api/assistant/actions/utils.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/configuration/reasoning.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/models/assistant/actions/reasoning.ts
  front/lib/poke/conversations.ts
  front/migrations/20240701_fix_broken_action_names.ts
  front/migrations/db/migration_162.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  sdks/js/src/types.ts
  types/src/front/api_handlers/internal/agent_configuration.ts
  types/src/front/assistant/actions/guards.ts
  types/src/front/assistant/actions/index.ts
  types/src/front/assistant/actions/reasoning.ts
  types/src/front/assistant/agent.ts
  types/src/front/assistant/conversation.ts
  types/src/front/assistant/generation.ts
  types/src/front/lib/assistant.ts
  types/src/index.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10287 Add: batch add for members in space, fix pagination
  front/components/members/InvitationModal.tsx
  front/components/spaces/BatchAddMembersPopover.tsx
  front/components/spaces/CreateOrEditSpaceModal.tsx
  front/components/spaces/SearchMembersPopover.tsx
  front/lib/api/data_sources.ts
  front/lib/api/workspace.ts
  front/lib/memberships.ts
  front/lib/resources/membership_resource.ts
  front/lib/resources/storage/models/membership.ts
  front/lib/resources/user_resource.ts
  front/lib/swr/memberships.ts
  front/lib/utils/router.ts
  front/package-lock.json
  front/package.json
  front/pages/api/stripe/webhook.ts
  front/pages/api/w/[wId]/members/index.test.ts
  front/pages/api/w/[wId]/members/index.ts
  front/pages/api/w/[wId]/members/search.test.ts
  front/pages/api/w/[wId]/members/search.ts
  front/temporal/scrub_workspace/activities.ts
  front/tests/utils/MembershipFactory.ts
  front/tests/utils/UserFactory.ts
  front/tests/utils/factories.ts
Labels: migration-ack

#10211 [front] Add metadata property and maintenance mode
  front/lib/api/auth_wrappers.ts
  front/lib/api/user.ts
  front/lib/api/workspace.ts
  front/lib/auth.ts
  front/lib/iam/session.ts
  front/lib/models/workspace.ts
  front/lib/workspace.ts
  front/migrations/db/migration_163.sql
  front/pages/api/poke/workspaces/[wId]/downgrade.ts
  front/pages/api/poke/workspaces/[wId]/upgrade.ts
  front/pages/api/poke/workspaces/index.ts
  front/pages/api/user/index.test.ts
  front/pages/maintenance.tsx
  types/src/front/lib/error.ts
  types/src/front/user.ts
Labels: migration-ack

#10304 feat: reasoning tool
  front/components/actions/reasoning/ReasoningActionDetails.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant_builder/types.ts
  front/components/providers/types.ts
  front/components/workspace/ProviderManagementModal.tsx
  front/lib/api/assistant/actions/reasoning.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/redis.ts
  front/lib/registry.ts
  front/pages/api/w/[wId]/providers/[pId]/models.ts
  sdks/js/src/types.ts
  types/src/front/lib/assistant.ts
Labels: sdk-ack

#10326 Add: Google Service account to oauth
  .vscode/settings.json
  core/Cargo.lock
  core/Cargo.toml
  core/src/oauth/credential.rs
  core/src/oauth/tests/functional_credentials.rs
Labels: sdk-ack

#10324 feat: deepseek global agent
  front/lib/api/assistant/global_agents.ts
  sdks/js/src/types.ts
  types/src/front/lib/assistant.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10344 [front] - refactor: `AgentProcess` models to use `WorkspaceAwareModel`
  front/lib/models/assistant/actions/process.ts
Labels: migration-ack

#10405 Remove full parsing of CSV for delimiter detection + tests
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.test.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.ts
  types/src/shared/utils/structured_data.ts
Labels: documentation-ack

#10417 Store a boolean when we're storing the transcripts to track usage
  front/lib/resources/labs_transcripts_resource.ts
  front/lib/resources/storage/models/labs_transcripts.ts
  front/migrations/db/migration_165.sql
  front/temporal/labs/activities.ts
Labels: migration-ack

#10427 Upg: tests now uses resources
  front/lib/api/data_sources.ts
  front/lib/resources/data_source_resource.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/resources/space_resource.ts
  front/migrations/20240730_backfill_data_source_views.ts
  front/migrations/20240820_backfill_data_source_views.ts
  front/migrations/20240821_backfill_all_data_source_views.ts
  front/pages/api/templates/[tId]/index.test.ts
  front/pages/api/templates/index.test.ts
  front/pages/api/user/index.test.ts
  front/pages/api/v1/w/[wId]/data_sources/index.test.ts
  front/pages/api/v1/w/[wId]/feature_flags.test.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.test.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/index.test.ts
  front/pages/api/v1/w/[wId]/spaces/index.test.ts
  front/pages/api/w/[wId]/members/index.test.ts
  front/pages/api/w/[wId]/members/search.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/tests/utils/DataSourceFactory.ts
  front/tests/utils/DataSourceViewFactory.ts
  front/tests/utils/FeatureFlagFactory.ts
  front/tests/utils/GroupFactory.ts
  front/tests/utils/GroupSpaceFactory.ts
  front/tests/utils/KeyFactory.ts
  front/tests/utils/MembershipFactory.ts
  front/tests/utils/SpaceFactory.ts
  front/tests/utils/TemplateFactory.ts
  front/tests/utils/UserFactory.ts
  front/tests/utils/WorkspaceFactory.ts
  front/tests/utils/factories.ts
  front/tests/utils/generic_private_api_tests.ts
  front/tests/utils/generic_public_api_tests.ts
  front/tests/utils/utils.ts
Labels: documentation-ack
