Repository dust-tt/dust, pull requests merged in 2025-07, with the labels that each got.

#13979 Better handling of error messages
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/messages.ts
  extension/platforms/chrome/services/auth.ts
  extension/platforms/front/services/auth.ts
  extension/shared/services/auth.ts
  front/pages/api/v1/auth/[action].ts
Labels: documentation-ack

#13973 enh: one true way to handle conversation attachments
  front/lib/actions/action_file_helpers.ts
  front/lib/actions/conversation/include_file.ts
  front/lib/actions/conversation/list_files.ts
  front/lib/actions/dust_app_run.ts
  front/lib/actions/mcp_internal_actions/servers/conversation_files.ts
  front/lib/actions/process.ts
  front/lib/actions/tables_query.ts
  front/lib/api/assistant/conversation/attachments.ts
  front/lib/api/assistant/conversation/content_fragment.ts
  front/lib/api/assistant/conversation/content_types.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/api/assistant/visualization.ts
  front/lib/resources/content_fragment_resource.ts
Labels: claude-review-requested

#13936 Clean-up legacy `TablesQueryAction` related code
  front/admin/db.ts
  front/components/actions/tables_query/TablesQueryActionDetails.tsx
  front/components/actions/types.ts
  front/components/assistant/details/AssistantKnowledgeSection.tsx
  front/components/assistant/details/AssistantToolsSection.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/lib/actions/configuration/helpers.ts
  front/lib/actions/configuration/table_query.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/input_configuration.ts
  front/lib/actions/mcp_internal_actions/servers/utils.ts
  front/lib/actions/runners.ts
  front/lib/actions/tables_query.ts
  front/lib/actions/types/agent.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/types/index.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/permissions.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/assistant/state/messageReducer.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/poke/conversations.ts
  front/migrations/20250630_migrate_tables_query_to_mcp.ts
  front/migrations/20250630_move_tables_query_actions_to_mcp.ts
  front/migrations/db/migration_291.sql
  front/poke/temporal/activities.ts
  front/types/assistant/conversation.ts
Labels: migration-ack

#13959 [front] fix global agent use in `run_agent`
  front/lib/actions/mcp_internal_actions/servers/run_agent.ts
  front/lib/api/assistant/global_agent_metadata.ts
  front/lib/api/assistant/global_agents.ts
  front/types/assistant/assistant.ts
Labels: claude-review-requested

#13986 Cleanup AgentReasoningConfiguration model
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/reasoning.ts
  front/migrations/20250513_migrate_reasoning_to_mcp.ts
  front/migrations/20250516_migrate_reasoning_to_mcp_globally.ts
  front/migrations/db/migration_294.sql
  front/poke/temporal/activities.ts
Labels: migration-ack

#14007 Remove reasoning action model
  front/admin/db.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/models/assistant/actions/reasoning.ts
  front/migrations/20250630_move_reasoning_actions_to_mcp.ts
  front/migrations/db/migration_295.sql
  front/poke/temporal/activities.ts
Labels: migration-ack

#14034 [front] enh(poke): add Group Data Table
  front/components/poke/groups/columns.tsx
  front/components/poke/groups/table.tsx
  front/components/poke/groups/view.tsx
  front/components/poke/workspace/table.tsx
  front/pages/api/poke/workspaces/[wId]/groups/index.ts
  front/pages/poke/[wId]/groups/[groupId]/index.tsx
  front/pages/poke/[wId]/index.tsx
  front/poke/swr/groups.ts
Labels: claude-review-requested

#13960 [Process Actions] Remove legacy process action code
  front/admin/db.ts
  front/components/actions/process/ProcessActionDetails.tsx
  front/components/actions/types.ts
  front/components/assistant/details/AssistantKnowledgeSection.tsx
  front/components/assistant/details/AssistantToolsSection.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/front/pages/api/w/[wId]/assistant/builder/process/generate_schema.ts
  front/lib/actions/configuration/helpers.ts
  front/lib/actions/configuration/process.ts
  front/lib/actions/mcp_internal_actions/servers/process/index.ts
  front/lib/actions/mcp_internal_actions/servers/process/utils.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent.ts
  front/lib/actions/process.ts
  front/lib/actions/process/utils.ts
  front/lib/actions/runners.ts
  front/lib/actions/types/agent.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/types/index.ts
  front/lib/actions/utils.ts
  front/lib/api/agent_data_sources.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/permissions.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/assistant/state/messageReducer.ts
  front/lib/models/assistant/actions/data_sources.ts
  front/lib/models/assistant/actions/process.ts
  front/lib/poke/conversations.ts
  front/migrations/20250418_convert_schemas_to_jsonschema.ts
  front/migrations/20250526_migrate_extract_to_mcp.ts
  front/migrations/20250626_move_process_actions_to_mcp.ts
  front/migrations/db/migration_298.sql
  front/migrations/db/migration_299.sql
  front/poke/temporal/activities.ts
  front/types/api/internal/assistant.ts
  front/types/assistant/conversation.ts
  sdks/js/src/index.ts
Labels: migration-ack, sdk-ack, claude-review-requested

#14068 Flav/fix users deletion
  front/lib/resources/file_resource.ts
  front/lib/resources/storage/models/files.ts
  front/migrations/db/migration_300.sql
  front/poke/temporal/activities.ts
Labels: migration-ack

#14109 [Microsoft Sync] Avoid n² loop in sorted changes computation
  connectors/migrations/20250704_test_n2_fix.ts
  connectors/src/connectors/microsoft/temporal/activities.ts
Labels: claude-review-requested

#14075 Support uploading Excel workbook files in folder
  front/components/data_source/TableUploadOrEditModal.tsx
  front/lib/api/data_sources.ts
  front/lib/api/files/upsert.test.ts
  front/lib/api/files/upsert.ts
  front/lib/content_nodes.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#14119 [front] chore: remove Claude Sonnet 3.7 as a reasoning model
  core/src/blocks/chat.rs
  core/src/providers/anthropic/anthropic.rs
  front/components/providers/types.ts
  front/lib/actions/mcp_internal_actions/servers/reasoning.ts
  front/types/assistant/assistant.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14132 Add Linear remote MCP server available by default
  front/components/actions/mcp/CreateMCPServerDialog.tsx
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/remote_servers.ts
  sdks/js/src/mcp_icon_types.ts
Labels: sdk-ack

#14174 [connectors] chore(Confluence): remove `ignoreNearRateLimit` mechanism
  connectors/migrations/db/migration_83.sql
  connectors/src/connectors/confluence/index.ts
  connectors/src/connectors/confluence/lib/cli.ts
  connectors/src/connectors/confluence/lib/confluence_client.ts
  connectors/src/connectors/confluence/temporal/activities.ts
  connectors/src/lib/models/confluence.ts
Labels: migration-ack

#14180 fix: add verbose arg to all logging
  sdks/js/src/mcp_transport.ts
Labels: sdk-ack

#14198 Delete AgentSearchLabelsAction
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  extension/ui/components/assistants/state/messageReducer.ts
  front/admin/db.ts
  front/components/actions/SearchLabelsActionDetails.tsx
  front/components/actions/types.ts
  front/lib/actions/runners.ts
  front/lib/actions/search_labels.ts
  front/lib/actions/types/agent.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/types/index.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/assistant/state/messageReducer.ts
  front/lib/models/assistant/actions/search_labels.ts
  front/lib/poke/conversations.ts
  front/migrations/db/migration_303.sql
  front/migrations/db/migration_304.sql
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#14179 [front] Add versioning to `AgentStepContent` and `AgentMCPAction`
  front/lib/actions/mcp.ts
  front/lib/api/assistant/agent.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/models/assistant/agent_step_content.ts
  front/migrations/db/migration_306.sql
Labels: migration-ack

#14230 Mcp action step content fk
  front/lib/actions/mcp.ts
  front/lib/actions/types/index.ts
  front/lib/api/assistant/agent.ts
  front/lib/models/assistant/actions/mcp.ts
  front/migrations/db/migration_307.sql
  front/poke/temporal/activities.ts
Labels: migration-ack

#14268 [front] fix file generation tool for generating files
  front/lib/actions/mcp_internal_actions/servers/file_generation.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/v1/w/[wId]/files/index.ts
  front/types/files.ts
Labels: documentation-ack

#14290 Fix Slack non threaded message
  connectors/src/connectors/slack/lib/messages.ts
  connectors/src/connectors/slack/lib/utils.ts
  connectors/src/connectors/slack/temporal/activities.ts
  connectors/src/lib/data_sources.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/documents/[documentId]/blob.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#14299 Put google sheets behind feature flag
  front/lib/actions/mcp_internal_actions/constants.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14337 [front] more logs to authenticate v1
  front/pages/api/v1/auth/[action].ts
Labels: documentation-ack

#14376 Add index on agent_mcp_action for stepContentId
  front/lib/models/assistant/actions/mcp.ts
  front/migrations/db/migration_311.sql
Labels: migration-ack

#14373 [misc] add kimi k2 instruct
  core/src/providers/fireworks.rs
  front/components/providers/types.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14378 Refactor: replace async iterator patterns with Promise-based functions for conversation messaging
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/validate_actions.ts
  front/lib/api/assistant/email_trigger.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/api/assistant/streaming/blocking.ts
  front/lib/api/assistant/streaming/events.ts
  front/lib/api/assistant/streaming/helpers.ts
  front/lib/api/assistant/streaming/types.ts
  front/lib/api/redis.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/temporal/labs/transcripts/activities.ts
Labels: documentation-ack

#14188 [front] Auth0 code removal
  front/admin/relocate_users.ts
  front/components/poke/members/columns.tsx
  front/components/poke/members/table.tsx
  front/lib/api/auth0.ts
  front/lib/api/auth_wrappers.ts
  front/lib/api/enterprise_connection.ts
  front/lib/api/poke/plugins/global/delete_auth0_user.ts
  front/lib/api/poke/plugins/global/index.ts
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/sso_dedupe_members.ts
  front/lib/api/poke/plugins/workspaces/user_identity_merge.ts
  front/lib/auth.ts
  front/lib/iam/provider.ts
  front/lib/iam/users.ts
  front/lib/resources/user_resource.ts
  front/migrations/20230419_user_providers.ts
  front/migrations/20250127_auth0_region_backfill.ts
  front/migrations/20250613_users_last_login_at.ts
  front/migrations/db/migration_303.sql
  front/pages/api/auth/[auth0].ts
  front/pages/api/auth/login.ts
  front/pages/api/login.ts
  front/pages/api/user/index.test.ts
  front/pages/api/v1/auth/[action].ts
  front/pages/login-error.tsx
  front/poke/temporal/activities.ts
  front/tests/utils/generic_private_api_tests.ts
  front/types/workspace.ts
Labels: documentation-ack, sdk-ack

#14411 Cleanup SDK following refactoring of actions
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  front/components/actions/types.ts
  front/types/assistant/conversation.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#14422 feat: allow for custom timeouts
  sdks/js/src/mcp_transport.ts
Labels: sdk-ack

#14439 Viz but (way) better
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/AgentMessageGeneratedFiles.tsx
  front/components/assistant/conversation/ConversationLayout.tsx
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/assistant/conversation/content/CenteredState.tsx
  front/components/assistant/conversation/content/ClientExecutableRenderer.tsx
  front/components/assistant/conversation/content/InteractiveContentContainer.tsx
  front/components/assistant/conversation/content/InteractiveContentContext.tsx
  front/components/assistant/conversation/content/InteractiveContentHeader.tsx
  front/components/assistant/conversation/content/UnsupportedContentRenderer.tsx
  front/components/data_source/DocumentUploadOrEditModal.tsx
  front/components/data_source/MultipleDocumentsUpload.tsx
  front/components/data_source/TableUploadOrEditModal.tsx
  front/components/markdown/Image.tsx
  front/components/markdown/MarkdownCitation.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/interactive_content.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/types/index.ts
  front/lib/api/assistant/conversation/content_fragment.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/api/assistant/visualization_with_interactive_content.ts
  front/lib/api/files/client_executable.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/storage/models/files.ts
  front/lib/swr/conversations.ts
  front/lib/swr/files.ts
  front/pages/api/w/[wId]/files/[fileId]/metadata.ts
  front/types/files.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
  viz/app/components/VisualizationWrapper.tsx
  viz/app/content/page.tsx
Labels: migration-ack, sdk-ack

#14443 enh: max steps per run is always 128
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderFormContext.tsx
  front/components/agent_builder/capabilities/AgentBuilderCapabilitiesBlock.tsx
  front/components/agent_builder/submitAgentBuilderForm.ts
  front/components/agent_builder/transformAgentConfiguration.ts
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/global_agents.ts
  front/migrations/20250720_update_agent_max_steps_to_128.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/tests/utils/AgentConfigurationFactory.ts
  front/types/api/internal/agent_configuration.ts
  front/types/assistant/agent.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14434 feat: add gated support for notion private integrations
  connectors/migrations/db/migration_84.sql
  connectors/src/connectors/notion/index.ts
  connectors/src/connectors/notion/lib/access_token.ts
  connectors/src/connectors/notion/lib/cli.ts
  connectors/src/connectors/notion/temporal/activities.ts
  connectors/src/lib/models/notion.ts
  connectors/src/types/oauth/lib.ts
  core/src/oauth/credential.rs
  front/components/data_source/ConnectorPermissionsModal.tsx
  front/components/data_source/SetupNotionPrivateIntegrationModal.tsx
  front/pages/api/w/[wId]/credentials/index.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
  front/types/oauth/lib.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#14370 feat: add error step contents
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/preprocessing.ts
  front/lib/models/assistant/agent_step_content.ts
  front/types/assistant/agent_message_content.ts
  front/types/assistant/generation.ts
Labels: migration-ack

#14430 [front] Refactor `AgentMCPAction` versioning around `AgentStepContentResource`
  front/lib/actions/mcp.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/models/assistant/agent_step_content.ts
  front/lib/resources/agent_step_content_resource.ts
  front/types/assistant/agent_message_content.ts
Labels: migration-ack, claude-review-requested

#14460 [front] - fix(workspace-usage): fix typo
  front/lib/workspace_usage.ts
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/pages/api/w/[wId]/workspace-usage.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#14388 [extension] Improve design for known agent errors
  extension/ui/components/conversation/AgentMessage.tsx
  front/lib/actions/mcp.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14486 npm audit fix
  connectors/package-lock.json
  front/package-lock.json
  sdks/js/package-lock.json
  x/henry/dust-apply/package-lock.json
  x/spolu/research/evals/package-lock.json
Labels: sdk-ack

#14475 [front] Rename `AgentMCPActionResource` into `AgentMCPActionsAnalytics`
  front/lib/api/actions/agent_mcp_action_analytics.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/swr/mcp_actions.ts
  front/pages/api/w/[wId]/labs/mcp_actions/[agentId]/index.ts
Labels: migration-ack

#14499 Add asynchronous agent loop version
  front/admin/cli.ts
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/lib.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/lib/api/assistant/conversation/title.ts
  front/lib/api/assistant/email_trigger.ts
  front/lib/poke/conversations.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/content_fragments.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/content_fragment/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/raw_content_fragment/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/temporal/agent_loop/activities/ensure_conversation_title.ts
  front/temporal/agent_loop/activities/run_model.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/client.ts
  front/temporal/agent_loop/lib/activity_interface.ts
  front/temporal/agent_loop/lib/agent_loop_executor.ts
  front/temporal/agent_loop/lib/workflow_ids.ts
  front/temporal/agent_loop/worker.ts
  front/temporal/agent_loop/workflows.ts
  front/temporal/labs/transcripts/activities.ts
  front/types/assistant/agent.ts
  front/types/assistant/agent_run.ts
Labels: documentation-ack

#14533 Keys: Add scope to handle special case where we restrict a regular key to its restricted Space only
  front/lib/resources/group_resource.ts
  front/lib/resources/key_resource.ts
  front/lib/resources/storage/models/keys.ts
  front/migrations/20250723_update_keys_scope_for_regular_groups.ts
  front/migrations/db/migration_315.sql
  front/types/key.ts
Labels: migration-ack

#14569 [front] feat(ab): Block selecting more than 1 spaces that is not global
  extension/package-lock.json
  extension/package.json
  front/components/data_source_view/DataSourceBuilderSelector.tsx
  front/components/data_source_view/DataSourceCategoryBrowser.tsx
  front/components/data_source_view/DataSourceNodeTable.tsx
  front/components/data_source_view/DataSourceSpaceSelector.tsx
  front/components/data_source_view/context/DataSourceBuilderContext.tsx
  front/components/data_source_view/context/utils.ts
  front/package-lock.json
  front/package.json
Labels: claude-review-requested

#14560 [front] Add minimal baseline for supporting non DS required MCP tools
  front/components/agent_builder/AgentBuilderFormContext.tsx
  front/components/agent_builder/MCPServerViewsContext.tsx
  front/components/agent_builder/capabilities/AddKnowledgeDropdown.tsx
  front/components/agent_builder/capabilities/AddToolsDropdown.tsx
  front/components/agent_builder/capabilities/AgentBuilderCapabilitiesBlock.tsx
  front/components/agent_builder/types.ts
  front/lib/actions/mcp_helper.ts
Labels: claude-review-requested

#14608 [front] - fix(usage): user computation
  front/lib/models/assistant/conversation.ts
  front/lib/workspace_usage.ts
  front/migrations/db/migration_320.sql
Labels: migration-ack

#14436 Improve Remote Server MCP Ux
  front/components/actions/mcp/CreateMCPServerDialog.tsx
Labels: migration-ack, sdk-ack

#14635 Add script to cleanup Zendesk duplicate data
  front/migrations/20250729_cleanup_zendesk_delta.ts
Labels: claude-review-requested

#14639 [front] - feat(AB v2): agent from YAML
  front/components/agent_builder/types.ts
  front/lib/agent_yaml_converter/converter.ts
  front/pages/w/[wId]/builder/agents/create.tsx
Labels: claude-review-requested

#14634 [front] Store citation count on `AgentMCPAction`, remove `citationsRefsOffset`
  front/lib/actions/mcp.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/resources/agent_step_content_resource.ts
  front/migrations/db/migration_322.sql
  front/temporal/agent_loop/activities/run_model.ts
  front/temporal/agent_loop/lib/agent_loop_executor.ts
Labels: migration-ack

#14614 [front+oauth] Outlook MCP
  core/src/lib.rs
  core/src/oauth/connection.rs
  core/src/oauth/credential.rs
  core/src/oauth/providers/microsoft_tools.rs
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/outlook.ts
  front/lib/api/config.ts
  front/lib/api/oauth.ts
  front/lib/api/oauth/providers/microsoft_tools.ts
  front/types/oauth/lib.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#14664 [front] provisioning: add SSO and SCIM in plan
  front/components/poke/plans/form.tsx
  front/components/poke/subscriptions/table.tsx
  front/lib/models/plan.ts
  front/lib/plans/enterprise_plans.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/migrations/db/migration_323.sql
  front/pages/api/poke/plans.ts
  front/types/plan.ts
Labels: migration-ack, sdk-ack

#14667 [front] - feat(AB v2): Minimal avatar in agent builder
  front/components/agent_builder/settings/AgentBuilderSettingsBlock.tsx
Labels: claude-review-requested

#14650 [front] Add support for fetching a specific version of an agent
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/email_trigger.ts
  front/lib/api/assistant/feedback.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/participants.ts
  front/lib/api/assistant/user_relation.ts
  front/lib/api/spaces.ts
  front/lib/resources/agent_step_content_resource.ts
  front/migrations/20250429_update_agent_scopes.ts
  front/migrations/20250725_backfill_agent_configurations.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/export.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/index.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/restore.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/index.ts
  front/pages/api/v1/w/[wId]/assistant/agent_configurations.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/analytics.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/feedbacks.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/history/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/last_author.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/linked_slack_channels.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/memories/[mId]/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/memories/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/restore.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/tags.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/usage.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/batch_update_scope.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/batch_update_tags.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/delete.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/suggest.ts
  front/pages/api/w/[wId]/builder/assistants/[aId]/actions.ts
  front/pages/api/w/[wId]/labs/mcp_actions/[agentId]/index.ts
  front/pages/api/w/[wId]/members/me/agent_favorite.ts
  front/pages/api/w/[wId]/tags/suggest_from_agents.ts
  front/pages/poke/[wId]/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/agents/[aId]/index.tsx
  front/pages/w/[wId]/builder/agents/new.tsx
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/pages/w/[wId]/labs/mcp_actions/[agentId]/index.tsx
  front/temporal/agent_loop/activities/run_model.ts
  front/temporal/labs/transcripts/activities.ts
  front/temporal/permissions_queue/activities.ts
  front/temporal/scrub_workspace/activities.ts
  front/types/assistant/agent.ts
  front/types/assistant/agent_run.ts
Labels: documentation-ack, claude-review-requested

#14603 Gemini 2.5 pro stable
  front/components/agent_builder/instructions/utils.ts
  front/components/assistant_builder/AdvancedSettings.tsx
  front/components/assistant_builder/actions/configuration/ReasoningModelConfigurationSection.tsx
  front/components/providers/types.ts
  front/lib/api/assistant/global_agent_metadata.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/api/assistant/token_pricing.ts
  front/pages/api/w/[wId]/providers/[pId]/models.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#14705 [connectors] Add ticket filtering based on organization tags
  connectors/migrations/db/migration_87.sql
  connectors/src/connectors/zendesk/index.ts
  connectors/src/connectors/zendesk/lib/cli.ts
  connectors/src/connectors/zendesk/lib/sync_ticket.ts
  connectors/src/connectors/zendesk/lib/types.ts
  connectors/src/connectors/zendesk/lib/zendesk_api.ts
  connectors/src/connectors/zendesk/temporal/activities.ts
  connectors/src/connectors/zendesk/temporal/incremental_activities.ts
  connectors/src/lib/models/zendesk.ts
  connectors/src/resources/zendesk_resources.ts
  connectors/src/types/admin/cli.ts
Labels: migration-ack

#14713 Fix poke run record
  front/lib/resources/plugin_run_resource.ts
  front/lib/resources/storage/models/plugin_runs.ts
Labels: migration-ack
