Repository dust-tt/dust, pull requests merged in 2025-04, with the labels that each got.

#11681 [sdk] bump: create v 1.0.34 of sdk
  sdks/js/package-lock.json
  sdks/js/package.json
Labels: sdk-ack

#11643 enh: add missing google models + re-organize them a bit
  front/components/providers/types.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11695 [Attach] Ability to attach datasources in inputbar (Folders (capital F) & Websites)
  core/src/data_sources/node.rs
  extension/package.json
  extension/shared/lib/content_nodes.ts
  front/components/data_source_view/DataSourceViewSelector.tsx
  front/components/spaces/SpaceSearchLayout.tsx
  front/lib/actions/conversation/list_files.ts
  front/lib/api/assistant/conversation/content_fragment.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/content_nodes.ts
  front/types/core/content_node.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#11720 [Attach] Ship
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/input_bar/editor/markdownSerializer.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11728 [front] mcp(validation): remote hash from validation
  front/components/assistant/conversation/ActionValidationProvider.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/pubsub.ts
  front/lib/actions/utils.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11733 [sdk] bump: create v1.0.36 of sdk
  sdks/js/package-lock.json
  sdks/js/package.json
Labels: sdk-ack

#11722 Fix responseFormat set logic
  front/components/assistant_builder/AdvancedSettings.tsx
  front/lib/models/assistant/agent.ts
Labels: migration-ack

#11725 Add a 'Beta features' page to centralize all labs experiments
  front/components/UserMenu.tsx
  front/components/labs/FeatureAccessButton.tsx
  front/components/labs/RequestFeatureAccessModal.tsx
  front/components/trackers/TrackerBuilder.tsx
  front/lib/email.ts
  front/pages/api/v1/w/[wId]/feature_flags.test.ts
  front/pages/api/w/[wId]/labs/request_access.ts
  front/pages/w/[wId]/labs/index.tsx
  front/pages/w/[wId]/labs/trackers/[tId]/index.tsx
  front/pages/w/[wId]/labs/trackers/index.tsx
  front/pages/w/[wId]/labs/trackers/new.tsx
  front/pages/w/[wId]/labs/transcripts/index.tsx
  front/types/labs.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
  x/henry/dust-apply/src/index.ts
Labels: documentation-ack, sdk-ack

#11753 enh(MCP): correct typo on `executionState` enum
  front/lib/actions/mcp.ts
  front/lib/models/assistant/actions/mcp.ts
Labels: migration-ack

#11741 Publish the exploratory features page + remove labs_github_actions FF
  front/components/UserMenu.tsx
  front/components/labs/FeatureAccessButton.tsx
  front/components/labs/RequestFeatureAccessModal.tsx
  front/pages/w/[wId]/labs/index.tsx
  front/pages/w/[wId]/labs/trackers/index.tsx
  front/pages/w/[wId]/labs/transcripts/index.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11736 Add support for default and ff on actions
  front/components/actions/mcp/ActionsList.tsx
  front/components/assistant/conversation/ActionValidationProvider.tsx
  front/lib/actions/mcp_helper.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/index.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/models/assistant/actions/mcp_server_view_helper.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_connection_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/pages/api/w/[wId]/mcp/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/[svId]/index.test.ts
  front/pages/w/[wId]/actions.tsx
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/index.tsx
Labels: migration-ack

#11756 [sdks] - chore(ContentFragment): enrich
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#11772 chore(conversation): remove groupIds
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/models/assistant/agent.ts
  front/lib/models/assistant/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/migrations/20240912_backfill_agent_group_ids_dust_apps.ts
  front/migrations/20240927_backfill_conversations_groupIds.ts
  front/migrations/db/migration_198.sql
  front/types/assistant/agent.ts
  front/types/assistant/conversation.ts
Labels: migration-ack

#11762 [front] mcp(remote): more metadata to remote servers model
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/migrations/db/migration_199.sql
  front/migrations/db/migration_200.sql
  front/pages/api/w/[wId]/mcp/index.ts
  front/tests/utils/RemoteMCPServerFactory.ts
Labels: migration-ack

#11770 [Folders] Documents uploaded in Folders: fix broken link to original
  front/components/data_source/DocumentUploadOrEditModal.tsx
  front/components/data_source/MultipleDocumentsUpload.tsx
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.ts
  front/migrations/20250405_backfill_folders_doc_url.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/files.ts
  front/pages/api/w/[wId]/files/index.ts
  front/types/files.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11775 feat(MCP): add TableQuery configuration to MCP server actions
  front/admin/db.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/configuration/table_query.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/migrations/db/migration_201.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/types/api/internal/agent_configuration.ts
Labels: migration-ack

#11779 Add actions in knowledge
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/navigation/config.ts
  front/components/spaces/SpaceActionsList.tsx
  front/components/spaces/SpaceAppsList.tsx
  front/components/spaces/SpaceCategoriesList.tsx
  front/components/spaces/SpaceResourcesList.tsx
  front/components/spaces/SpaceSideBarMenu.tsx
  front/lib/actions/utils.ts
  front/lib/api/agent_data_sources.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/spaces.ts
  front/lib/swr/spaces.ts
  front/lib/swr/workspaces.ts
  front/package-lock.json
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/w/[wId]/actions.tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/[category]/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/actions/index.tsx
  front/types/api/public/spaces.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11787 refactor(MCP): move around utils relative to table configuration
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/lib/actions/configuration/helpers.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/configuration/process.ts
  front/lib/actions/configuration/retrieval.ts
  front/lib/actions/configuration/table_query.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/configuration/process.ts
  front/lib/api/assistant/configuration/retrieval.ts
  front/lib/models/assistant/actions/data_sources.ts
  front/types/api/internal/agent_configuration.ts
Labels: migration-ack

#11789 feat(MCP): allow configuring Tables in MCP actions
  front/components/assistant_builder/DataSourceSelectionSection.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/lib/actions/configuration/helpers.ts
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/index.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/data_source_utils.ts
  front/lib/actions/mcp_internal_actions/servers/helloworld.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/table_utils.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/tables_query.ts
  front/lib/resources/string_ids.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#11795 Add: ability to upload from url, improve typing for upload
  front/lib/actions/action_file_helpers.ts
  front/lib/api/assistant/conversation/content_fragment.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
Labels: documentation-ack

#11805 Add support for local MCP server
  front/components/assistant_builder/server_side_props_helpers.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/types/guards.ts
  front/lib/api/actions/mcp/local_registry.ts
  front/lib/api/actions/mcp_local.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/mcp_events.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/redis.ts
  front/lib/models/assistant/conversation.ts
  front/lib/resources/mcp_server_connection_resource.ts
  front/lib/resources/string_ids.ts
  front/migrations/db/migration_202.sql
  front/migrations/db/migration_203.sql
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/v1/w/[wId]/mcp/heartbeat.ts
  front/pages/api/v1/w/[wId]/mcp/register.ts
  front/pages/api/v1/w/[wId]/mcp/requests.ts
  front/pages/api/v1/w/[wId]/mcp/results.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/scope.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  front/types/assistant/conversation.ts
  front/types/shared/utils/string_utils.ts
  sdks/js/src/types.ts
Labels: migration-ack, documentation-ack, sdk-ack

#11829 Fix 500 errors when uploading images in conversations
  front/lib/api/data_sources.ts
  front/lib/api/files/upsert.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
Labels: documentation-ack

#11832 [front] mcp(remote): better defaults & implementation
  front/components/actions/mcp/RemoteMCPForm.tsx
  front/lib/actions/mcp_metadata.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_204.sql
  front/pages/api/w/[wId]/mcp/[serverId]/index.ts
Labels: migration-ack

#11836 feat: gemini 2.5 pro preview is generally available
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11839 Add image generation tool.
  connectors/package-lock.json
  front/components/actions/mcp/MCPActionDetails.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationsNavigationProvider.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/image_generation_dalle.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/resources/mcp_server_view_resource.ts
Labels: migration-ack

#11830 feat(MCP): add child agent configuration block
  front/admin/db.ts
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/configuration/ChildAgentSelector.tsx
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/hooks/useMCPServerRequiredConfiguration.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/ask_agent.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/permissions.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/resources/string_ids.ts
  front/migrations/db/migration_205.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/types/api/internal/agent_configuration.ts
  sdks/js/src/internal_mime_types.ts
Labels: migration-ack, sdk-ack

#11834 [front] chore(mcp): move MCP types to a specific files
  front/components/actions/mcp/ActionsList.tsx
  front/components/actions/mcp/AuthorizationInfo.tsx
  front/components/actions/mcp/CreateRemoteMCPServerModal.tsx
  front/components/actions/mcp/MCPServerDetails.tsx
  front/components/actions/mcp/MCPServerDetailsInfo.tsx
  front/components/actions/mcp/MCPServerDetailsSharing.tsx
  front/components/actions/mcp/RemoteMCPForm.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/AssistantBuilderContext.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/spaces/SpaceSideBarMenu.tsx
  front/components/spaces/mcp/RequestActionsModal.tsx
  front/hooks/useMCPServerRequiredConfiguration.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/ask_agent.ts
  front/lib/actions/mcp_internal_actions/servers/data_source_utils.ts
  front/lib/actions/mcp_internal_actions/servers/github.ts
  front/lib/actions/mcp_internal_actions/servers/helloworld.ts
  front/lib/actions/mcp_internal_actions/servers/image_generation_dalle.ts
  front/lib/actions/mcp_internal_actions/servers/table_utils.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/api/mcp.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/lib/swr/mcp_server_views.ts
  front/pages/api/w/[wId]/mcp/[serverId]/index.ts
  front/pages/api/w/[wId]/mcp/[serverId]/sync.ts
  front/pages/api/w/[wId]/mcp/available.ts
  front/pages/api/w/[wId]/mcp/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/not_activated.ts
  front/pages/w/[wId]/actions.tsx
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/tests/utils/RemoteMCPServerFactory.ts
Labels: migration-ack

#11856 [front] mcp(remote): create db for tool permission metadata
  front/admin/db.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/models/assistant/actions/mcp_server_connection.ts
  front/lib/models/assistant/actions/mcp_server_view.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/models/assistant/actions/remote_mcp_server_tool_metadata.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/remote_mcp_server_tool_metadata_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/migrations/db/migration_206.sql
Labels: migration-ack

#11875 feat(MCP): add additionalConfiguration column to MCP server configuration
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/mcp.ts
  front/migrations/db/migration_207.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/types/api/internal/agent_configuration.ts
Labels: migration-ack, sdk-ack

#11885 Fix validate function when saving agent with mcp actions
  front/lib/models/assistant/actions/mcp.ts
Labels: migration-ack

#11784 [front] Personal connections for salesforce
  connectors/migrations/db/migration_64.sql
  connectors/src/api/connector_config.ts
  connectors/src/connectors/salesforce/index.ts
  connectors/src/connectors/salesforce/temporal/activities.ts
  connectors/src/connectors/salesforce/temporal/client.ts
  connectors/src/connectors/salesforce/temporal/workflows.ts
  connectors/src/lib/models/salesforce.ts
  connectors/src/lib/remote_databases/activities.ts
  core/src/blocks/database.rs
  core/src/blocks/database_schema.rs
  core/src/databases/table.rs
  core/src/oauth/credential.rs
  front/admin/db.ts
  front/components/data_source/LabsPersonalConnectionsList.tsx
  front/components/data_source/salesforce/SalesforceOAuthExtractConfig.tsx
  front/components/data_source/salesforce/SalesforceOptionComponent.tsx
  front/lib/actions/tables_query.ts
  front/lib/api/oauth.ts
  front/lib/connector_providers.ts
  front/lib/models/labs_personal_data_source_connection.ts
  front/lib/resources/data_source_resource.ts
  front/lib/resources/user_resource.ts
  front/lib/swr/data_sources.ts
  front/lib/utils/pkce.ts
  front/migrations/db/migration_208.sql
  front/pages/api/oauth/pkce.test.ts
  front/pages/api/oauth/pkce.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
  front/pages/api/w/[wId]/labs/personal_connections/[dsId]/index.ts
  front/pages/api/w/[wId]/labs/personal_connections/index.ts
  front/pages/w/[wId]/labs/index.tsx
  front/pages/w/[wId]/labs/personal_connections/index.tsx
  front/types/data_source.ts
  front/types/labs.ts
  front/types/oauth/lib.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#11891 feat(MCP): allow adding configuration for primitive types
  front/components/assistant_builder/types.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/utils/json_schemas.test.ts
  front/lib/utils/json_schemas.ts
  sdks/js/src/internal_mime_types.ts
Labels: migration-ack, sdk-ack

#11893 Revert "[front] Personal connections for salesforce"
  connectors/migrations/db/migration_64.sql
  connectors/src/api/connector_config.ts
  connectors/src/connectors/salesforce/index.ts
  connectors/src/connectors/salesforce/temporal/activities.ts
  connectors/src/connectors/salesforce/temporal/client.ts
  connectors/src/connectors/salesforce/temporal/workflows.ts
  connectors/src/lib/models/salesforce.ts
  connectors/src/lib/remote_databases/activities.ts
  core/src/blocks/database.rs
  core/src/blocks/database_schema.rs
  core/src/databases/table.rs
  core/src/oauth/credential.rs
  front/admin/db.ts
  front/components/data_source/LabsPersonalConnectionsList.tsx
  front/components/data_source/SalesforceOAuthExtractConfig.tsx
  front/components/data_source/salesforce/SalesforceOptionComponent.tsx
  front/lib/actions/tables_query.ts
  front/lib/api/oauth.ts
  front/lib/connector_providers.ts
  front/lib/models/labs_personal_data_source_connection.ts
  front/lib/resources/data_source_resource.ts
  front/lib/resources/user_resource.ts
  front/lib/swr/data_sources.ts
  front/lib/utils/pkce.ts
  front/migrations/db/migration_208.sql
  front/pages/api/oauth/pkce.test.ts
  front/pages/api/oauth/pkce.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
  front/pages/api/w/[wId]/labs/personal_connections/[dsId]/index.ts
  front/pages/api/w/[wId]/labs/personal_connections/index.ts
  front/pages/w/[wId]/labs/index.tsx
  front/pages/w/[wId]/labs/personal_connections/index.tsx
  front/types/data_source.ts
  front/types/labs.ts
  front/types/oauth/lib.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#11877 [front] mcp(validation): don't ask again
  front/components/assistant/conversation/ActionValidationProvider.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/actions/constants.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/pubsub.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/conversation/validate_actions.ts
  front/lib/api/mcp.ts
  front/lib/resources/user_resource.ts
  front/pages/api/user/metadata/[key]/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#11896 Add: handle name and description for mcp actions
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/ProcessAction.tsx
  front/components/assistant_builder/actions/RetrievalAction.tsx
  front/components/assistant_builder/actions/TablesQueryAction.tsx
  front/components/assistant_builder/actions/TimeDropdown.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/types.ts
  front/hooks/useMCPServerRequiredConfiguration.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/mcp.ts
  front/migrations/db/migration_208.sql
  front/package-lock.json
Labels: migration-ack

#11901 Add indexes on `connectorId` on `notion_pages` and `notion_databases`
  connectors/migrations/db/migration_64.sql
  connectors/src/lib/models/notion.ts
Labels: migration-ack

#11897 [File API] Fix vulnerability: access permission checks
  front/components/data_source/DocumentUploadOrEditModal.tsx
  front/components/data_source/MultipleDocumentsUpload.tsx
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
  front/pages/api/w/[wId]/files/index.ts
  front/types/files.ts
Labels: documentation-ack

#11913 Handle missing servers, unitfy naming of internal servers
  front/components/assistant_builder/actions/MCPAction.tsx
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/authentication_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/child_agent_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/file_generator.ts
  front/lib/actions/mcp_internal_actions/servers/image_generator.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/tables_debugger.ts
  front/lib/error.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/[svId]/index.test.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11921 Add client-side MCP endpoints in the private API
  front/package-lock.json
  front/pages/api/v1/w/[wId]/mcp/register.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/mcp/heartbeat.ts
  front/pages/api/w/[wId]/mcp/register.ts
  front/pages/api/w/[wId]/mcp/requests.ts
  front/pages/api/w/[wId]/mcp/results.ts
  front/types/api/internal/assistant.ts
  package-lock.json
Labels: documentation-ack

#11894 [front] Personal connections for salesforce
  core/src/blocks/database.rs
  core/src/blocks/database_schema.rs
  core/src/databases/table.rs
  core/src/oauth/credential.rs
  front/admin/db.ts
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/LabsSalesforceErrorHandler.tsx
  front/components/data_source/salesforce/SalesforceOAuthExtractConfig.tsx
  front/lib/actions/tables_query.ts
  front/lib/api/oauth.ts
  front/lib/connector_providers.ts
  front/lib/models/labs_personal_salesforce_connection.ts
  front/lib/resources/data_source_resource.ts
  front/lib/resources/labs_salesforce_personal_connection_resource.ts
  front/lib/resources/user_resource.ts
  front/lib/swr/labs.ts
  front/lib/utils/pkce.ts
  front/migrations/db/migration_210.sql
  front/pages/api/oauth/pkce.test.ts
  front/pages/api/oauth/pkce.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/pages/api/w/[wId]/labs/salesforce_personal_connections/[dsId]/index.ts
  front/pages/api/w/[wId]/labs/salesforce_personal_connections/index.ts
  front/pages/w/[wId]/labs/index.tsx
  front/pages/w/[wId]/labs/salesforce_personal_connections/index.tsx
  front/types/labs.ts
  front/types/oauth/lib.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: migration-ack, documentation-ack, sdk-ack

#11942 Add Mcp Action validation types
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#11949 [front] Update icons, use icon picker
  front/components/actions/mcp/AdminActionsList.tsx
  front/components/actions/mcp/MCPServerDetails.tsx
  front/components/actions/mcp/MCPServerDetailsInfo.tsx
  front/components/actions/mcp/RemoteMCPForm.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/avatar_picker/AssistantBuilderEmojiPicker.tsx
  front/components/spaces/ContentActions.tsx
  front/lib/actions/constants.ts
  front/lib/actions/mcp_helper.ts
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/servers/child_agent_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/github.ts
  front/lib/actions/mcp_internal_actions/servers/image_generator.ts
  front/lib/actions/mcp_internal_actions/servers/tables_debugger.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/package-lock.json
  front/package.json
  front/pages/poke/templates/[tId].tsx
  front/tests/utils/RemoteMCPServerFactory.ts
Labels: migration-ack

#11938 [Agent Discovery] Create Group / Agent relationship
  front/admin/db.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/group_agent.ts
  front/lib/resources/group_resource.ts
  front/migrations/db/migration_211.sql
Labels: migration-ack

#11971 [sdks/js] mcp(validation): add validation overhaul types to sdk
  front/lib/actions/constants.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#11982 Fix update connection
  front/components/labs/modals/ConfigureLabsConnectionModal.tsx
  front/pages/api/w/[wId]/labs/connections/index.ts
  front/types/error.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11987 Add linear logo to sparkle
  front/pages/w/[wId]/labs/transcripts/index.tsx
  front/types/labs.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
  sparkle/package-lock.json
  sparkle/package.json
  sparkle/src/logo/platforms/Linear.tsx
  sparkle/src/logo/platforms/index.ts
Labels: sdk-ack

#11965 [front] Add tags models and endoints
  front/admin/db.ts
  front/lib/models/assistant/tag_agent.ts
  front/lib/models/tags.ts
  front/lib/resources/string_ids.ts
  front/lib/resources/tags_resource.ts
  front/migrations/db/migration_212.sql
  front/pages/api/w/[wId]/tags/[tId]/index.test.ts
  front/pages/api/w/[wId]/tags/[tId]/index.ts
  front/pages/api/w/[wId]/tags/index.test.ts
  front/pages/api/w/[wId]/tags/index.ts
  front/tests/utils/TagFactory.ts
  front/types/tag.ts
Labels: migration-ack

#11992 fix: expire content fragments linked to dsview on delete
  front/components/assistant/conversation/AttachmentCitation.tsx
  front/lib/api/data_sources.ts
  front/lib/resources/content_fragment_resource.ts
  front/lib/resources/data_source_resource.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/resources/storage/models/content_fragment.ts
  front/migrations/db/migration_211.sql
  front/types/content_fragment.ts
Labels: migration-ack

#12019 [Discovery] Create GroupAgent model (rerevert+update)
  front/admin/db.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/group_agent.ts
  front/lib/resources/group_resource.ts
  front/migrations/db/migration_214.sql
Labels: migration-ack

#12008 [front] Tags edition in Assistant Builder
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/NamingScreen.tsx
  front/components/assistant_builder/TagsSelector.tsx
  front/components/assistant_builder/TryAssistant.tsx
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/types/guards.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/api/assistant/templates.ts
  front/lib/models/assistant/tag_agent.ts
  front/lib/resources/tags_resource.ts
  front/lib/swr/tags.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/export.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/tags/[tId]/index.test.ts
  front/pages/api/w/[wId]/tags/[tId]/index.ts
  front/pages/api/w/[wId]/tags/index.ts
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/types/api/internal/agent_configuration.ts
  front/types/assistant/agent.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#12013 Upg: cleanup internal tools
  front/lib/actions/conversation/list_files.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_helper.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/file_generation.ts
  front/lib/actions/mcp_internal_actions/servers/image_generation.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/webtools.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/resources/string_ids.ts
  front/types/assistant/conversation.ts
Labels: migration-ack

#12006 chore(MCP): Move the zod schemas for tool inputs to the sdk
  front/components/assistant_builder/types.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/child_agent_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/primitive_types_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/tables_debugger.ts
  front/lib/utils/json_schemas.test.ts
  front/lib/utils/json_schemas.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/index.ts
  sdks/js/src/internal_mime_types.ts
  sdks/js/src/tool_input_schemas.ts
Labels: sdk-ack

#12032 Release GPT4.1
  core/src/providers/openai.rs
  front/components/assistant_builder/AdvancedSettings.tsx
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/providers/types.ts
  front/lib/api/assistant/global_agents.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12058 [front] fix(mcp): edit server views index
  front/lib/models/assistant/actions/mcp_server_view.ts
  front/migrations/db/migration_215.sql
Labels: migration-ack

#12066 feat: add o4-mini and o4-mini high
  core/src/providers/openai.rs
  front/components/providers/types.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12069 Add a feature flag for experimental MCP actions
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/think.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12070 [front] Batch load tags
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/tag_agent.ts
  front/lib/resources/tags_resource.ts
  front/migrations/db/migration_216.sql
Labels: migration-ack

#11950 feat(MCP): add a `TablesQuery` internal MCP server
  front/admin/cli.ts
  front/components/actions/mcp/MCPActionDetails.tsx
  front/lib/actions/dust_app_run.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/index.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/reasoning.ts
  front/lib/actions/server.ts
  front/lib/actions/tables_query.ts
  front/lib/actions/types/index.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/preprocessing.ts
  front/lib/api/redis.ts
  front/lib/temporal_monitoring.ts
  front/lib/upsert_queue.ts
  front/logger/statsDClient.ts
  front/logger/withlogging.ts
  front/pages/api/auth/[auth0].ts
  front/temporal/upsert_queue/activities.ts
  front/temporal/upsert_tables/activities.ts
  front/types/files.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#12103 feat: add o3
  core/src/providers/openai.rs
  front/components/providers/types.ts
  front/lib/api/assistant/global_agents.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12101 Fix: slow performance when loading mcp servers for UI
  .github/workflows/build-and-lint-front.yml
  front/lib/actions/configuration/mcp.ts
  front/lib/models/assistant/actions/mcp_server_view.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/vite.globalSetup.ts
Labels: migration-ack

#12054 Migrate "retrieval" to an MCP internal server
  connectors/package-lock.json
  front/components/actions/mcp/MCPActionDetails.tsx
  front/components/actions/retrieval/utils.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/index.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/search.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query.ts
  front/lib/actions/mcp_internal_actions/servers/utils.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/types/index.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/generation.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12102 [front] mcp(validation): allow never_ask stake level on internal tools
  front/components/actions/mcp/ToolsList.tsx
  front/lib/actions/constants.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/utils.ts
  front/lib/models/assistant/actions/remote_mcp_server_tool_metadata.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/remote_mcp_server_tool_metadata_resource.ts
  front/lib/swr/mcp_servers.ts
  front/pages/api/w/[wId]/mcp/[serverId]/tools/[toolName]/index.ts
  front/pages/api/w/[wId]/mcp/[serverId]/tools/index.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#12125 Add missing deletes from `destroyMCPServerViewDependencies`
  front/lib/models/assistant/actions/mcp_server_view_helper.ts
Labels: migration-ack

#12087 Frank/extract
  front/components/app/blocks/Chat.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/AdvancedSettings.tsx
  front/components/assistant_builder/actions/ProcessAction.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/configuration/process.ts
  front/lib/actions/process.ts
  front/lib/actions/types/guards.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/process.ts
  front/lib/registry.ts
  front/lib/utils/json_schemas.ts
  front/migrations/db/migration_217.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/assistant/builder/process/generate_schema.ts
  front/types/api/internal/agent_configuration.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#12155 Handle outputs of MCP TablesQuery
  front/components/actions/mcp/MCPActionDetails.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/search.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query.ts
  front/lib/actions/mcp_internal_actions/servers/utils.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/utils/json_schemas.test.ts
  sdks/js/src/internal_mime_types.ts
Labels: migration-ack, sdk-ack

#12216 Add API Token Consumption Tracking and Rate Limiting
  front/lib/api/assistant/pubsub.ts
  front/lib/api/assistant/token_pricing.ts
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/set_public_api_limits.ts
  front/lib/api/public_api_limits.ts
  front/lib/api/redis.ts
  front/lib/api/workspace.ts
  front/lib/auth.ts
  front/lib/resources/run_resource.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/types/user.ts
Labels: documentation-ack

#12232 Augment bodyparser size limit for runs endpoint
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/index.ts
Labels: documentation-ack

#12225 feat(MCP): add support for enums when defining tool inputs
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/configuration/AdditionalConfigurationSection.tsx
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/primitive_types_debugger.ts
  front/lib/actions/types/guards.ts
  front/lib/utils/json_schemas.test.ts
  front/lib/utils/json_schemas.ts
  sdks/js/src/internal_mime_types.ts
  sdks/js/src/tool_input_schemas.ts
Labels: sdk-ack

#12241 Fix 4mb body parser limit location
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
Labels: documentation-ack

#12231 [connectors] feat: Use firecrawl for webcrawler
  connectors/migrations/db/migration_67.sql
  connectors/package-lock.json
  connectors/package.json
  connectors/src/connectors/webcrawler/index.ts
  connectors/src/connectors/webcrawler/lib/http.ts
  connectors/src/connectors/webcrawler/lib/utils.test.ts
  connectors/src/connectors/webcrawler/lib/utils.ts
  connectors/src/connectors/webcrawler/temporal/activities.ts
  connectors/src/lib/api/config.ts
  connectors/src/lib/firecrawl.ts
  connectors/src/lib/models/webcrawler.ts
  connectors/src/resources/webcrawler_resource.ts
  connectors/src/types/webcrawler.ts
  front/components/spaces/websites/AdvancedSettingsSection.tsx
  front/components/spaces/websites/SpaceWebsiteForm.tsx
  front/components/spaces/websites/SpaceWebsiteModal.tsx
  front/types/connectors/webcrawler.ts
  front/types/shared/feature_flags.ts
  front/types/website.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#12239 Use `gpt-image-1` Model For Image Generation Tool
  front/components/poke/plans/form.tsx
  front/lib/actions/mcp_internal_actions/servers/image_generation.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query.ts
  front/lib/api/files/upload.ts
  front/lib/models/plan.ts
  front/lib/plans/enterprise_plans.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/lib/plans/trial.ts
  front/migrations/db/migration_219.sql
  front/package-lock.json
  front/package.json
  front/pages/api/poke/plans.ts
  front/types/plan.ts
Labels: migration-ack

#12245 feat(MCP): allow configuring a reasoning model on a MCP server
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/configuration/ReasoningModelConfigurationSection.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/configuration/reasoning.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/reasoning.ts
  front/lib/actions/reasoning.ts
  front/lib/api/assistant/configuration.ts
  front/lib/assistant.ts
  front/lib/models/assistant/actions/reasoning.ts
  front/lib/utils/json_schemas.ts
  front/migrations/db/migration_220.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/models.ts
  front/types/api/internal/agent_configuration.ts
  sdks/js/src/internal_mime_types.ts
  sdks/js/src/tool_input_schemas.ts
Labels: migration-ack, sdk-ack

#12256 Public API: validate context values to be less than 255 chars
  front/lib/api/assistant/conversation/helper.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/types/shared/utils/general.ts
Labels: documentation-ack

#12258 feat(Confluence): add option to ignore `x-ratelimit-nearlimit` header
  connectors/migrations/db/migration_68.sql
  connectors/src/connectors/confluence/index.ts
  connectors/src/connectors/confluence/lib/cli.ts
  connectors/src/connectors/confluence/lib/confluence_client.ts
  connectors/src/connectors/confluence/temporal/activities.ts
  connectors/src/lib/models/confluence.ts
  connectors/src/types/admin/cli.ts
Labels: migration-ack

#12254 feat(MCP): add `ask_agent` MCP server
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/ask_agent.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12309 Add: improved rendering for websearch and browse
  front/components/actions/mcp/MCPActionDetails.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/actions/AgentMessageActionsDrawer.tsx
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/webtools.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/generation.ts
  front/lib/utils/webbrowse.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#12295 feat(MCP): migrate reasoning to an MCP tool
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/reasoning.ts
  front/lib/actions/reasoning.ts
  front/types/assistant/assistant.ts
  sdks/js/src/tool_input_schemas.ts
Labels: sdk-ack

#12233 Remove unused process schema field
  front/components/assistant_builder/actions/ProcessAction.tsx
  front/lib/models/assistant/actions/process.ts
  front/migrations/db/migration_221.sql
Labels: migration-ack

#12313 Handle outputs for MCP reasoning
  front/components/actions/mcp/MCPActionDetails.tsx
  front/components/actions/reasoning/ReasoningActionDetails.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/configuration/ReasoningModelConfigurationSection.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/reasoning.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#12319 [front] poke: Import/export dust apps
  front/components/poke/apps/columns.tsx
  front/components/poke/apps/table.tsx
  front/lib/utils/apps.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/export.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/import.ts
  front/pages/api/poke/workspaces/[wId]/apps/[aId]/export.ts
  front/pages/api/poke/workspaces/[wId]/apps/import.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12298 [front] Add new scopes and permission checks
  front/components/assistant/AssistantBrowser.tsx
  front/components/assistant/AssistantDetails.tsx
  front/components/assistant/AssistantDetailsButtonBar.tsx
  front/components/assistant/AssistantsTable.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/details/AssistantUsageSection.tsx
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/NamingScreen.tsx
  front/components/assistant_builder/Sharing.tsx
  front/components/assistant_builder/TagsSelector.tsx
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/resources/group_resource.ts
  front/lib/swr/assistants.ts
  front/migrations/20250429_update_agent_scopes.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/export.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/analytics.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/editors.test.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/history/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/scope.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.test.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/tests/utils/AgentConfigurationFactory.ts
  front/types/api/internal/agent_configuration.ts
  front/types/assistant/agent.ts
  front/vite.globalSetup.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12353 Enforce Safe File Display with Explicit Safety Flags
  front/hooks/useFileUploaderService.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/utils.ts
  front/lib/file.ts
  front/lib/resources/file_resource.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/raw_content_fragment/index.ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
  front/types/files.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#12386 Add toggle to block Slack agents with access to restricted space
  connectors/migrations/db/migration_69.sql
  connectors/src/connectors/slack/bot.ts
  connectors/src/connectors/slack/index.ts
  connectors/src/lib/models/slack.ts
  connectors/src/resources/slack_configuration_resource.ts
  connectors/src/types/slack.ts
  front/lib/api/poke/plugins/data_sources/index.ts
  front/lib/api/poke/plugins/data_sources/toggle_restricted_space_agent_slack_access.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/types/connectors/slack.ts
Labels: migration-ack
