Repository dust-tt/dust, pull requests merged in 2025-09, with the labels that each got.

#15565 Add MCPServerView to docs schemas
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/v1/w/[wId]/swagger_schemas.ts
  front/public/swagger.json
Labels: documentation-ack

#15566 Rename canvas to content creation
  front/components/agent_builder/MCPServerViewsContext.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/AgentMessageGeneratedFiles.tsx
  front/components/assistant/conversation/ConversationFilesPopover.tsx
  front/components/assistant/conversation/ConversationSidePanelContainer.tsx
  front/components/assistant/conversation/ConversationSidePanelContent.tsx
  front/components/assistant/conversation/ConversationSidePanelContext.tsx
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/assistant/conversation/content_creation/CenteredState.tsx
  front/components/assistant/conversation/content_creation/ClientExecutableRenderer.tsx
  front/components/assistant/conversation/content_creation/ContentCreationContainer.tsx
  front/components/assistant/conversation/content_creation/ContentCreationHeader.tsx
  front/components/assistant/conversation/content_creation/PublicClientExecutableRenderer.tsx
  front/components/assistant/conversation/content_creation/PublicContentCreationContainer.tsx
  front/components/assistant/conversation/content_creation/PublicContentCreationHeader.tsx
  front/components/assistant/conversation/content_creation/ShareContentCreationFilePopover.tsx
  front/components/assistant/conversation/content_creation/UnsupportedContentRenderer.tsx
  front/components/assistant/conversation/content_creation/useAutoOpenContentCreation.ts
  front/components/assistant_builder/useTools.ts
  front/components/markdown/MarkdownCitation.tsx
  front/hooks/useContentCreationSharingToggle.ts
  front/lib/actions/mcp_internal_actions/constants.test.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/canvas/types.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/index.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/instructions/flavors.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/instructions/index.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/instructions/slideshow.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/types.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/validation.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/types/guards.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/global_agents/configurations/dust-deep.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/api/files/client_executable.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.ts
  front/lib/api/workspace.ts
  front/lib/files.ts
  front/lib/resources/file_resource.ts
  front/lib/swr/files.ts
  front/pages/api/v1/public/files/[token].ts
  front/pages/api/w/[wId]/files/[fileId]/share.ts
  front/pages/api/w/[wId]/index.ts
  front/pages/share/file/[token].tsx
  front/pages/w/[wId]/workspace/index.tsx
  front/types/conversation_side_panel.ts
  front/types/files.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/output_schemas.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#15558 [front] - feat(AB): switch to Agent Builder V2
  front/components/agent_builder/AgentTemplateModal.tsx
  front/components/assistant/AssistantBrowser.tsx
  front/components/assistant/CreateAgentButton.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/assistant/details/AssistantDetailsButtonBar.tsx
  front/components/assistant/details/tabs/AgentInfoTab/index.tsx
  front/components/assistant/details/tabs/AgentTriggersTab.tsx
  front/components/assistant/manager/AssistantsTable.tsx
  front/components/assistant/manager/GlobalAgentAction.tsx
  front/components/assistant_builder/AssistantTemplateModal.tsx
  front/components/assistant_builder/InstructionScreen.tsx
  front/lib/actions/mcp_internal_actions/servers/agent_management.ts
  front/lib/utils/router.ts
  front/pages/index.tsx
  front/pages/w/[wId]/builder/agents/[aId]/index.tsx
  front/pages/w/[wId]/builder/agents/create.tsx
  front/pages/w/[wId]/builder/agents/new.tsx
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/create.tsx
  front/pages/w/[wId]/builder/assistants/dust.tsx
  front/pages/w/[wId]/builder/assistants/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15580 [core] Track prompt cached tokens + add prompt caching on dust-deep
  core/src/blocks/chat.rs
  core/src/blocks/llm.rs
  core/src/providers/anthropic/anthropic.rs
  core/src/providers/anthropic/types.rs
  core/src/providers/azure_openai.rs
  core/src/providers/llm.rs
  core/src/providers/mistral.rs
  core/src/providers/openai.rs
  core/src/providers/openai_compatible_helpers.rs
  core/src/providers/openai_responses_api_helpers.rs
  front/components/app/blocks/Output.tsx
  front/lib/api/assistant/global_agents/configurations/dust-deep.ts
  front/lib/resources/run_resource.ts
  front/lib/resources/storage/models/runs.ts
  front/migrations/db/migration_351.sql
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/assistant/agent.ts
Labels: migration-ack, documentation-ack

#15632 Add: unread support for conversation
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/lib/api/assistant/streaming/events.ts
  front/lib/api/assistant/streaming/types.ts
  front/lib/resources/conversation_resource.ts
  front/lib/swr/conversations.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/index.test.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/index.ts
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/lib/create_tool_actions.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/assistant/agent.ts
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#15668 feat(sdk): add types for unread on conversations
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#15683 chore(sdkjs): bump to 1.1.12
  sdks/js/package-lock.json
  sdks/js/package.json
Labels: sdk-ack

#15640 Blocked action provider - Better logic
  front/components/assistant/conversation/BlockedActionsProvider.tsx
  front/components/assistant/conversation/blocked_actions/AuthentificationDialogPage.tsx
  front/components/assistant/conversation/blocked_actions/ToolValidationDialogPage.tsx
Labels: claude-review-requested

#15671 [front] - refacto(Assistant Builder): clean up
  front/components/agent_builder/settings/AgentBuilderSettingsBlock.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/AddToolsDropdown.tsx
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/AssistantBuilderPreviewDrawer.tsx
  front/components/assistant_builder/AssistantTemplateModal.tsx
  front/components/assistant_builder/BuilderLayout.tsx
  front/components/assistant_builder/InstructionScreen.tsx
  front/components/assistant_builder/PrevNextButtons.tsx
  front/components/assistant_builder/SettingsScreen.tsx
  front/components/assistant_builder/SlackIntegration.tsx
  front/components/assistant_builder/TagsSelector.tsx
  front/components/assistant_builder/TemplateGrid.tsx
  front/components/assistant_builder/TryAssistant.tsx
  front/components/assistant_builder/actions/DataDescription.tsx
  front/components/assistant_builder/actions/DataVisualization.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/TimeDropdown.tsx
  front/components/assistant_builder/actions/configuration/AdditionalConfigurationSection.tsx
  front/components/assistant_builder/actions/configuration/AssistantBuilderDataSourceModal.tsx
  front/components/assistant_builder/actions/configuration/ChildAgentConfigurationSection.tsx
  front/components/assistant_builder/actions/configuration/ConfigurationSectionContainer.tsx
  front/components/assistant_builder/actions/configuration/CustomToggleSection.tsx
  front/components/assistant_builder/actions/configuration/DataSourceSelectionSection.tsx
  front/components/assistant_builder/actions/configuration/DustAppConfigurationSection.tsx
  front/components/assistant_builder/actions/configuration/JsonSchemaConfigurationSection.tsx
  front/components/assistant_builder/actions/configuration/ReasoningModelConfigurationSection.tsx
  front/components/assistant_builder/actions/configuration/TimeFrameConfigurationSection.tsx
  front/components/assistant_builder/avatar_picker/AssistantBuilderAvatarPicker.tsx
  front/components/assistant_builder/avatar_picker/AssistantBuilderCustomUpload.tsx
  front/components/assistant_builder/avatar_picker/AssistantBuilderEmojiPicker.tsx
  front/components/assistant_builder/avatar_picker/types.ts
  front/components/assistant_builder/avatar_picker/utils.ts
  front/components/assistant_builder/contexts/AssistantBuilderContexts.tsx
  front/components/assistant_builder/contexts/DataSourceViewsContext.tsx
  front/components/assistant_builder/contexts/MCPServerViewsContext.tsx
  front/components/assistant_builder/contexts/PreviewPanelContext.tsx
  front/components/assistant_builder/contexts/SpacesContext.tsx
  front/components/assistant_builder/instructions/DiffMarks.ts
  front/components/assistant_builder/instructions/InstructionDiffExtension.ts
  front/components/assistant_builder/instructions/InstructionSuggestions.tsx
  front/components/assistant_builder/instructions/InstructionsHistory.tsx
  front/components/assistant_builder/legacy_agent.ts
  front/components/assistant_builder/shared.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/tags/DataSourceViewTagsFilterDropdown.tsx
  front/components/assistant_builder/tags/helpers.ts
  front/components/assistant_builder/types.ts
  front/components/assistant_builder/useSlackChannels.tsx
  front/components/assistant_builder/useTemplate.tsx
  front/components/assistant_builder/useTools.ts
  front/lib/api/assistant/templates.ts
  front/lib/resources/template_resource.ts
  front/pages/api/v1/w/[wId]/assistant/generic_agents.ts
  front/pages/poke/templates/[tId].tsx
  front/pages/w/[wId]/builder/agents/index.tsx
  front/pages/w/[wId]/builder/agents/new.tsx
Labels: documentation-ack

#15723 [front] webhooks: create webhook source model & types
  front/admin/db.ts
  front/lib/models/assistant/conversation.ts
  front/lib/models/assistant/triggers/trigger_subscriber.ts
  front/lib/models/assistant/triggers/triggers.ts
  front/lib/models/assistant/triggers/webhook_source.ts
  front/lib/resources/string_ids.ts
  front/lib/resources/trigger_resource.test.ts
  front/lib/resources/trigger_resource.ts
  front/lib/resources/webhook_source_resource.ts
  front/migrations/db/migration_354.sql
  front/types/triggers/webhooks.ts
Labels: migration-ack

#15733 [front] webhooks: create webhook source view model & types
  front/admin/db.ts
  front/lib/error.ts
  front/lib/models/assistant/triggers/webhook_sources_view.ts
  front/lib/resources/string_ids.ts
  front/lib/resources/webhook_source_resource.ts
  front/lib/resources/webhook_sources_view_resource.ts
  front/migrations/db/migration_355.sql
  front/types/triggers/webhooks.ts
Labels: migration-ack

#15751 Re: Disabled tools agent builder
  .zshrc
  front/lib/actions/mcp_internal_actions/input_configuration.ts
  front/lib/actions/mcp_internal_actions/servers/primitive_types_debugger.ts
  front/lib/api/mcp.ts
  front/lib/models/assistant/actions/mcp_server_view.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/resource_with_space.ts
  front/lib/resources/types.ts
Labels: migration-ack

#15753 Clean-up gemini models
  front/components/providers/types.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15793 [front] - fix(AB): table selection
  front/components/agent_builder/capabilities/shared/ProcessingMethodSection.tsx
  front/components/agent_builder/submitAgentBuilderForm.ts
  front/components/assistant_builder/shared.ts
Labels: claude-review-requested

#15891 [filter] enh(run_agent): Filter out messages from run_agent
  front/components/assistant/conversation/MessageGroup.tsx
  front/components/assistant/conversation/MessageItem.tsx
  front/lib/actions/mcp_internal_actions/servers/run_agent/conversation.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent/index.ts
  front/types/assistant/conversation.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#15924 create system space in test
  front/pages/api/v1/w/[wId]/triggers/hooks/index.test.ts
Labels: documentation-ack

#15895 Use OpenAI eu key under a flag
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/types/api/credentials.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#15919 [Web Hooks] Implement webhook-triggered agent runs
  front/lib/resources/trigger_resource.ts
  front/pages/api/v1/w/[wId]/triggers/hooks/[webhookSourceId].ts
  front/temporal/agent_schedule/activities.ts
  front/temporal/agent_schedule/client.ts
  front/temporal/agent_schedule/workflows.ts
Labels: documentation-ack

#15937 [front] release schedules
  front/components/agent_builder/AgentBuilderLeftPanel.tsx
  front/components/agent_builder/triggers/AgentBuilderTriggersBlock.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15961 Log the user workspace
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
Labels: documentation-ack

#15993 Remove deep-2
  extension/shared/lib/utils.ts
  extension/ui/components/conversation/AgentSuggestion.tsx
  extension/ui/components/input_bar/editor/suggestion.ts
  front/components/assistant/conversation/AgentSuggestion.tsx
  front/lib/api/assistant/global_agents/configurations/dust/dust-deep.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#15717 Add Slack bot MCP server
  core/src/oauth/providers/slack.rs
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/slack.ts
  front/lib/actions/mcp_internal_actions/servers/slack/slack_api_helper.ts
  front/lib/actions/mcp_internal_actions/servers/slack/slack_bot.ts
  front/lib/api/oauth/providers/slack.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#16010 [Prod Check] Parallelize GDrive GC check across data sources
  front/lib/production_checks/checks/managed_data_source_gdrive_gc.ts
Labels: raw-sql-ack

#16004 [front] webhooks: select a webhook source in AB form
  front/components/agent_builder/triggers/AgentBuilderTriggersBlock.tsx
  front/components/agent_builder/triggers/ScheduleEditionModal.tsx
  front/components/agent_builder/triggers/TriggerCard.tsx
  front/components/agent_builder/triggers/WebhookEditionModal.tsx
  front/components/agent_builder/triggers/triggerFormSchema.ts
  front/lib/resources/trigger_resource.ts
  front/pages/api/v1/w/[wId]/triggers/hooks/[webhookSourceId].ts
Labels: documentation-ack

#16035 Skip sending openai encrypted metadata across region
  core/src/providers/anthropic/types.rs
  core/src/providers/chat_messages.rs
  core/src/providers/embedder.rs
  core/src/providers/openai.rs
  core/src/providers/openai_responses_api_helpers.rs
  front/lib/api/config.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/assistant/agent_message_content.ts
Labels: documentation-ack

#16065 Remove google drive tool FF
  front/lib/actions/mcp_internal_actions/constants.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#16086 [MCP RunAgent] Return success if child conversation finished after reconnect
  front/lib/actions/mcp_internal_actions/servers/run_agent/index.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#16103 [cc] revert tool
  front/lib/actions/mcp_internal_actions/servers/content_creation/index.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/instructions.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/types.ts
  front/lib/api/files/client_executable.test.ts
  front/lib/api/files/client_executable.ts
  front/lib/api/files/utils.ts
Labels: claude-review-requested

#15538 [front] Replace `MCPActionType` with the resource
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent/index.ts
  front/lib/actions/mcp_internal_actions/utils/file_utils.ts
  front/lib/actions/types/guards.ts
  front/lib/api/assistant/citations.ts
  front/lib/api/assistant/conversation/files.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/preprocessing.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/resources/agent_step_content_resource.ts
  front/pages/poke/[wId]/conversations/[cId]/index.tsx
  front/types/actions.ts
  front/types/assistant/agent_message_content.ts
  front/types/assistant/conversation.ts
  front/types/poke/index.ts
  sdks/js/src/types.ts
Labels: sdk-ack, claude-review-requested

#16091 Custom MCP Sever: Add possibility to set custom headers in remote MCP connection
  front/components/actions/mcp/ConnectMCPServerDialog.tsx
  front/components/actions/mcp/CreateMCPServerDialog.tsx
  front/components/actions/mcp/MCPServerHeaders.tsx
  front/components/actions/mcp/RemoteMCPForm.tsx
  front/lib/actions/mcp_metadata.ts
  front/lib/api/mcp.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_360.sql
  front/pages/api/w/[wId]/mcp/[serverId]/index.test.ts
  front/pages/api/w/[wId]/mcp/[serverId]/index.ts
  front/pages/api/w/[wId]/mcp/discover_oauth_metadata.ts
  front/pages/api/w/[wId]/mcp/index.ts
  front/types/index.ts
  front/types/shared/utils/http_headers.ts
  front/types/shared/utils/string_utils.ts
Labels: migration-ack

#16126 [front] Drop unused index on AgentStepContent + cleanup durable agents TODOs
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_execution.ts
  front/lib/models/assistant/agent_step_content.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/migrations/db/migration_362.sql
Labels: migration-ack

#16214 [Agent Loop] Signal-based cancel for agent message workflow
  front/lib/api/assistant/pubsub.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/cancel.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/cancel.ts
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/client.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/temporal/agent_loop/lib/workflow_ids.ts
  front/temporal/agent_loop/signals.ts
  front/temporal/agent_loop/worker.ts
  front/temporal/agent_loop/workflows.ts
Labels: documentation-ack

#16216 [front] enh(search): Implement server side sort on search
  core/src/search_stores/search_store.rs
  front/components/spaces/SpaceSearchLayout.tsx
  front/components/spaces/search/columns.tsx
  front/lib/api/search.ts
  front/lib/swr/spaces.ts
  front/pages/api/w/[wId]/search.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#16321 Remove references to table query v1
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/agent_builder/capabilities/knowledge/utils.ts
  front/components/agent_builder/capabilities/shared/ProcessingMethodSection.tsx
  front/components/agent_builder/capabilities/shared/SelectedDataSources.tsx
  front/lib/actions/mcp_helper.ts
  front/lib/actions/mcp_internal_actions/constants.test.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query/server.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query/server_v2.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/registry.ts
  front/scripts/convert_table_query_to_v2.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#16359 Directly open the corresponding modal when clicking add data as space admin
  front/components/spaces/EditSpaceManagedDatasourcesViews.tsx
  front/components/spaces/SpaceActionsList.tsx
  front/components/spaces/SpaceAppsList.tsx
  front/components/spaces/SpaceCategoriesList.tsx
  front/components/spaces/SpaceManagedActionsViewsModal.tsx
  front/components/spaces/SpaceResourcesList.tsx
  front/lib/utils/router_util.ts
  front/pages/w/[wId]/builder/agents/create.tsx
Labels: claude-review-requested

#16401 Tweak openai EU endpoint use to be more correct
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
Labels: documentation-ack

#16407 Move posthog logic to PostHogTracker + track in product behind FF
  front/components/app/PostHogTracker.tsx
  front/components/home/LandingLayout.tsx
  front/lib/cookies.ts
  front/pages/_app.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#16430 [connectors] chore(Notion): speed up page rendering
  connectors/migrations/db/migration_96.sql
  connectors/src/lib/models/notion.ts
Labels: migration-ack

#16318 [PQ] MCPServerDetails Tools & Sharing tabs are now sharing a form and not autosaving
  front/components/actions/mcp/MCPServerDetails.tsx
  front/components/actions/mcp/MCPServerDetailsSharing.tsx
  front/components/actions/mcp/MCPServerDetailsSheet.tsx
  front/components/actions/mcp/MCPServerViewForm.tsx
  front/components/actions/mcp/RemoteMCPForm.tsx
  front/components/actions/mcp/ToolsList.tsx
  front/components/actions/mcp/forms/infoFormSchema.ts
  front/components/actions/mcp/forms/mcpServerFormSchema.ts
  front/lib/swr/mcp_servers.ts
Labels: claude-review-requested

#16435 Adjust posthog for GDPR
  front/components/actions/mcp/MCPServerDetails.tsx
  front/components/app/PostHogTracker.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack
