Repository dust-tt/dust, pull requests merged in 2025-05, with the labels that each got.

#12403 [front] feat(analytics): Add inactive users csv
  front/lib/workspace_usage.ts
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/pages/api/w/[wId]/workspace-usage.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#12413 Doc/workspace usage
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/public/swagger.json
Labels: documentation-ack

#12411 Add opt-in metadata support for bigquery
  connectors/migrations/db/migration_70.sql
  connectors/package.json
  connectors/src/connectors/bigquery/index.ts
  connectors/src/connectors/bigquery/lib/bigquery_api.ts
  connectors/src/connectors/bigquery/lib/permissions.ts
  connectors/src/connectors/bigquery/temporal/activities.ts
  connectors/src/connectors/salesforce/temporal/activities.ts
  connectors/src/connectors/snowflake/temporal/activities.ts
  connectors/src/lib/data_sources.ts
  connectors/src/lib/models/bigquery.ts
  connectors/src/lib/remote_databases/activities.test.ts
  connectors/src/lib/remote_databases/activities.ts
  connectors/src/lib/remote_databases/utils.ts
  core/src/databases/database.rs
  core/src/databases/remote_databases/bigquery.rs
  core/src/databases/remote_databases/remote_database.rs
  core/src/databases/remote_databases/salesforce/salesforce.rs
  core/src/databases/remote_databases/snowflake.rs
  core/src/databases/table.rs
  core/src/databases/table_schema.rs
  front/components/data_source/BigQueryUseMetadataForDBMLView.tsx
  front/lib/connector_providers.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
Labels: migration-ack

#12417 Security fix: Add builder permission check to file endpoints
  front/admin/test.sh
  front/pages/api/v1/w/[wId]/files/[fileId].test.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/w/[wId]/files/[fileId]/index.test.ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
Labels: documentation-ack

#12426 fix(docs): Typo and missing value in enum
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/public/swagger.json
Labels: documentation-ack

#12391 enh(notion conn): process DBs async with debounce
  connectors/migrations/20250430_init_last_upserted_notion_databases.ts
  connectors/migrations/db/migration_70.sql
  connectors/migrations/db/migration_71.sql
  connectors/src/connectors/notion/lib/connectors_db_helpers.ts
  connectors/src/connectors/notion/temporal/activities.ts
  connectors/src/connectors/notion/temporal/client.ts
  connectors/src/connectors/notion/temporal/config.ts
  connectors/src/connectors/notion/temporal/workflows/admins.ts
  connectors/src/connectors/notion/temporal/workflows/children.ts
  connectors/src/connectors/notion/temporal/workflows/garbage_collection.ts
  connectors/src/connectors/notion/temporal/workflows/index.ts
  connectors/src/connectors/notion/temporal/workflows/upsert_database_queue.ts
  connectors/src/connectors/notion/temporal/workflows/upserts.ts
  connectors/src/lib/models/notion.ts
  connectors/src/types/notion.ts
  front/lib/production_checks/checks/check_notion_active_workflows.ts
  front/types/connectors/workflows.ts
Labels: migration-ack

#12384 MCP Notifications Support for Live Tool Updates
  .github/workflows/build-and-lint-front.yml
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  front/admin/relocate_users.ts
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_errors.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/image_generation.ts
  front/lib/actions/mcp_internal_actions/servers/reasoning.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/api/mcp.ts
  front/lib/utils/events.ts
  front/package-lock.json
  front/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#12428 Re-revert "Security fix: Add builder permission check to file endpoints""
  front/admin/test.sh
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/v1/w/[wId]/files/fileId.test.ts
  front/pages/api/w/[wId]/files/[fileId]/index.test.ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
Labels: documentation-ack

#12410 [front] mcp: add a duration mime type
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/configuration/TimeFrameConfigurationSection.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/mcp.ts
  front/migrations/db/migration_222.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/types/api/internal/agent_configuration.ts
  sdks/js/src/internal_mime_types.ts
  sdks/js/src/tool_input_schemas.ts
Labels: migration-ack, sdk-ack

#12457 Add index for subscriptions on `(workspaceId, status, planId)`
  front/lib/models/plan.ts
  front/migrations/db/migration_224.sql
Labels: migration-ack

#12520 Rename MCP Servers
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/co_edition/CoEditionContainer.tsx
  front/components/assistant/conversation/lib.ts
  front/components/assistant/details/AssistantKnowledgeSection.tsx
  front/components/assistant/details/AssistantToolsSection.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/utils.ts
  front/lib/api/actions/mcp/client_side_registry.ts
  front/lib/api/actions/mcp_client_side.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/api/assistant/mcp_events.ts
  front/lib/api/mcp.ts
  front/lib/api/redis.ts
  front/lib/models/assistant/conversation.ts
  front/migrations/db/migration_225.sql
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/v1/w/[wId]/mcp/heartbeat.ts
  front/pages/api/v1/w/[wId]/mcp/register.ts
  front/pages/api/v1/w/[wId]/mcp/requests.ts
  front/pages/api/v1/w/[wId]/mcp/results.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/scope.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/mcp/heartbeat.ts
  front/pages/api/w/[wId]/mcp/register.ts
  front/pages/api/w/[wId]/mcp/requests.ts
  front/pages/api/w/[wId]/mcp/results.ts
  front/types/api/internal/assistant.ts
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Labels: migration-ack, documentation-ack, sdk-ack

#12518 [front] chore(danger): Add sql check in danger
  .github/workflows/run-dangerjs.yml
  front/dangerfile.ts
Labels: raw-sql-ack

#12525 [front] feat(apps): Add workspaceId filter and new composite index
  front/lib/resources/app_resource.ts
  front/lib/resources/storage/models/apps.ts
  front/migrations/db/migration_226.sql
Labels: migration-ack

#12528 [front] feat(messages): Add workspaceId filter to Message
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/participants.ts
  front/lib/api/assistant/preprocessing.ts
  front/lib/api/assistant/reaction.ts
  front/lib/models/assistant/conversation.ts
  front/lib/resources/agent_message_feedback_resource.ts
  front/lib/resources/content_fragment_resource.ts
  front/lib/workspace_usage.ts
  front/migrations/db/migration_227.sql
Labels: migration-ack

#12531 [sdk] mcp: add remote stake level & bump
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#12532 Workspace isolation transcripts history
  front/lib/resources/labs_transcripts_resource.ts
  front/lib/resources/storage/models/labs_transcripts.ts
  front/migrations/db/migration_226.sql
  front/migrations/db/migration_227.sql
  front/migrations/db/migration_228.sql
  front/temporal/labs/transcripts/activities.ts
  front/temporal/labs/transcripts/utils/gong.ts
  front/temporal/labs/transcripts/utils/google.ts
  front/temporal/labs/transcripts/utils/modjo.ts
Labels: migration-ack

#12534 Sdk js notification types
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/types.ts
Labels: sdk-ack

#12535 Workspace isolation agent dust app run action
  front/lib/actions/dust_app_run.ts
  front/lib/models/assistant/actions/dust_app_run.ts
  front/lib/poke/conversations.ts
  front/migrations/db/migration_229.sql
Labels: migration-ack

#12537 [front] feat(browse-action): Add workspace id filtering
  front/lib/actions/browse.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/browse.ts
  front/migrations/db/migration_232.sql
Labels: migration-ack

#12454 [front] - feat(MCP): run Dust App
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/configuration/DustAppConfigurationSection.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/index.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/include.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/reasoning.ts
  front/lib/actions/mcp_internal_actions/servers/run_dust_app.ts
  front/lib/actions/mcp_internal_actions/servers/search.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query.ts
  front/lib/actions/mcp_internal_actions/servers/webtools.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/types/index.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/migrations/db/migration_225.sql
  front/migrations/db/migration_230.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/types/api/internal/agent_configuration.ts
  sdks/js/src/internal_mime_types.ts
Labels: migration-ack, sdk-ack

#12538 Workspace isolation document retrieval
  front/admin/db.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/models/assistant/actions/retrieval.ts
  front/lib/resources/retrieval_document_resource.ts
  front/migrations/20250123_backfill_retrieval.ts
  front/migrations/db/migration_238.sql
Labels: migration-ack

#12543 [front] feat(conversation): Add workspaceId filtering
  front/lib/models/assistant/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/migrations/db/migration_233.sql
Labels: migration-ack

#12540 Workspace isolation search labels action
  front/lib/actions/search_labels.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/search_labels.ts
  front/migrations/db/migration_231.sql
Labels: migration-ack

#12554 fix(public-api): get conversation events should support lastEventId
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/events.ts
Labels: documentation-ack

#12551 [front] feat(agent-process): Add workspaceId filter
  front/lib/actions/process.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/process.ts
  front/migrations/db/migration_237.sql
Labels: migration-ack

#12548 [front] feat(mentions): Add workspaceId filter to Mention
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/conversation.ts
  front/migrations/db/migration_236.sql
  front/scripts/remove_draft_agent_configurations.ts
Labels: migration-ack

#12563 Merge `experimental_mcp_actions` and `dev_mcp_actions` FF
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/child_agent_debugger.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12547 [front] feat(mcp-action): add workspaceId filter to AgentMCPAction
  front/lib/actions/mcp.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/mcp.ts
  front/migrations/db/migration_235.sql
Labels: migration-ack

#12567 [front] Add workspaceId where clause for agent_process_configuration
  front/lib/actions/configuration/process.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/process.ts
  front/migrations/db/migration_246.sql
  front/poke/temporal/activities.ts
Labels: migration-ack

#12570 [front] Add workspaceId where clause for agent_dust_app_run_configuration
  front/lib/actions/configuration/dust_app_run.ts
  front/lib/models/assistant/actions/dust_app_run.ts
  front/migrations/db/migration_248.sql
  front/poke/temporal/activities.ts
  front/scripts/remove_draft_agent_configurations.ts
Labels: migration-ack

#12574 Add workspaceId where clause for agent_mcp_server_configuration
  front/lib/actions/configuration/mcp.ts
  front/lib/models/assistant/actions/mcp.ts
  front/migrations/db/migration_251.sql
  front/poke/temporal/activities.ts
Labels: migration-ack

#12582 [front] chore(agent-tables-query-action): Add workspaceId filter
  front/lib/actions/tables_query.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/poke/conversations.ts
  front/migrations/db/migration_242.sql
Labels: migration-ack

#12583 Workspace isolation: agent configuration (author redis cache)
  front/lib/api/assistant/recent_authors.ts
  front/lib/models/assistant/agent.ts
  front/migrations/db/migration_253.sql
Labels: migration-ack

#12597 [front] fix(migration): Shorten index name
  front/lib/models/assistant/actions/mcp.ts
  front/migrations/db/migration_251.sql
Labels: migration-ack

#12593 [front] chore(GroupSpaceVault): Add workspaceId filter
  front/lib/resources/space_resource.ts
  front/lib/resources/storage/models/group_spaces.ts
  front/migrations/db/migration_255.sql
Labels: migration-ack

#12599 Improve client side MCP registration - Step 1
  front/components/assistant/conversation/co_edition/transport.ts
  front/lib/api/actions/mcp/client_side_registry.ts
  front/lib/api/actions/mcp_client_side.ts
  front/lib/api/assistant/agent.ts
  front/pages/api/v1/w/[wId]/mcp/register.ts
  front/pages/api/w/[wId]/mcp/register.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/index.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#12598 [front] chore(AgentReasoningConfig): Add workspaceId filter
  front/lib/actions/configuration/reasoning.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/reasoning.ts
  front/migrations/db/migration_256.sql
Labels: migration-ack

#12603 Fix/shorten index name
  front/lib/models/assistant/actions/browse.ts
  front/lib/models/assistant/actions/dust_app_run.ts
  front/lib/models/assistant/actions/process.ts
  front/lib/models/assistant/actions/retrieval.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/lib/models/assistant/actions/websearch.ts
  front/migrations/db/migration_239.sql
  front/migrations/db/migration_246.sql
  front/migrations/db/migration_247.sql
  front/migrations/db/migration_248.sql
  front/migrations/db/migration_249.sql
  front/migrations/db/migration_250.sql
Labels: migration-ack

#12613 Remove mcp_actions feature flag
  front/components/assistant/conversation/ConversationLayout.tsx
  front/components/spaces/SpaceSideBarMenu.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/utils.ts
  front/lib/spaces.ts
  front/package-lock.json
  front/pages/w/[wId]/me/index.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12607 [front] chore(AgentDataSourceConfiguration): add workspaceId filter
  front/lib/actions/configuration/process.ts
  front/lib/actions/configuration/retrieval.ts
  front/lib/actions/mcp_internal_actions/servers/utils.ts
  front/lib/api/agent_data_sources.ts
  front/lib/models/assistant/actions/data_sources.ts
  front/migrations/db/migration_257.sql
Labels: migration-ack

#12565 Flav/workspace isolation retrieval action
  front/lib/actions/retrieval.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/retrieval.ts
  front/lib/poke/conversations.ts
  front/migrations/db/migration_241.sql
Labels: migration-ack

#12580 [front] feat(agent_web_search_action): Add workspaceId filter
  front/lib/actions/websearch.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/actions/websearch.ts
  front/lib/poke/conversations.ts
  front/migrations/db/migration_240.sql
Labels: migration-ack

#12624 [front] feat(AgentTablesQueryConfiguration): Add workspaceId filter
  front/lib/actions/configuration/table_query.ts
  front/lib/actions/mcp_internal_actions/servers/utils.ts
  front/lib/api/agent_data_sources.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/migrations/db/migration_258.sql
Labels: migration-ack

#12611 [front] chore(message): Add some missing workspaceId filtering
  front/lib/api/assistant/conversation.ts
  front/lib/models/assistant/conversation.ts
  front/migrations/db/migration_261.sql
Labels: migration-ack

#12627 Workspace isolation agent child agent configuration
  front/lib/models/assistant/actions/mcp.ts
  front/migrations/db/migration_260.sql
Labels: migration-ack

#12526 `skipToolsValidation`
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/servers/ask_agent.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/email_trigger.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/models/assistant/conversation.ts
  front/migrations/db/migration_262.sql
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/public/swagger.json
  front/temporal/labs/transcripts/activities.ts
  front/types/api/internal/assistant.ts
  front/types/assistant/conversation.ts
  sdks/js/src/index.ts
  sdks/js/src/types.ts
Labels: migration-ack, documentation-ack, sdk-ack

#12656 [front] chore: Rename WorkspaceHasDomain to WorkspaceHasDomainModel
  front/admin/db.ts
  front/lib/api/workspace.ts
  front/lib/iam/workspaces.ts
  front/lib/models/workspace_has_domain.ts
  front/lib/resources/workspace_has_domain_resource.ts
  front/pages/api/poke/workspaces/index.ts
  front/pages/api/w/[wId]/enterprise-connection.ts
  front/pages/api/w/[wId]/index.test.ts
  front/pages/api/w/[wId]/index.ts
  front/pages/no-workspace.tsx
  front/poke/temporal/activities.ts
Labels: migration-ack

#12658 chore(message): Add more missing workspaceId
  front/lib/api/assistant/pubsub.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/cancel.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/cancel.ts
Labels: documentation-ack

#12652 add missing workspace id filter and composite index
  front/lib/api/agent_data_sources.ts
  front/lib/models/assistant/actions/data_sources.ts
  front/migrations/db/migration_263.sql
Labels: migration-ack

#12678 bump sdk
  connectors/package-lock.json
  front/package-lock.json
  sdks/js/package-lock.json
  sdks/js/package.json
Labels: sdk-ack

#12667 [front] Add tags that can be assigned by builders only
  front/components/assistant/AssistantBrowser.tsx
  front/components/assistant/TagsFilterMenu.tsx
  front/components/assistant/manager/AssistantsTable.tsx
  front/components/assistant/manager/TableTagSelector.tsx
  front/components/assistant_builder/TagUpdateDialog.tsx
  front/components/assistant_builder/TagsSelector.tsx
  front/lib/api/assistant/configuration.ts
  front/lib/models/tags.ts
  front/lib/resources/tags_resource.ts
  front/lib/swr/tags.ts
  front/lib/utils.ts
  front/migrations/20250429_update_agent_scopes.ts
  front/migrations/db/migration_266.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/tags.ts
  front/pages/api/w/[wId]/tags/[tId]/index.ts
  front/pages/api/w/[wId]/tags/index.ts
  front/temporal/scrub_workspace/activities.ts
  front/tests/utils/TagFactory.ts
  front/types/api/internal/agent_configuration.ts
  front/types/tag.ts
Labels: migration-ack

#12728 [front] chore(tracker-config): Add missing workspaceId and index
  front/lib/models/doc_tracker.ts
  front/lib/resources/tracker_resource.ts
  front/migrations/db/migration_267.sql
Labels: migration-ack

#12732 Add support for smart trackers in Gong
  connectors/migrations/db/migration_73.sql
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/gong/lib/gong_api.ts
  connectors/src/connectors/gong/lib/upserts.ts
  connectors/src/connectors/gong/temporal/activities.ts
  connectors/src/lib/models/gong.ts
  connectors/src/resources/gong_resources.ts
  front/components/data_source/gong/GongOptionComponent.tsx
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
Labels: migration-ack

#12775 feat: add flag for sfdc connector on pro plan
  front/components/spaces/AddConnectionMenu.tsx
  front/lib/connector_providers.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/scripts/toggle_feature_flags.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12780 Fix rate limiter of API keys
  front/pages/api/w/[wId]/keys/index.ts
Labels: claude-review-requested

#12781 Fix API Keys sorting
  front/pages/w/[wId]/developers/api-keys.tsx
Labels: claude-review-requested

#12782 Increase curl block timeout to 45s
  core/src/blocks/curl.rs
Labels: claude-review-requested

#12778 Add support for `fromTs` in Gong full resync
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/gong/lib/cli.ts
  connectors/src/types/admin/cli.ts
Labels: claude-review-requested

#12790 Poké: Agent detail display author name & email on top of ID
  front/lib/api/assistant/editors.ts
  front/pages/poke/[wId]/assistants/[aId]/index.tsx
Labels: claude-review-requested

#12789 [front] Moved method from script helpers
  front/lib/utils/sql_utils.ts
  front/migrations/20250516_migrate_retrieval_to_mcp.ts
  front/scripts/helpers.ts
Labels: claude-review-requested

#12793 Add 3 new comers to About Us
  front/pages/home/about.tsx
Labels: claude-review-requested

#12786 [front] - fix(AgentBuilder): preview panel default state
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/AssistantBuilderContext.tsx
  front/components/assistant_builder/BuilderLayout.tsx
  front/package-lock.json
  front/package.json
Labels: claude-review-requested

#12785 Display name of newly created API key in side panel
  front/pages/w/[wId]/developers/api-keys.tsx
Labels: claude-review-requested

#12797 Improve flexibility for generated extract schema parsing
  front/lib/actions/process.ts
Labels: claude-review-requested

#12802 fix(security) escape tracker name
  front/lib/api/tracker.ts
Labels: claude-review-requested

#12801 Extension: Workspace picker in Avatar menu as in web app
  extension/ui/components/navigation/UserDropdownMenu.tsx
  extension/ui/pages/MainPage.tsx
Labels: claude-review-requested

#12806 Bundle user Id information in Client-Side MCP Redis key
  front/lib/api/actions/mcp_client_side.ts
Labels: claude-review-requested

#12807 [front] mcp: move sharedSecret to Bearer
  front/components/actions/mcp/RemoteMCPForm.tsx
  front/lib/actions/mcp_metadata.ts
  front/lib/api/mcp.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_268.sql
  front/pages/api/w/[wId]/mcp/[serverId]/index.ts
  front/pages/api/w/[wId]/mcp/index.ts
Labels: migration-ack, claude-review-requested

#12809 [front] chore(models): Rename MembershipInvitation to MembershipInvitationModel
  front/admin/db.ts
  front/lib/api/invitation.ts
  front/lib/iam/invitations.ts
  front/lib/models/membership_invitation.ts
  front/migrations/20240404_backfill_users_and_invitations_sid.ts
  front/pages/api/login.ts
  front/poke/temporal/activities.ts
Labels: migration-ack

#12799 [.github] - feat: new sparkle publish GA
  .github/workflows/publish-sparkle-new.yml
Labels: claude-review-requested

#12800 Indicate unreleased MCP servers in Agent Builder
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/useTools.ts
  front/lib/actions/mcp_helper.ts
  front/lib/actions/mcp_internal_actions/servers/run_dust_app.ts
  front/lib/api/mcp.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/swr/mcp_server_views.ts
  front/types/shared/utils/string_utils.ts
Labels: claude-review-requested

#12813 [front] max height to action card and handle more special display name
  front/components/assistant_builder/ActionsScreen.tsx
  front/types/shared/utils/string_utils.ts
Labels: claude-review-requested

#12815 Add option to grey out avatar in convo
  sparkle/package-lock.json
  sparkle/package.json
  sparkle/src/components/ConversationMessage.tsx
  sparkle/src/stories/ConversationMessage.stories.tsx
Labels: claude-review-requested

#12788 feat: Make default crawler firecrawl and a migration script
  connectors/migrations/20250520_move_empty_content_crawler_to_firecrawl.ts
  connectors/src/types/webcrawler.ts
  front/components/spaces/websites/AdvancedSettingsSection.tsx
  front/components/spaces/websites/SpaceWebsiteForm.tsx
  front/components/spaces/websites/SpaceWebsiteModal.tsx
  front/types/connectors/webcrawler.ts
Labels: migration-ack, claude-review-requested

#12822 [front] Fixes on agent scopes
  front/components/assistant_builder/TryAssistant.tsx
  front/components/assistant_builder/types.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/templates.ts
  front/pages/api/v1/w/[wId]/assistant/agent_configurations.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/history/index.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.test.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/public/swagger.json
Labels: documentation-ack, claude-review-requested

#12829 [front] remove leftover word "delete" for agents
  front/components/assistant/AssistantDetails.tsx
Labels: claude-review-requested

#12814 Rename Gong smart trackers to trackers
  connectors/migrations/db/migration_74.sql
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/gong/lib/gong_api.ts
  connectors/src/connectors/gong/temporal/activities.ts
  connectors/src/lib/models/gong.ts
  connectors/src/resources/gong_resources.ts
  front/components/data_source/gong/GongOptionComponent.tsx
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
Labels: migration-ack, claude-review-requested

#12830 [front] remove avatars from conversation title
  front/components/assistant/conversation/ConversationParticipants.tsx
  front/components/assistant/conversation/ConversationTitle.tsx
Labels: claude-review-requested

#12827 front-internal / DustAPI config clean-up
  connectors/migrations/20240719_migrate_github_connection_id.ts
  connectors/src/connectors/slack/auto_read_channel.ts
  connectors/src/connectors/slack/bot.ts
  connectors/src/connectors/slack/lib/workspace_limits.ts
  connectors/src/lib/api/config.ts
  connectors/src/lib/data_sources.ts
Labels: claude-review-requested

#12828 [.github] - fix(sparkle): auto bump deployment
  .github/workflows/publish-sparkle-new.yml
Labels: claude-review-requested

#12831 Prevent overriding server names when migrating TablesQuery
  front/migrations/20250516_migrate_tables_query_to_mcp_globally.ts
Labels: claude-review-requested

#12698 [MCP] Create Extract action as internal mcp action
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/actions/ProcessAction.tsx
  front/components/assistant_builder/actions/configuration/JsonSchemaConfigurationSection.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/process.ts
  front/lib/actions/mcp_internal_actions/servers/utils.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/global_agents.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/utils/json_schemas.test.ts
  front/lib/utils/json_schemas.ts
  front/migrations/db/migration_259.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/types/api/internal/agent_configuration.ts
  sdks/js/src/internal_mime_types.ts
Labels: migration-ack, sdk-ack, claude-review-requested

#12664 Tables Query MCP server GA
  front/components/assistant_builder/ActionsScreen.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query/server.ts
Labels: claude-review-requested

#12832 Extension: Rework layout & routing to merge MainPage & ConversationPage to avoid re-redendering
  extension/ui/components/conversation/ConversationContainer.tsx
  extension/ui/pages/ConversationPage.tsx
  extension/ui/pages/MainPage.tsx
  extension/ui/pages/routes.tsx
Labels: claude-review-requested

#12846 Opt: cache sId computation in memory
  front/lib/resources/string_ids.ts
Labels: claude-review-requested

#12804 Update notion write actions stakes
  front/lib/actions/mcp_internal_actions/constants.ts
Labels: claude-review-requested

#12805 Add logic for Hubspot In/Not In filters
  front/lib/actions/mcp_internal_actions/servers/hubspot/hubspot_api_helper.ts
  front/lib/actions/mcp_internal_actions/servers/hubspot/server.ts
Labels: claude-review-requested

#12849 [assistant] - fix: adjust read/edit permissions based on draft status
  front/lib/api/assistant/configuration.ts
Labels: claude-review-requested

#12691 [front] mcp(remote): auto sync remote servers and persist errors
  front/components/actions/mcp/RemoteMCPForm.tsx
  front/lib/api/mcp.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_269.sql
  front/pages/api/w/[wId]/mcp/[serverId]/sync.ts
  front/start_worker.ts
  front/temporal/remote_tools/activities.ts
  front/temporal/remote_tools/admin/cli.ts
  front/temporal/remote_tools/client.ts
  front/temporal/remote_tools/config.ts
  front/temporal/remote_tools/worker.ts
  front/temporal/remote_tools/workflows.ts
Labels: migration-ack

#12866 Add batch deletion capability for Auth0 users
  front/lib/api/poke/plugins/global/delete_auth0_user.ts
Labels: claude-review-requested, codex

#12854 [front] Handle authentication with workos
  front/lib/api/config.ts
  front/lib/api/regions/lookup.ts
  front/lib/api/user.ts
  front/lib/auth.ts
  front/lib/iam/enterprise.ts
  front/lib/iam/provider.ts
  front/lib/iam/session.ts
  front/lib/iam/users.ts
  front/lib/iam/workspaces.ts
  front/lib/models/workspace.ts
  front/logger/withlogging.ts
  front/migrations/db/migration_workos_1.sql
  front/package-lock.json
  front/package.json
  front/pages/api/auth/[action].ts
  front/pages/api/auth/[auth0].ts
  front/pages/api/login.ts
  front/pages/api/user/index.test.ts
  front/pages/index.tsx
  front/pages/login-error.tsx
  front/tests/utils/WorkspaceFactory.ts
  front/tests/utils/generic_private_api_tests.ts
  front/types/user.ts
Labels: claude-review-requested

#12873 Rename `CHILD_AGENT` -> `AGENT`
  front/components/assistant_builder/actions/MCPAction.tsx
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/resources/string_ids.ts
  front/lib/utils/json_schemas.test.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#12879 feat: add claude 4 models
  front/components/providers/types.ts
  front/types/assistant/assistant.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12882 fix: gate opus
  front/types/assistant/assistant.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12819 [front] Cleanup scopes
  front/components/assistant/AssistantBrowser.tsx
  front/components/assistant/AssistantDetails.tsx
  front/components/assistant/AssistantDetailsButtonBar.tsx
  front/components/assistant/DeleteAssistantDialog.tsx
  front/components/assistant/details/AssistantUsageSection.tsx
  front/components/assistant/manager/AssistantsTable.tsx
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/SettingsScreen.tsx
  front/lib/api/assistant/configuration.ts
  front/lib/swr/assistants.ts
  front/migrations/20250429_update_agent_scopes.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/scope.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/w/[wId]/builder/assistants/index.tsx
  front/tests/utils/AgentConfigurationFactory.ts
  front/types/api/internal/agent_configuration.ts
  front/types/assistant/agent.ts
Labels: claude-review-requested

#12935 fix(Intercom): bump default retention period in SQL
  connectors/migrations/db/migration_75.sql
  connectors/src/connectors/intercom/index.ts
  connectors/src/lib/models/intercom.ts
Labels: migration-ack

#12938 AgentMessage.error.metadata
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/assistant/conversation.ts
  front/migrations/db/migration_271.sql
  front/types/assistant/agent.ts
  front/types/assistant/conversation.ts
Labels: migration-ack

#12952 [front] - feat(FF): add 'agent_builder_v2' to feature flag
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack
