Repository dust-tt/dust, pull requests merged in 2025-06, with the labels that each got.

#13019 Workos
  front/components/UserMenu.tsx
  front/components/workspace/WorkOSConnection.tsx
  front/components/workspace/connection.tsx
  front/lib/api/auth0.ts
  front/lib/api/config.ts
  front/lib/api/enterprise_connection.ts
  front/lib/api/signup.ts
  front/lib/api/user.ts
  front/lib/api/workos/client.ts
  front/lib/api/workos/organization.ts
  front/lib/api/workos/sync.ts
  front/lib/api/workos/user.ts
  front/lib/auth.ts
  front/lib/iam/enterprise.ts
  front/lib/iam/provider.ts
  front/lib/iam/session.ts
  front/lib/iam/users.ts
  front/lib/models/workspace.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/storage/models/groups.ts
  front/lib/resources/storage/models/user.ts
  front/lib/resources/user_resource.ts
  front/lib/swr/workos.ts
  front/lib/swr/workspaces.ts
  front/lib/types/workos.ts
  front/logger/withlogging.ts
  front/migrations/20250602_migrate_organizations.ts
  front/migrations/db/migration_272.sql
  front/package-lock.json
  front/package.json
  front/pages/api/auth/[auth0].ts
  front/pages/api/create-new-workspace.ts
  front/pages/api/login.ts
  front/pages/api/user/index.test.ts
  front/pages/api/w/[wId]/enterprise-connection.ts
  front/pages/api/w/[wId]/index.ts
  front/pages/api/w/[wId]/workos/admin-portal.ts
  front/pages/api/w/[wId]/workos/dsync.ts
  front/pages/api/w/[wId]/workos/sso.ts
  front/pages/api/w/[wId]/workos/sync.ts
  front/pages/api/workos/[action].ts
  front/pages/index.tsx
  front/pages/login-error.tsx
  front/pages/sso-enforced.tsx
  front/pages/w/[wId]/members/index.tsx
  front/scripts/dev/create_test_workspaces.ts
  front/tests/utils/UserFactory.ts
  front/tests/utils/WorkspaceFactory.ts
  front/tests/utils/generic_private_api_tests.ts
  front/types/error.ts
  front/types/groups.ts
  front/types/shared/feature_flags.ts
  front/types/user.ts
  front/types/workspace.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#13043 Add google calendar personal connection MCP tool
  front/components/actions/mcp/ConnectMCPServerDialog.tsx
  front/components/actions/mcp/CreateMCPServerDialog.tsx
  front/components/actions/mcp/MCPServerOAuthConnexion.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/MCPServerPersonalAuthenticationRequired.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/authentication.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/gmail.ts
  front/lib/actions/mcp_internal_actions/servers/google_calendar.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/api/mcp.ts
  front/lib/api/oauth.ts
  front/lib/swr/mcp_servers.ts
  front/types/oauth/lib.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13145 Use sId instead of ModelId for actions
  connectors/src/connectors/slack/bot.ts
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  front/components/assistant/conversation/ActionValidationProvider.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationLayout.tsx
  front/components/assistant_builder/AssistantBuilderPreviewDrawer.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/pubsub.ts
  front/lib/api/assistant/conversation/validate_actions.ts
  front/lib/resources/string_ids.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13200 Remove unneeded typing declarations
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/authentication.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/include.ts
  front/lib/actions/mcp_internal_actions/servers/notion.ts
  front/lib/actions/mcp_internal_actions/servers/run_dust_app.ts
  front/lib/actions/mcp_internal_actions/servers/search.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query/schema.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query/server.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query/server_v2.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/models/assistant/actions/mcp.ts
  front/package-lock.json
Labels: migration-ack

#13205 Jgr142/disable non builders
  front/components/assistant/AssistantBrowser.tsx
  front/components/assistant/AssistantDetailsButtonBar.tsx
  front/components/assistant/WelcomeTourGuide.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/lib/auth.ts
  front/pages/w/[wId]/builder/agents/new.tsx
  front/pages/w/[wId]/builder/assistants/create.tsx
  front/pages/w/[wId]/builder/assistants/dust.tsx
  front/pages/w/[wId]/builder/assistants/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13231 [front] fix(table-upserts): fix table schema validation flow
  connectors/src/connectors/notion/temporal/activities.ts
  connectors/src/lib/data_sources.ts
  front/lib/api/data_sources.ts
  front/lib/api/tables.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.test.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#13181 Run Agent Action Details UI
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/actions/mcp/details/MCPRunAgentActionDetails.tsx
  front/components/actions/types.ts
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/actions/AgentMessageActions.tsx
  front/components/assistant/conversation/actions/AgentMessageActionsDrawer.tsx
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent.ts
  front/lib/assistant/state/messageReducer.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#12922 Bubble up tool approve notifcation
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/actions/constants.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent.ts
  front/lib/actions/pubsub.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/pubsub.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13224 Add: oAuthUseCase to MCPServerView to support connectionType choice
  front/lib/actions/mcp_internal_actions/servers/webtools.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/models/assistant/actions/mcp_server_view.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_276.sql
  front/pages/api/w/[wId]/mcp/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/[svId]/index.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/index.ts
  front/tests/utils/MCPServerViewFactory.ts
Labels: migration-ack

#12953 Improve Client-Side MCP Robustness
  front/components/assistant/conversation/co_edition/transport.ts
  front/components/assistant/conversation/co_edition/useCoEditionMcpServer.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/mcp_transport.ts
Labels: documentation-ack, sdk-ack

#13252 Bump SDKJS + Fix action validation + Fix Client-side MCP server
  extension/package-lock.json
  extension/package.json
  extension/platforms/front/services/mcp.ts
  extension/shared/hooks/useMcpServer.ts
  extension/shared/services/mcp.ts
  extension/ui/components/conversation/ActionValidationProvider.tsx
  extension/ui/components/conversation/AgentMessage.tsx
  front/lib/actions/mcp.ts
  front/logger/withlogging.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#13257 Send Action in tool_approve_execution event
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/actions/mcp.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
Labels: documentation-ack

#13254 Jgr142/role type key
  front/lib/auth.ts
  front/lib/resources/key_resource.ts
  front/lib/resources/storage/models/keys.ts
  front/migrations/db/migration_277.sql
  front/pages/api/w/[wId]/keys/index.ts
  front/tests/utils/KeyFactory.ts
  front/types/key.ts
Labels: migration-ack

#13301 Add: UI ready to handle choice between personal and workspace connect…
  extension/package.json
  front/components/actions/mcp/AdminActionsList.tsx
  front/components/actions/mcp/ConnectMCPServerDialog.tsx
  front/components/actions/mcp/CreateMCPServerDialog.tsx
  front/components/actions/mcp/MCPServerOAuthConnexion.tsx
  front/lib/actions/mcp_internal_actions/servers/github.ts
  front/lib/actions/mcp_internal_actions/servers/gmail.ts
  front/lib/actions/mcp_internal_actions/servers/google_calendar.ts
  front/lib/actions/mcp_internal_actions/servers/hubspot/server.ts
  front/lib/actions/mcp_internal_actions/servers/notion.ts
  front/lib/actions/mcp_internal_actions/servers/salesforce.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/api/mcp.ts
  front/lib/api/oauth/providers/gmail.ts
  front/lib/models/assistant/actions/mcp_server_view.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_view_resource.test.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/lib/swr/mcp_server_views.ts
  front/lib/swr/mcp_servers.ts
  front/package-lock.json
  front/package.json
  front/pages/api/w/[wId]/mcp/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp/available.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/[svId]/index.test.ts
  front/tests/utils/RemoteMCPServerFactory.ts
  front/types/oauth/lib.ts
Labels: migration-ack

#13300 [front] Handle missing param
  front/pages/api/v1/w/[wId]/search.ts
  front/public/swagger.json
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#13294 feat(cot-v2): scaffolding
  core/src/providers/anthropic.rs
  core/src/providers/chat_messages.rs
  core/src/providers/helpers.rs
  core/src/providers/mistral.rs
  core/src/providers/openai_compatible_helpers.rs
  front/admin/db.ts
  front/lib/models/assistant/agent_step_content.ts
  front/lib/models/assistant/conversation.ts
  front/migrations/db/migration_278.sql
  front/migrations/db/migration_279.sql
  front/types/assistant/agent_message_content.ts
  front/types/assistant/conversation.ts
Labels: migration-ack

#13312 cleanup: remove unused document_tracker feature flag
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13334 salesforce_synced_queries feature flag to show it in search tools
  front/components/assistant_builder/actions/configuration/AssistantBuilderDataSourceModal.tsx
  front/components/trackers/TrackerBuilderDataSourceModal.tsx
  front/lib/data_sources.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13341 Add: Support for workspace/personal connections for remote MCP servers
  front/components/actions/mcp/AdminActionsList.tsx
  front/components/actions/mcp/ConnectMCPServerDialog.tsx
  front/components/actions/mcp/CreateMCPServerDialog.tsx
  front/components/actions/mcp/MCPServerDetails.tsx
  front/components/actions/mcp/MCPServerOAuthConnexion.tsx
  front/components/spaces/SystemSpaceActionsList.tsx
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/mcp_oauth_provider.ts
  front/lib/api/oauth/providers/mcp.ts
  front/lib/swr/mcp_servers.ts
  front/pages/api/w/[wId]/mcp/index.ts
  sdks/js/src/internal_mime_types.ts
Labels: migration-ack, sdk-ack

#13319 Polish Feature Flag in Poke
  front/components/poke/features/columns.tsx
  front/components/poke/features/table.tsx
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/toggle_feature_flag.ts
  front/lib/swr/poke.ts
  front/pages/api/poke/workspaces/[wId]/features.ts
  front/poke/swr/data_sources.ts
  front/types/shared/feature_flags.ts
  front/types/shared/utils/date_utils.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13322 Add MCP server views in usage endpoint
  front/lib/workspace_usage.ts
Labels: raw-sql-ack

#13348 Use proper FF for User Provisioning
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/pages/api/w/[wId]/dsync.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13355 Remove `workspace` visibility
  front/lib/resources/conversation_resource.ts
  front/migrations/db/migration_280.sql
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/temporal/labs/transcripts/activities.ts
  front/types/api/internal/assistant.ts
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#13351 feat: Add UI for tables query v2 MCP server actions
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/actions/mcp/details/MCPGetDatabaseSchemaActionDetails.tsx
  front/components/actions/mcp/details/MCPTablesQueryActionDetails.tsx
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query/server_v2.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#13337 Add Dust labs page for MCP action observability
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/swr/mcp_actions.ts
  front/pages/api/w/[wId]/labs/mcp_actions/[agentId]/index.ts
  front/pages/w/[wId]/labs/index.tsx
  front/pages/w/[wId]/labs/mcp_actions/[agentId]/index.tsx
  front/pages/w/[wId]/labs/mcp_actions/index.tsx
  front/types/labs.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13371 Improve find_tags tools for search-related MCP servers
  front/lib/actions/mcp_internal_actions/servers/common/find_tags_tool.ts
  front/lib/actions/mcp_internal_actions/servers/include.ts
  front/lib/actions/mcp_internal_actions/servers/process.ts
  front/lib/actions/mcp_internal_actions/servers/search.ts
Labels: claude-review-requested

#13274 Jgr142/feat/api user access
  front/lib/resources/space_resource.ts
  front/pages/api/v1/w/[wId]/members.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/members/[userId].ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/members/index.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#13384 Simplify oauth code and fix column size
  front/components/assistant/details/AssistantToolsSection.tsx
  front/lib/api/oauth.ts
  front/lib/api/oauth/providers/salesforce.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_282.sql
  front/types/oauth/lib.ts
Labels: migration-ack

#13357 [front] - feat(groups): spaces group provisioning
  front/components/spaces/BatchAddMembersPopover.tsx
  front/components/spaces/CreateOrEditSpaceModal.tsx
  front/components/spaces/SearchGroupsDropdown.tsx
  front/components/spaces/SearchMembersPopover.tsx
  front/lib/api/poke/plugins/workspaces/create_space.ts
  front/lib/api/spaces.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/space_resource.ts
  front/lib/resources/storage/models/spaces.ts
  front/lib/swr/groups.ts
  front/lib/swr/spaces.ts
  front/migrations/db/migration_283.sql
  front/pages/api/w/[wId]/groups.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/types/api/internal/spaces.ts
  front/types/groups.ts
  front/types/resource_permissions.ts
  front/types/space.ts
Labels: migration-ack

#13442 [front] feat: Groups in workspace settings
  front/components/groups/GroupsList.tsx
  front/components/members/InvitationModal.tsx
  front/components/members/MembersList.tsx
  front/components/spaces/CreateOrEditSpaceModal.tsx
  front/lib/api/workspace.ts
  front/lib/resources/user_resource.ts
  front/pages/w/[wId]/members/index.tsx
Labels: claude-review-requested

#13446 [front] provisioning: add authentication endpoints in api v1
  front/lib/api/config.ts
  front/pages/api/v1/auth/[action].ts
Labels: documentation-ack

#13510 [front] chore(MCP): remove/refresh outdated TODOs
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/actions/mcp/details/MCPToolOutputDetails.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/lib/actions/mcp_internal_actions/servers/data_sources_file_system.ts
  front/lib/actions/mcp_internal_actions/servers/tables_query/server.ts
  front/lib/api/assistant/permissions.ts
  front/lib/models/assistant/actions/mcp.ts
Labels: migration-ack

#13577 Upg: refine types and schemas around table upsert
  front/lib/api/data_sources.ts
  front/lib/api/files/upsert.ts
  front/types/api/public/data_sources.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13555 [front] feat(FS tools): add UI for `locate_in_tree`
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/actions/mcp/details/MCPDataSourcesFileSystemActionDetails.tsx
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/data_sources_file_system.ts
  front/lib/content_nodes.ts
  front/types/core/core_api.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#13588 Slack handle rate limit
  connectors/migrations/db/migration_79.sql
  connectors/scripts/mark_rate_limited_slack_connectors.ts
  connectors/src/resources/connector_resource.ts
  connectors/src/resources/storage/models/connector_model.ts
Labels: migration-ack

#13587 [poke] feat(webcrawler): Act on firecrawl when doing maintenance operation
  connectors/migrations/db/migration_80.sql
  connectors/src/connectors/webcrawler/index.ts
  connectors/src/connectors/webcrawler/temporal/activities.ts
  connectors/src/lib/models/webcrawler.ts
  connectors/src/resources/webcrawler_resource.ts
Labels: migration-ack

#13607 Add: slack mcp server
  core/src/oauth/providers/slack.rs
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/slack.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/oauth/providers/slack.ts
  front/package-lock.json
  front/package.json
  front/types/shared/feature_flags.ts
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13727 Add skipReason column to GithubCodeFile
  connectors/migrations/db/migration_82.sql
  connectors/src/lib/models/github.ts
Labels: migration-ack

#13743 Salesforce: remove feature flag for connection, replace with the one for synced_queries
  front/lib/connector_providers.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#13762 Update @dust-tt/client version to 1.0.55
  sdks/js/package-lock.json
  sdks/js/package.json
Labels: sdk-ack

#13777 [Durable Agents] Legacy actions: move templates to mcp
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/AssistantBuilderPreviewDrawer.tsx
Labels: claude-review-requested

#13779 fix: update package version to 1.0.56 and remove name field from SearchResultResourceSchema
  sdks/js/package-lock.json
  sdks/js/package.json
  sdks/js/src/output_schemas.ts
Labels: sdk-ack

#13783 feat: remove agent message contents
  front/admin/db.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/models/assistant/agent_message_content.ts
  front/migrations/20250124_backfill_agent_message_contents.ts
  front/migrations/db/migration_284.sql
Labels: migration-ack

#13793 Add agent data retention table
  front/admin/db.ts
  front/lib/models/assistant/agent_data_retention.ts
  front/migrations/db/migration_285.sql
  front/poke/temporal/activities.ts
Labels: migration-ack

#13851 Fix terminology in clientside mcp endpoint doc and add link to official documentation
  front/pages/api/v1/w/[wId]/mcp/heartbeat.ts
  front/pages/api/v1/w/[wId]/mcp/register.ts
  front/pages/api/v1/w/[wId]/mcp/requests.ts
  front/pages/api/v1/w/[wId]/mcp/results.ts
  front/public/swagger.json
Labels: documentation-ack

#13827 [front] feat(memberships): track membership origin
  front/admin/init_dust_apps.ts
  front/lib/api/signup.ts
  front/lib/resources/membership_resource.ts
  front/lib/resources/storage/models/membership.ts
  front/migrations/20230413_workspaces_memberships.ts
  front/migrations/20250626_backfill_membership_origin.ts
  front/migrations/db/migration_288.sql
  front/pages/api/create-new-workspace.ts
  front/scripts/dev/create_test_workspaces.ts
  front/temporal/workos_events_queue/activities.ts
  front/tests/utils/MembershipFactory.ts
  front/types/memberships.ts
Labels: migration-ack

#13680 [front] move mcp view fetch to the client side
  front/components/agent_builder/AgentBuilderContext.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/AddToolsDropdown.tsx
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/assistant_builder/AssistantBuilderContext.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/contexts/MCPServerViewsContext.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/useBuilderActionInfo.ts
  front/components/assistant_builder/useTools.ts
  front/components/me/UserToolsTable.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/swr/mcp_servers.ts
  front/pages/api/w/[wId]/mcp/views/index.ts
  front/pages/w/[wId]/builder/agents/new.tsx
  front/pages/w/[wId]/builder/assistants/[aId]/index.tsx
  front/pages/w/[wId]/builder/assistants/new.tsx
  sdks/js/src/types.ts
Labels: sdk-ack

#13832 Add script to move AgentRetrievalAction to AgentMCPAction
  front/lib/actions/mcp.ts
  front/lib/data_sources.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/models/assistant/agent.ts
  front/migrations/20250625_move_search_retrieval_actions_to_mcp.ts
Labels: migration-ack

#13894 Clean-up legacy Retrieval Action related code
  connectors/src/connectors/slack/chat/citations.ts
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  extension/ui/components/conversation/AgentMessage.tsx
  front/admin/db.ts
  front/components/actions/retrieval/RetrievalActionDetails.tsx
  front/components/actions/retrieval/utils.tsx
  front/components/actions/types.ts
  front/components/assistant/details/AssistantKnowledgeSection.tsx
  front/components/assistant/details/AssistantToolsSection.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/lib/actions/configuration/helpers.ts
  front/lib/actions/configuration/retrieval.ts
  front/lib/actions/mcp_internal_actions/servers/process.ts
  front/lib/actions/process.ts
  front/lib/actions/retrieval.ts
  front/lib/actions/runners.ts
  front/lib/actions/types/agent.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/types/index.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/citations.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/permissions.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/assistant/state/messageReducer.ts
  front/lib/data_sources.ts
  front/lib/models/assistant/actions/retrieval.ts
  front/lib/poke/conversations.ts
  front/lib/poke/types.ts
  front/lib/resources/retrieval_document_resource.ts
  front/migrations/20240119_migrate_pre_code_github_assistants.ts
  front/migrations/20240506_actions_step_backfill.ts
  front/migrations/20250123_backfill_retrieval.ts
  front/migrations/20250625_move_search_retrieval_actions_to_mcp.ts
  front/migrations/db/migration_289.sql
  front/pages/poke/[wId]/assistants/[aId]/index.tsx
  front/pages/poke/kill.tsx
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack
