Repository dust-tt/dust, pull requests merged in 2025-10, with the labels that each got.

#16455 [front] feat(cc): add support for renaming created files
  front/lib/actions/mcp_internal_actions/servers/content_creation/index.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/instructions.ts
  front/lib/actions/mcp_internal_actions/servers/content_creation/types.ts
  front/lib/api/files/client_executable.ts
  front/lib/resources/file_resource.ts
Labels: claude-review-requested

#16423 Add chip instead of long pasted text
  extension/ui/components/input_bar/editor/useCustomEditor.tsx
  front/components/assistant/conversation/UserMessage.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/input_bar/editor/PastedAttachmentComponent.tsx
  front/components/assistant/conversation/input_bar/editor/extensions/PastedAttachmentExtension.ts
  front/components/assistant/conversation/input_bar/editor/markdownSerializer.ts
  front/components/assistant/conversation/input_bar/editor/useCustomEditor.tsx
  front/components/markdown/PastedAttachmentBlock.tsx
Labels: claude-review-requested

#16443 feat: make web summary available behind ff
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/agent_builder/capabilities/mcp/MCPServerSelectionPage.tsx
  front/components/agent_builder/capabilities/mcp/MCPServerViewsSheet.tsx
  front/components/agent_builder/capabilities/shared/AdditionalConfigurationSection.tsx
  front/lib/actions/mcp_internal_actions/constants.test.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/input_configuration.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/webtools.ts
  front/lib/actions/mcp_internal_actions/servers/webtools_edge.ts
  front/lib/actions/mcp_internal_actions/utils/web_summarization.ts
  front/lib/actions/types/guards.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust-deep.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#16583 [HOOTL] Add subscribedEvents to webhook source
  front/lib/models/assistant/triggers/webhook_source.ts
  front/lib/resources/webhook_source_resource.ts
  front/migrations/db/migration_375.sql
  front/pages/api/w/[wId]/webhook_sources/index.ts
  front/tests/utils/WebhookSourceFactory.ts
  front/types/triggers/webhooks.ts
Labels: migration-ack

#16417 [cli] fix: refresh token
  cli/eslint.config.js
  cli/src/ui/commands/Auth.tsx
  cli/src/ui/commands/chat/nonInteractive.ts
  cli/src/utils/authService.ts
  cli/src/utils/dustClient.ts
  cli/src/utils/tokenStorage.ts
Labels: claude-review-requested

#16650 Fix Dust GitHub URLs in SDK package.json
  sdks/js/package.json
Labels: sdk-ack
