Repository dust-tt/dust, pull requests merged in 2025-03, with the labels that each got.

#11158 Upg: use hybrid events for all, use singleton for rate limiter
  front/lib/api/assistant/pubsub.ts
  front/lib/api/redis-hybrid-manager.ts
  front/lib/poke/types.ts
  front/pages/poke/kill.tsx
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
  types/src/shared/rate_limiter.ts
Labels: sdk-ack

#11195 Flav/change connector update
  connectors/migrations/20230505_add_notion_connector_state.ts
  connectors/migrations/20250304_add_notion_workspace_id_to_connector_state.ts
  connectors/migrations/db/migration_55.sql
  connectors/migrations/db/migration_56.sql
  connectors/src/connectors/github/index.ts
  connectors/src/connectors/notion/index.ts
  connectors/src/connectors/notion/lib/utils.ts
  connectors/src/lib/models/notion.ts
Labels: migration-ack

#11210 refactor(connectors) - fix naming of models
  connectors/migrations/20241219_backfill_intercom_data_source_folders.ts
  connectors/migrations/20250102_clean_zendesk_tickets_articles.ts
  connectors/migrations/20250123_backfill_intercom_folders.ts
  connectors/migrations/20250123_remove_intercom_hc_nodes.ts
  connectors/src/admin/db.ts
  connectors/src/api/webhooks/webhook_intercom.ts
  connectors/src/connectors/intercom/index.ts
  connectors/src/connectors/intercom/lib/cli.ts
  connectors/src/connectors/intercom/lib/conversation_permissions.ts
  connectors/src/connectors/intercom/lib/help_center_permissions.ts
  connectors/src/connectors/intercom/lib/permissions.ts
  connectors/src/connectors/intercom/lib/utils.ts
  connectors/src/connectors/intercom/temporal/activities.ts
  connectors/src/connectors/intercom/temporal/sync_conversation.ts
  connectors/src/connectors/intercom/temporal/sync_help_center.ts
  connectors/src/connectors/zendesk/index.ts
  connectors/src/connectors/zendesk/temporal/activities.ts
  connectors/src/connectors/zendesk/temporal/incremental_activities.ts
  connectors/src/lib/models/intercom.ts
  connectors/src/lib/models/zendesk.ts
  connectors/src/resources/connector/intercom.ts
  connectors/src/resources/connector/strategy.ts
  connectors/src/resources/connector/zendesk.ts
  connectors/src/resources/zendesk_resources.ts
Labels: migration-ack

#11221 feat(Gong) - Add Gong as connector provider
  connectors/migrations/db/migration_57.sql
  connectors/src/admin/db.ts
  connectors/src/api/configuration.ts
  connectors/src/api/create_connector.ts
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/index.ts
  connectors/src/lib/models/gong.ts
  connectors/src/resources/connector/gong.ts
  connectors/src/resources/connector/strategy.ts
  connectors/src/start_worker.ts
  extension/app/src/components/markdown/MarkdownCitation.tsx
  front/components/ConnectorPermissionsModal.tsx
  front/components/assistant_builder/shared.ts
  front/components/markdown/MarkdownCitation.tsx
  front/components/spaces/AddConnectionMenu.tsx
  front/lib/api/content_nodes.ts
  front/lib/connector_providers.ts
  front/lib/data_sources.ts
  front/lib/document_upsert_hooks/hooks/tracker/consts.ts
  front/migrations/20241211_parents_front_migrator.ts
  front/migrations/20241211_parents_migrator.ts
  sdks/js/src/types.ts
  types/src/front/data_source.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#11206 Gong connector scaffolding
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/gong/lib/errors.ts
  connectors/src/connectors/gong/lib/gong_api.ts
  connectors/src/connectors/gong/temporal/activities.ts
  connectors/src/connectors/gong/temporal/cast_known_errors.ts
  connectors/src/connectors/gong/temporal/client.ts
  connectors/src/connectors/gong/temporal/config.ts
  connectors/src/connectors/gong/temporal/worker.ts
  connectors/src/connectors/gong/temporal/workflows.ts
  connectors/src/resources/gong_resources.ts
  connectors/src/start_worker.ts
Labels: migration-ack, sdk-ack

#11234 Gong users take 2
  connectors/migrations/db/migration_59.sql
  connectors/src/connectors/gong/lib/gong_api.ts
  connectors/src/connectors/gong/lib/users.ts
  connectors/src/connectors/gong/lib/utils.ts
  connectors/src/connectors/gong/temporal/activities.ts
  connectors/src/lib/models/gong.ts
  connectors/src/resources/gong_resources.ts
Labels: migration-ack

#11231 feat(Gong) - Add transcripts sync
  connectors/migrations/db/migration_60.sql
  connectors/src/admin/db.ts
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/gong/lib/gong_api.ts
  connectors/src/connectors/gong/lib/internal_ids.ts
  connectors/src/connectors/gong/lib/upserts.ts
  connectors/src/connectors/gong/temporal/activities.ts
  connectors/src/connectors/gong/temporal/workflows.ts
  connectors/src/lib/models/gong.ts
  connectors/src/resources/connector/gong.ts
  connectors/src/resources/gong_resources.ts
  front/lib/api/content_nodes.ts
  front/lib/connector_providers.ts
  types/src/shared/internal_mime_types.ts
Labels: migration-ack

#11238 Flav/gong users take 2
  connectors/migrations/db/migration_61.sql
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/gong/lib/gong_api.ts
  connectors/src/connectors/gong/lib/oauth.ts
  connectors/src/lib/models/gong.ts
  connectors/src/resources/gong_resources.ts
  front/components/ConnectorPermissionsModal.tsx
  front/components/data_source/gong/GongOptionComponent.tsx
  front/lib/connector_providers.ts
Labels: migration-ack

#11256 GA Gong connector
  front/lib/connector_providers.ts
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#11262 Add search_labels supporting action for dynamic label filtering
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  extension/app/src/components/conversation/AgentMessage.tsx
  front/admin/db.ts
  front/components/actions/SearchLabelsActionDetails.tsx
  front/components/actions/conversation/include_file/IncludeFileActionDetails.tsx
  front/components/actions/types.ts
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/api/assistant/actions/constants.ts
  front/lib/api/assistant/actions/process.ts
  front/lib/api/assistant/actions/retrieval.ts
  front/lib/api/assistant/actions/runners.ts
  front/lib/api/assistant/actions/search_labels.ts
  front/lib/api/assistant/actions/types.ts
  front/lib/api/assistant/actions/utils.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/models/assistant/actions/search_labels.ts
  front/lib/poke/conversations.ts
  front/lib/swr/data_sources.ts
  front/migrations/db/migration_176.sql
  front/pages/api/w/[wId]/data_sources/tags.ts
  front/poke/temporal/activities.ts
  sdks/js/src/index.ts
  sdks/js/src/types.ts
  types/src/front/assistant/actions/guards.ts
  types/src/front/assistant/actions/index.ts
  types/src/front/assistant/actions/search_labels.ts
  types/src/front/assistant/agent.ts
  types/src/front/assistant/conversation.ts
  types/src/front/data_source.ts
  types/src/front/lib/core_api.ts
  types/src/index.ts
Labels: migration-ack, sdk-ack

#11269 Add: plug-in to unstuck synching notion nodes
  connectors/src/api/admin.ts
  connectors/src/connectors/notion/lib/cli.ts
  connectors/src/lib/models/notion.ts
  front/lib/api/poke/plugins/data_sources/index.ts
  front/lib/api/poke/plugins/data_sources/notion_unstuck_syncing_nodes.ts
  types/src/connectors/admin/cli.ts
Labels: migration-ack

#11310 Upg: remove old events code
  front/lib/api/assistant/pubsub.ts
  front/lib/poke/types.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/poke/kill.tsx
Labels: documentation-ack

#11164 Update the table query action results to generate and store both CSV file and Rich text file (extracted from long columns).
  front/lib/api/assistant/actions/action_file_helpers.ts
  front/lib/api/assistant/actions/dust_app_run.ts
  front/lib/api/assistant/actions/result_file_helpers.ts
  front/lib/api/assistant/actions/tables_query.ts
  front/lib/api/csv.ts
  front/lib/api/files/tool_output.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.ts
  front/lib/models/assistant/actions/tables_query.ts
  front/migrations/db/migration_178.sql
  sdks/js/src/types.ts
  types/src/front/assistant/actions/tables_query.ts
  types/src/front/files.ts
Labels: migration-ack, sdk-ack

#11332 feat(front): make auth return a UserResource & add metadatas to resource
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/email_trigger.ts
  front/lib/api/poke/plugins/global/create_workspace.ts
  front/lib/api/poke/plugins/workspaces/invite_user.ts
  front/lib/api/user.ts
  front/lib/auth.ts
  front/lib/persisted_navigation_selection.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/resources/plugin_run_resource.ts
  front/lib/resources/user_resource.ts
  front/lib/tracking/server.ts
  front/pages/api/user/metadata/[key]/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/feedbacks.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/content_fragment/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/feedbacks/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/reactions/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/invitations/index.ts
  front/pages/index.tsx
  front/pages/w/[wId]/assistant/[cId]/index.tsx
  front/pages/w/[wId]/developers/api-keys.tsx
  front/pages/w/[wId]/developers/providers.tsx
  front/pages/w/[wId]/members/index.tsx
  front/pages/w/[wId]/subscription/payment_processing.tsx
  front/pages/w/[wId]/welcome.tsx
  front/poke/temporal/activities.ts
Labels: documentation-ack

#11336 [Attach] Include content nodes attached from inputbar in conversation (documents only)
  front/components/assistant/HelpDrawer.tsx
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/lib.ts
  front/components/assistant_builder/TryAssistant.tsx
  front/components/navigation/HelpDropdown.tsx
  front/lib/api/assistant/actions/conversation/include_file.ts
  front/lib/api/assistant/actions/conversation/list_files.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/content_fragment.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.ts
  front/lib/resources/content_fragment_resource.ts
  front/lib/resources/storage/models/content_fragment.ts
  front/lib/resources/storage/models/data_source_view.ts
  front/migrations/db/migration_179.sql
  front/migrations/db/migration_181.sql
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/content_fragments.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/content_fragment/index.ts
  sdks/js/src/types.ts
  types/src/front/api_handlers/internal/assistant.ts
  types/src/front/assistant/actions/conversation/list_files.ts
  types/src/front/content_fragment.ts
  types/src/front/files.ts
  types/src/shared/internal_mime_types.ts
Labels: migration-ack, documentation-ack, sdk-ack

#11378 [front] relocation: relocate dust apps
  front/lib/utils/apps.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/export.ts
  front/temporal/relocation/activities/destination_region/core/apps.ts
  front/temporal/relocation/activities/destination_region/core/index.ts
  front/temporal/relocation/activities/source_region/core/apps.ts
  front/temporal/relocation/activities/source_region/core/index.ts
  front/temporal/relocation/activities/types.ts
  front/temporal/relocation/workflows.ts
Labels: documentation-ack

#11264 feat(Gong) - add an optional retention policy
  connectors/migrations/db/migration_62.sql
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/gong/lib/internal_ids.ts
  connectors/src/connectors/gong/lib/upserts.ts
  connectors/src/connectors/gong/temporal/activities.ts
  connectors/src/connectors/gong/temporal/workflows.ts
  connectors/src/lib/models/gong.ts
  connectors/src/resources/gong_resources.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
Labels: migration-ack

#11401 enh(core) - Add non empty titles validation on upserts
  core/bin/core_api.rs
  front/lib/api/data_sources.ts
  front/lib/error.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.ts
Labels: documentation-ack

#11422 enh(`api/v1`) - Trim titles on upserts to fallback correctly on "Untitled document"
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
Labels: documentation-ack

#11432 fix(`api/v1`) - Add trimming on title in tags
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
Labels: documentation-ack

#11317 Cleanup transcripts front code + make Gong processing use the native connector's oAuth connection
  connectors/src/types/oauth/lib.ts
  front/components/labs/transcripts/DeleteProviderDialog.tsx
  front/components/labs/transcripts/ProcessingConfiguration.tsx
  front/components/labs/transcripts/ProviderSelection.tsx
  front/components/labs/transcripts/StorageConfiguration.tsx
  front/components/labs/transcripts/providers/GongConnection.tsx
  front/components/labs/transcripts/providers/GoogleDriveConnection.tsx
  front/components/labs/transcripts/providers/ModjoConnection.tsx
  front/lib/resources/labs_transcripts_resource.ts
  front/lib/resources/storage/models/labs_transcripts.ts
  front/lib/swr/labs.ts
  front/migrations/20250306_gong_labs_to_connector.ts
  front/migrations/db/migration_182.sql
  front/migrations/db/migration_183.sql
  front/pages/api/w/[wId]/labs/transcripts/[tId].ts
  front/pages/api/w/[wId]/labs/transcripts/connector.ts
  front/pages/api/w/[wId]/labs/transcripts/default.ts
  front/pages/api/w/[wId]/labs/transcripts/index.ts
  front/pages/w/[wId]/assistant/labs/transcripts/index.tsx
  front/temporal/labs/activities.ts
  front/temporal/labs/utils/gong.ts
  front/temporal/labs/utils/modjo.ts
  front/types/labs.ts
  front/types/oauth/lib.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
  types/src/index.ts
Labels: migration-ack, sdk-ack

#11439 Add fallback on titles for `data_sources_folders`
  connectors/src/connectors/intercom/temporal/sync_help_center.ts
  connectors/src/types/shared/retries.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/[fId].ts
Labels: documentation-ack

#11440 Salesforce enabled per plan
  front/components/poke/plans/form.tsx
  front/components/poke/subscriptions/table.tsx
  front/lib/connector_providers.ts
  front/lib/models/plan.ts
  front/lib/plans/enterprise_plans.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/migrations/db/migration_184.sql
  front/pages/api/poke/plans.ts
  front/types/plan.ts
Labels: migration-ack

#11409 [front] mcp(remote): create remote server model
  front/admin/db.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/migrations/db/migration_185.sql
Labels: migration-ack

#11472 [Upsert] Prevent empty title in v1
  front/lib/api/data_sources.ts
Labels: documentation-ack

#11445 Add support for Claude Sonnet 3.7 as a reasoning tool
  core/src/blocks/chat.rs
  core/src/providers/anthropic.rs
  front/components/providers/types.ts
  front/lib/actions/reasoning.ts
  front/types/assistant/assistant.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Labels: sdk-ack

#11490 fix: correct `api/v1` doc section relative to the `timestamp` field in upserts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/public/swagger.json
Labels: documentation-ack

#11489 [Attach] Ability to include tables from knowledge in conversation
  front/components/assistant/conversation/input_bar/InputBarAttachmentsPicker.tsx
  front/lib/actions/conversation/include_file.ts
  front/lib/actions/conversation/list_files.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/resources/content_fragment_resource.ts
  front/lib/resources/storage/models/content_fragment.ts
  front/migrations/db/migration_186.sql
  front/types/content_fragment.ts
  front/types/files.ts
  sdks/js/src/types.ts
Labels: migration-ack, sdk-ack

#11526 [v1 API - tables] Use default title for tables
  front/lib/api/content_nodes.ts
  front/lib/api/data_sources.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Labels: documentation-ack

#11457 Add: MCP Internal action "helloworld" (behind ff)
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  front/components/actions/mcp/MCPActionDetails.tsx
  front/components/actions/types.ts
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/details/AssistantActionsSection.tsx
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/components/poke/spaces/view.tsx
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/constants.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/helloworld.ts
  front/lib/actions/mcp_internal_actions/index.ts
  front/lib/actions/process.ts
  front/lib/actions/retrieval.ts
  front/lib/actions/runners.ts
  front/lib/actions/types/agent.ts
  front/lib/actions/types/guards.ts
  front/lib/actions/types/index.ts
  front/lib/actions/utils.ts
  front/lib/api/assistant/agent.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/api/assistant/utils.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/poke/conversations.ts
  front/lib/poke/utils.ts
  front/lib/swr/workspaces.ts
  front/migrations/db/migration_180.sql
  front/migrations/db/migration_183.sql
  front/package-lock.json
  front/package.json
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/types/api/internal/agent_configuration.ts
  front/types/assistant/conversation.ts
  front/types/assistant/generation.ts
  front/types/poke/index.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
  types/src/index.ts
  x/seb/ws/.gitignore
Labels: migration-ack, sdk-ack

#11423 [API v1 - Conversations] Require non-empty user messages
  front/lib/api/assistant/agent.ts
  front/pages/api/v1/w/[wId]/swagger_schemas.ts
  front/types/api/internal/assistant.ts
  front/types/assistant/generation.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#11554 Allow JSON format export of workspace usage
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/public/swagger.json
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#11562 [front] mcp(remote): adapt model and create resource
  front/lib/models/assistant/actions/mcp.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/migrations/db/migration_188.sql
Labels: migration-ack

#11600 Check for table's name uniquess in core instead of fetching all tables in front when upserting
  core/src/stores/postgres.rs
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
Labels: documentation-ack

#11593 Add internal types for MCP tool inputs
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  sdks/js/src/internal_mime_types.ts
Labels: sdk-ack

#11608 Make the table name uniqness check optional
  core/bin/core_api.rs
  core/src/stores/postgres.rs
  core/src/stores/store.rs
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/types/core/core_api.ts
Labels: documentation-ack

#11604 Add data source configuration to MCP agent configuration
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/data_sources.ts
  front/migrations/db/migration_190.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/types/api/internal/agent_configuration.ts
Labels: migration-ack

#11617 Bump `sdk/js` version
  sdks/js/package.json
Labels: sdk-ack

#11623 Add: tools metadata to server metadata, icon in metadata
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/constants.ts
  front/lib/actions/mcp_actions.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/package-lock.json
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp/remote/[serverId]/sync.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp/remote/[serverId]/sync.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp/remote/index.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp/remote/index.ts
  front/tests/utils/RemoteMCPServerFactory.ts
Labels: migration-ack

#11607 [front] Add connection flow for Internal MCP servers
  front/admin/db.ts
  front/components/actions/mcp/CapabilitiesList.tsx
  front/components/navigation/NavigationSidebar.tsx
  front/components/navigation/config.ts
  front/hooks/useMCPConnectionManagement.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/constants.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/helloworld.ts
  front/lib/actions/mcp_internal_actions/index.ts
  front/lib/models/assistant/actions/mcp_server_connection.ts
  front/lib/models/assistant/actions/remote_mcp_server.ts
  front/lib/resources/mcp_server_connection_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/lib/resources/string_ids.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_191.sql
  front/migrations/db/migration_192.sql
  front/pages/api/w/[wId]/mcp/connections/[cId]/index.ts
  front/pages/api/w/[wId]/mcp/connections/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp/remote/index.ts
  front/pages/w/[wId]/developers/capabilities.tsx
  front/types/error.ts
  front/types/oauth/lib.ts
Labels: migration-ack

#11621 Improve Relocation Speed
  front/admin/init_dust_apps.ts
  front/components/data_source/MultipleDocumentsUpload.tsx
  front/hooks/useFileUploaderService.ts
  front/lib/api/data_sources.ts
  front/lib/api/labs.ts
  front/lib/api/poke/plugins/data_sources/notion_url_sync.ts
  front/lib/api/poke/plugins/workspaces/compute_statistics.ts
  front/lib/api/poke/plugins/workspaces/revoke_users.ts
  front/lib/api/tracker.ts
  front/lib/resources/space_resource.ts
  front/lib/utils/apps.ts
  front/lib/utils/async_utils.ts
  front/migrations/20241211_parents_front_migrator.ts
  front/migrations/20241211_parents_migrator.ts
  front/migrations/20250107_check_folder_parents.ts
  front/migrations/20250108_backfill_folder_parents.ts
  front/migrations/20250128_fix_notion_parents.ts
  front/migrations/20250131_fix_google_drive_parents.ts
  front/migrations/20250203_backfill_folders_parents.ts
  front/migrations/20250204_fix_google_drive_folders_parents.ts
  front/migrations/20250225_backfill_core_data_source_name.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/check.ts
  front/scripts/remove_draft_agent_configurations.ts
  front/scripts/workspace_helpers.ts
  front/temporal/relocation/activities/destination_region/core/apps.ts
  front/temporal/relocation/activities/destination_region/core/documents.ts
  front/temporal/relocation/activities/destination_region/core/folders.ts
  front/temporal/relocation/activities/destination_region/core/tables.ts
  front/temporal/relocation/activities/source_region/core/documents.ts
  front/temporal/relocation/activities/source_region/core/tables.ts
  front/temporal/relocation/workflows.ts
  front/types/index.ts
Labels: documentation-ack

#11625 Use sqids for internal servers as well as remote servers
  connectors/package-lock.json
  front/components/actions/mcp/CapabilitiesList.tsx
  front/components/assistant_builder/actions/MCPAction.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/assistant_builder/types.ts
  front/hooks/useMCPConnectionManagement.ts
  front/lib/actions/configuration/mcp.ts
  front/lib/actions/constants.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/data_source_utils.ts
  front/lib/actions/mcp_internal_actions/helloworld.ts
  front/lib/actions/mcp_internal_actions/index.ts
  front/lib/api/assistant/configuration.ts
  front/lib/models/assistant/actions/mcp.ts
  front/lib/models/assistant/actions/mcp_server_connection.ts
  front/lib/resources/mcp_server_connection_resource.ts
  front/lib/resources/string_ids.ts
  front/lib/swr/mcp_servers.ts
  front/migrations/db/migration_193.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/mcp/[serverId]/index.ts
  front/pages/api/w/[wId]/mcp/connections/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp/index.ts
  front/pages/w/[wId]/developers/capabilities.tsx
  front/types/api/internal/agent_configuration.ts
Labels: migration-ack

#11650 Backfill empty titles
  core/src/search_stores/migrations/20250331_backfill_empty_titles.http
  front/lib/api/data_sources.ts
  front/migrations/20250331_backfill_empty_nodes_titles.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/temporal/relocation/activities/destination_region/core/tables.ts
Labels: documentation-ack
