Repository dust-tt/dust, pull requests merged in 2025-02, with the labels that each got.

#10458 Add index on retrieval_document_chunk
  front/lib/models/assistant/actions/retrieval.ts
  front/migrations/db/migration_166.sql
Labels: migration-ack

#10466 feat: add o3 mini
  core/src/providers/openai.rs
  front/components/assistant_builder/ActionsScreen.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/components/providers/types.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/global_agents.ts
  sdks/js/src/types.ts
  types/src/front/lib/assistant.ts
Labels: sdk-ack

#10478 [Nodes Core] Change broken logic for title split
  connectors/src/connectors/slack/temporal/activities.ts
  front/lib/api/content_nodes.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
Labels: documentation-ack

#10480 enh: ungate reasoning tool
  front/components/assistant_builder/AssistantBuilder.tsx
  front/components/providers/types.ts
  front/lib/api/assistant/actions/utils.ts
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10418 Agent ds tags
  front/lib/models/assistant/actions/data_sources.ts
  front/migrations/db/migration_167.sql
Labels: migration-ack

#10491 Fix docs tags for feedbacks endpoint
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/feedbacks.ts
  front/public/swagger.json
Labels: documentation-ack

#10511 [front] - fix(csv): standardize error type for CSV parsing issues
  connectors/src/lib/error.ts
  front/lib/api/data_sources.ts
  front/lib/api/tables.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.ts
Labels: documentation-ack

#10540 [Tables API] Fix requirement of mimeType
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#10543 Add validation on parents on `api/v1` endpoints that update parents
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/parents.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/parents.ts
Labels: documentation-ack

#10569 File API: use-case improvements
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/v1/w/[wId]/files/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/public/swagger.json
  sdks/js/src/types.ts
  types/src/front/files.ts
Labels: documentation-ack, sdk-ack

#10578 Fix: bigquery and snowflake connectors
  connectors/src/connectors/bigquery/index.ts
  connectors/src/connectors/bigquery/lib/bigquery_api.ts
  connectors/src/connectors/bigquery/lib/permissions.ts
  connectors/src/connectors/bigquery/temporal/activities.ts
  connectors/src/connectors/snowflake/index.ts
  connectors/src/connectors/snowflake/lib/permissions.ts
  connectors/src/connectors/snowflake/temporal/activities.ts
  connectors/src/lib/models/remote_databases.ts
  connectors/src/lib/remote_databases/activities.ts
  connectors/src/lib/remote_databases/utils.ts
  front/components/ConnectorPermissionsModal.tsx
  front/components/spaces/AddConnectionMenu.tsx
  front/lib/api/data_source_view.ts
  front/lib/data_sources.ts
  front/lib/swr/bigquery.ts
  front/lib/swr/memberships.ts
  front/pages/api/w/[wId]/credentials/check_bigquery_locations.test.ts
  front/pages/api/w/[wId]/credentials/check_bigquery_locations.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/index.ts
Labels: migration-ack

#10594 Rename use-cases around upserts
  front/components/data_source/DocumentUploadOrEditModal.tsx
  front/components/data_source/MultipleDocumentsUpload.tsx
  front/components/data_source/TableUploadOrEditModal.tsx
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.ts
  front/lib/resources/file_resource.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/files.test.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/files.ts
  front/pages/api/w/[wId]/files/index.ts
  sdks/js/src/types.ts
  types/src/front/files.ts
Labels: sdk-ack

#10617 Do not upsert schemas and databases to core if already done
  connectors/src/lib/cli.ts
  connectors/src/lib/models/remote_databases.ts
  connectors/src/lib/remote_databases/activities.ts
Labels: migration-ack

#10625 Upsert CSV types clean-up
  front/lib/api/data_sources.ts
  sdks/js/src/types.ts
  types/src/front/api_handlers/public/data_sources.ts
Labels: sdk-ack

#10630 Fix: missing model declaration leading to missing lastUpsertedAt
  connectors/src/lib/models/remote_databases.ts
  connectors/src/lib/remote_databases/activities.ts
Labels: migration-ack

#10649 feat: add missing gemini models (+ prep migration from 2 flash-exp)
  front/components/providers/types.ts
  front/pages/api/w/[wId]/providers/[pId]/models.ts
  sdks/js/src/types.ts
  types/src/front/lib/assistant.ts
Labels: sdk-ack

#10595 Authorize upsert_table use-case on public API if system key
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/v1/w/[wId]/files/index.test.ts
  front/pages/api/v1/w/[wId]/files/index.ts
  sdks/js/src/types.ts
Labels: documentation-ack, sdk-ack

#10699 Add n8n add context Origin
  sdks/js/src/types.ts
  types/src/front/assistant/conversation.ts
Labels: sdk-ack

#10638 Add: support for excel files at upload
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/api/data_sources.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.ts
  front/lib/resources/content_fragment_resource.ts
  front/package-lock.json
  sdks/js/src/types.ts
  types/src/front/assistant/actions/conversation/list_files.ts
  types/src/front/content_fragment.ts
  types/src/front/files.ts
  types/src/shared/text_extraction/index.ts
  types/src/shared/text_extraction/transformToCSV.ts
Labels: sdk-ack

#10562 feat: oauth with salesforce
  connectors/src/api/configuration.ts
  connectors/src/api/create_connector.ts
  connectors/src/api/get_connector.ts
  connectors/src/connectors/index.ts
  connectors/src/resources/connector/strategy.ts
  connectors/src/resources/connector_resource.ts
  connectors/src/start_worker.ts
  core/src/lib.rs
  core/src/oauth/connection.rs
  core/src/oauth/providers/salesforce.rs
  front/components/ConnectorPermissionsModal.tsx
  front/components/assistant_builder/shared.ts
  front/components/markdown/MarkdownCitation.tsx
  front/components/spaces/AddConnectionMenu.tsx
  front/lib/api/config.ts
  front/lib/api/content_nodes.ts
  front/lib/api/oauth.ts
  front/lib/connector_providers.ts
  front/lib/data_sources.ts
  front/lib/document_upsert_hooks/hooks/tracker/consts.ts
  front/migrations/20241211_parents_front_migrator.ts
  front/migrations/20241211_parents_migrator.ts
  front/package-lock.json
  front/package.json
  sdks/js/package-lock.json
  sdks/js/src/types.ts
  types/src/front/data_source.ts
  types/src/oauth/lib.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10731 [front] Use tag filtering for process action
  front/components/actions/process/ProcessActionDetails.tsx
  front/components/actions/retrieval/RetrievalActionDetails.tsx
  front/components/assistant_builder/actions/ProcessAction.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/components/assistant_builder/submitAssistantBuilderForm.ts
  front/lib/api/assistant/actions/process.ts
  front/lib/api/assistant/actions/retrieval.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/configuration/process.ts
  front/lib/api/assistant/configuration/retrieval.ts
  front/lib/models/assistant/actions/process.ts
  front/migrations/db/migration_169.sql
  types/src/front/assistant/actions/process.ts
Labels: migration-ack

#10791 Make BigQuery connector available to all
  front/lib/connector_providers.ts
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10789 [Notion] Allow admin to sync urls on manage page (behind FF)
  front/components/ConnectorPermissionsModal.tsx
  front/components/spaces/AdvancedNotionManagement.tsx
  front/lib/api/poke/plugins/data_sources/notion_url_sync.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/notion_url_sync.ts
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10803 Add isDefaultWorkspaceConfiguration to transcripts and backfill script
  front/lib/resources/labs_transcripts_resource.ts
  front/lib/resources/storage/models/labs_transcripts.ts
  front/migrations/20250214_backfill_gong_modjo_default_configurations.ts
  front/migrations/db/migration_170.sql
  front/pages/api/w/[wId]/labs/transcripts/default.ts
  front/pages/api/w/[wId]/labs/transcripts/index.ts
  types/src/oauth/lib.ts
Labels: migration-ack

#10884 Add log on inconsistent titles in tags
  connectors/src/connectors/microsoft/temporal/file.ts
  connectors/src/connectors/webcrawler/temporal/activities.ts
  front/lib/api/data_sources.ts
  front/lib/error.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/[fId].ts
Labels: documentation-ack

#10877 Fix Google Drive incremental sync on sheet parents update
  connectors/migrations/db/migration_52.sql
  connectors/src/connectors/google_drive/lib.ts
  connectors/src/connectors/google_drive/temporal/spreadsheets.ts
  connectors/src/lib/data_sources.ts
  connectors/src/lib/error.ts
  connectors/src/lib/models/google_drive.ts
Labels: migration-ack

#10917 Add validation on the length of the titles passed in `api/v1`
  front/lib/api/data_sources.ts
  front/lib/content_nodes.ts
  front/lib/error.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.ts
Labels: documentation-ack

#10926 Labels: Allow filtering both auto and custom tags
  front/components/assistant/details/AssistantActionsSection.tsx
  front/components/assistant_builder/tags/DataSourceTagsFilterDropdown.tsx
  front/components/assistant_builder/tags/helpers.ts
  front/lib/api/assistant/actions/process.ts
  front/lib/api/assistant/actions/retrieval.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/configuration/retrieval.ts
  front/lib/models/assistant/actions/data_sources.ts
  types/src/front/api_handlers/internal/agent_configuration.ts
  types/src/front/assistant/actions/retrieval.ts
  types/src/front/data_source_view.ts
Labels: migration-ack

#10931 Add FF to force meet scope for google transcripts
  front/lib/api/oauth.ts
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10732 [front] Remove legacy process tags
  front/components/assistant_builder/DataSourceSelectionSection.tsx
  front/components/assistant_builder/actions/ProcessAction.tsx
  front/components/assistant_builder/server_side_props_helpers.ts
  front/lib/api/assistant/actions/process.ts
  front/lib/api/assistant/configuration.ts
  front/lib/api/assistant/configuration/process.ts
  front/lib/models/assistant/actions/process.ts
  front/migrations/db/migration_172.sql
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/data_sources/tags.ts
  sdks/js/src/types.ts
  types/src/front/api_handlers/internal/agent_configuration.ts
  types/src/front/assistant/actions/process.ts
  types/src/shared/feature_flags.ts
Labels: migration-ack, sdk-ack

#10939 fix: increase file name limit to 512
  sdks/js/src/types.ts
Labels: sdk-ack

#10972 [Search-KB] Use keyword search in knowledge (behind FF)
  front/components/spaces/SpaceDataSourceViewContentList.tsx
  front/lib/api/content_nodes.ts
  front/lib/api/data_source_view.ts
  front/lib/swr/spaces.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/search.ts
  sdks/js/src/types.ts
  types/src/connectors/content_nodes.ts
  types/src/front/lib/core_api.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#11013 improve core - front - connectors invalid CSV errors
  connectors/src/lib/data_sources.ts
  core/bin/core_api.rs
  front/lib/api/data_sources.ts
  front/lib/api/files/upsert.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.ts
Labels: documentation-ack

#11022 drive.meet.readonly scope full release
  front/lib/api/oauth.ts
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#10991 feat(Zendesk) - Allow syncing unresolved tickets
  connectors/migrations/db/migration_53.sql
  connectors/src/connectors/zendesk/index.ts
  connectors/src/connectors/zendesk/lib/sync_ticket.ts
  connectors/src/connectors/zendesk/temporal/activities.ts
  connectors/src/connectors/zendesk/temporal/incremental_activities.ts
  connectors/src/lib/models/zendesk.ts
  front/components/data_source/ZendeskConfigView.tsx
  front/lib/connector_providers.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
Labels: migration-ack

#11041 feat: add claude 3.7 sonnet
  core/src/providers/anthropic.rs
  front/components/providers/types.ts
  front/pages/api/w/[wId]/providers/[pId]/models.ts
  sdks/js/src/types.ts
  types/src/front/lib/assistant.ts
Labels: sdk-ack

#11042 Improve handling of diff between tags.title and title
  front/lib/api/data_sources.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Labels: documentation-ack

#11073 [types] - feat: add 'attach_from_datasources' to `WHITELISTABLE_FEATURES`
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: sdk-ack

#11106 Update doc withAuthors in agent_configuration public API
  front/pages/api/v1/w/[wId]/assistant/agent_configurations.ts
  front/public/swagger.json
Labels: documentation-ack

#11096 [front] - chore(dataSourceView): add `conversationId`
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/data_sources.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/resources/storage/models/data_source_view.ts
  front/migrations/20250227_backfill_conversation_ids.ts
  front/migrations/db/migration_174.sql
  front/tests/utils/DataSourceViewFactory.ts
Labels: migration-ack

#11117 Use a combination of stream and pub/sub to avoid using 2 redis per conversations
  front/lib/api/assistant/pubsub.ts
  front/lib/api/redis-hybrid-manager.ts
  front/lib/api/redis.ts
  front/lib/utils.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  sdks/js/src/types.ts
  types/src/shared/feature_flags.ts
Labels: documentation-ack, sdk-ack

#11123 Revert "[front] - chore(dataSourceView): add `conversationId`"
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/data_sources.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/resources/storage/models/data_source_view.ts
  front/migrations/20250227_backfill_conversation_ids.ts
  front/migrations/db/migration_174.sql
  front/tests/utils/DataSourceViewFactory.ts
Labels: migration-ack
